/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'FontAwesome' !important;
}
.carousel-icon{
	color: #0066a1;
    font-size: 3em;
}
#customers-carousel .item a{
	/* font-family: "Open Sans",sans-serif; */
	font-size: 18px;
	font-weight: 600;
	color: #126bc5;
	text-decoration: none !important;
}
#customers-carousel .item a:hover{
	color: #0A4386;
}
.icon-business-medium:before {
    content: "\f0b1";
}
.icon-credit-score-medium:before {
    content: "\f0e4";
}
.icon-savings-bank-medium:before {
    content: "\f0d6";
}
.icon-checking-medium:before {
    content: "\f0f6";
}
.icon-credit-medium:before {
    content: "\f09d";
}
.icon-mortgage-medium:before {
    content: "\f015";
}
.icon-auto-loan-medium:before {
    content: "\f1b9";
}
.icon-private-medium:before {
    content: "\f0c0";
}
.icon-invest-medium:before {
    content: "\f201";
}
.logo img{
	width: 170px;
	height: auto;
	max-height: 100px
}
.highlight-products{
    border-spacing: 14px 4px;
    text-align: center;
}
.highlight-small-img{
	max-height: 100px;
	max-width: 100px;
	margin: 10px auto;
	display: block;
}
.highlight-products .highlight-product{
	padding: 20px 20px 10px 20px;
	margin: 15px;
    background: #ffffff;
	border: 1px solid black;
	border-radius: 5px;
}
@media only screen and (min-width: 1024px) {
	/*.highlight-products .col-lg-3:not(:last-child){
		border-right: 1px solid #ccc;
	}*/
	.highlight-products .highlight-product{
		float: none;
		display: table-cell;
		vertical-align: top;
		height: 400px;
	    background: #ffffff;
		border: 1px solid black;
	    border-radius: 5px;
	}
	.learn-more-container{
		position: absolute;
		bottom: 10px;
	    left: 0;
	    width: 100%;
	}
	.photo {
		min-height: 30em !important;
	}
}
.highlight-products .heading {
    color: #0062A1;
    font-size: 1.7em;
    line-height: 1em;
	margin: 30px 0;
}
.learn-more{
	display: block;
	margin-top: 20px;
}
.learn-more a > img{
	margin-bottom: 2px;
}
.icon-container{
	height: 100px;
}
a:hover, a:focus{
	color: #0062A1;
}
#header .logo{
	text-align: center!important;
	display: block;
    margin-top: 10px;
	padding: 0;
	margin-right: 0;
	float: none;
}
.responsive-menu-toggle{
	display: block!important;
}
#header{
	height: 68px
}
body.header-fixed {
    padding-top: 68px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1C3240;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	z-index: 9999;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
	background-color: #0062A1;
	margin-bottom: 1px;
	
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 1s linear;
}
.sidenav hr{
	background-color: #0062A1;
}

.sidenav a:hover {
    background-color: #5596C0;
}

.sidenav .closebtn {
    position: absolute;
    top: -8px;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
	background-color: #1C3240;
}
.sidenav .closebtn:hover {
	background-color: #1C3240;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.responsive-menu-toggle{
	cursor: pointer;
}

/* Slider */
.slick-slider {
    position: relative;
    width: 100%;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  max-height: 731px;
  overflow: hidden;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    width: 100%;

    &:focus,
    &:hover {
        outline: 0;
    }
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
    height: auto;
    width: 100%;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 48px;
    height: 48px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'FontAwesome';
    font-size: 48px;
  font-weight: bold;
    line-height: 1;

    opacity: .75;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  transition: opacity 0.25s;
}

.slick-prev {
    left: 0;
    z-index: 1;
}

[dir='rtl'] .slick-prev {
    right: 0;
    left: auto;
}

.slick-prev:before {
    content: '\f104';
}

[dir='rtl'] .slick-prev:before {
    content: '\f105';
}

.slick-next {
    right: 0;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: 0;
}

.slick-next:before {
    content: '\f105';
}

[dir='rtl'] .slick-next:before {
    content: '\f104';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    position: absolute;
    bottom: 16px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 16px;
    height: 16px;
    margin: 0 8px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 16px;
    height: 16px;
    padding: 8px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 1;

    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 16px;

    content: '\f111';
    text-align: center;

    opacity: .25;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity 0.25s;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff;
}

/**
 * Photo
 */
/* .slick-track:before{ */
	/* background: rgba(0, 102, 161, 0.8); */
/* } */
.photo {
  text-align: center;
  background-size: cover;
  background-position: center center;
  min-height: 20em;
  padding-bottom: 5%;
  position: relative;
  will-change: transform;
  
  &.is-animating {
    animation: scale 5s ease-in-out forwards;
  }
  
  &:before {	
    content: "";
    display: block;
  }
  
  * > {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
  }
}
.photo:before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 102, 161, 0.8);
    height: 100%;
    width: 100%;
    z-index: 1;
    display: block;
}
.photo > * {
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.learn-more .learn-more-btn,
.photo .learn-more-btn{
	color: #fff;
	background: #41a343;
	padding: 8px 25px;
    border-radius: 60px;
    margin: 30px auto;
    font-size: 16px;
	font-weight: 600;
    text-align: center;
    border: 1px solid #fff;
}

.learn-more .learn-more-btn:hover,
.learn-more .learn-more-btn:active,
.photo .learn-more-btn:hover,
.photo .learn-more-btn:active{
	background: #6aa341;
    border-color: #6aa341;
}


@keyframes scale {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1) rotate(0.01deg);
    }
}

@media only screen and (min-width: 1024px) {
	.slider-ovelay {
		width: 60%;
		height: 220px;
		background: rgba(255, 255, 255, 0.3);
		margin-top: 15px;
		text-align: center;
		padding: 10px;
	}
}
@media only screen and (max-width: 1024px) {
	.slider-ovelay {
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.1);
		margin-top: 0px;
		text-align: center;
		padding: 10px;
	}
}


/* ------------------ Border Colors --------------------*/
.border-red {
    border-color: #db5565 !important;
}
.border-red-light {
    border-color: #df6a78 !important;
}
.border-red-dark {
    border-color: #c04b59 !important;
}
.border-blue {
    border-color: #0bacd3 !important;
}
.border-blue-light {
    border-color: #29b6d8 !important;
}
.border-blue-dark {
    border-color: #0a97b9 !important;
}
.border-green {
    border-color: #51bf87 !important;
}
.border-green-light {
    border-color: #66c796 !important;
}
.border-green-dark {
    border-color: #47a877 !important;
}
.border-yellow {
    border-color: #f4ad49 !important;
}
.border-yellow-light {
    border-color: #f5b75f !important;
}
.border-yellow-dark {
    border-color: #d69840 !important;
}
.border-white {
    border-color: #ffffff !important;
}
.border-dark {
    border-color: #262d37 !important;
}
.border-dark-light {
    border-color: #303946 !important;
}
.border-dark-dark {
    border-color: #1c2128 !important;
}
.border-gray {
    border-color: #555555 !important;
}
.border-gray-light {
    border-color: #777777 !important;
}
.border-gray-dark {
    border-color: #333333 !important;
}
/* ------------------ SVG Colors --------------------*/
.color-red .inline-svg path {
    fill: #db5565 !important;
}
.color-red-light .inline-svg path {
    fill: #df6a78 !important;
}
.color-red-dark .inline-svg path {
    fill: #c04b59 !important;
}
.color-blue .inline-svg path {
    fill: #0bacd3 !important;
}
.color-blue-light .inline-svg path {
    fill: #29b6d8 !important;
}
.color-blue-dark .inline-svg path {
    fill: #0a97b9 !important;
}
.color-green .inline-svg path {
    fill: #51bf87 !important;
}
.color-green-light .inline-svg path {
    fill: #66c796 !important;
}
.color-green-dark .inline-svg path {
    fill: #47a877 !important;
}
.color-yellow .inline-svg path {
    fill: #f4ad49 !important;
}
.color-yellow-light .inline-svg path {
    fill: #f5b75f !important;
}
.color-yellow-dark .inline-svg path {
    fill: #d69840 !important;
}
.color-white .inline-svg path {
    fill: #ffffff !important;
}
.color-dark .inline-svg path {
    fill: #262d37 !important;
}
.color-dark-light .inline-svg path {
    fill: #303946 !important;
}
.color-dark-dark .inline-svg path {
    fill: #1c2128 !important;
}
.color-gray .inline-svg path {
    fill: #555555 !important;
}
.color-gray-light .inline-svg path {
    fill: #777777 !important;
}
.color-gray-dark .inline-svg path {
    fill: #333333 !important;
}

.service-panel .service-panel-heading div {
    float: left;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    line-height: 36px;
}
.service-panel .service-panel-heading div > img,
.service-panel .service-panel-heading div > svg {
    width: 100%;
    height: auto;
    max-height: 40px;
    /*margin-top: 8px;*/
}
.menu-visible {
    visibility: visible !important; 
    opacity: 1 !important;
}
.slide-1 {
    background-image: url('https://apptest.loanspq.com/images/logos/house_placeholder.jpg')
}
.slide-2 {
    background-image: url('https://www.meridianlink.com/wp-content/uploads/2016/03/cu.jpg')
}
.slide-3 {
    background-image: url('https://www.meridianlink.com/wp-content/uploads/2016/03/Work.png')
}