﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="OnlineUserRegistrationQ2.aspx.vb" Inherits="OnlineUserRegistrationQ2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Q2 Online User Registration</title>
</head>
<body>
    <form name="OnlineEnrollment" id="OnlineEnrollment" method="POST" runat="server">
		 <input type="hidden" id="MemberId" name="MemberId" value="" runat="server"/>
         <input type="hidden" id="MemberNumber" name="MemberNumber" value="" runat="server"/>
         <input type="hidden" id="SocialSecurity"  name="SocialSecurity" value="" runat="server" maxlength="4"/>
         <input type="hidden" id="DOB" name="DOB" value="" runat="server"/>
         <input type="hidden" id="ZipCode" name="ZipCode" value="" runat="server"/>        
		 <input type="submit" value="Submit" hidden="hidden"  runat="server"/>
    </form>

	<script type="text/JavaScript" language="JavaScript" >
		//document.myform.submit();
		document.forms['OnlineEnrollment'].submit();
 </script>  
</body>
</html>
