﻿@media only screen and (min-width: 992px) {
    .loan-info-steps {
        padding-left: 40px;
    }
}

@media only screen and (max-width: 992px) {
    .loan-info-steps {
        padding: 0
    }
}

@media only screen and (max-width: 767px) {
    .loan-info-steps {
        padding-left: 24px !important;
    }

    .ui.ordered.steps .step:before {
        margin: 0 0 0 8px !important
    }

    .ui.steps .step {
        flex-direction: row !important;
        padding: 12px 12px !important;
    }

        .ui.steps .step .content {
            padding-left: 16px;
        }
}

@media (min-width: 768px) {
    .remove-margin-top {
        margin-top: 0 !important
    }
}
