﻿#login {
    color: white;
    text-align: center;
}

    #login .title {
        font-size: 1.2em;
        /*margin-top: 60px;*/
    }

    #login .body {
        font-size: 1.4em;
        margin-top: 20px;
    }

    #login button {
        background-color: transparent;
        padding: 10px 48px;
        border-width: 1px;
        border-color: white;
        border-radius: 0;
        margin-top: 20px;
    }

    #login button:hover {
        color: white;
    }

    #login button.active {
        background-color: white;
        color: black;
        box-shadow: none;
        font-weight: bold;
    }

    #login input {
        border-radius: 0;
        background-color: transparent;
        margin-top: 8px;
        padding-bottom: unset !important;
        color: white;
        font-size: 14px !important;
    }

    #login input:focus {
        color: black;
    }

    #login input::-webkit-input-placeholder {
        color: white;
    }

#login-with-link {
    background-color: #5b599a;
    height: calc(50vh - 45px);
    padding-top: 8vh;
}

@media (min-width: 768px) {
    #login-with-link {
        background-color: #5b599a;
        height: calc(50vh - 45px);
        padding-top: 10vh;
    }
}

#login-with-password {
    background-color: #333333;
    height: calc(50vh - 40px);
    padding-top: 8vh;
}

@media (min-width: 768px) {
    #login-with-password {
        background-color: #333333;
        height: calc(50vh - 40px);
        padding-top: 10vh;
    }
}

.parsley-errors-list {
    margin-bottom: 0;
}
