﻿@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .form-control {
        font-size: 16px !important;
        height: 40px;
        border: 1px solid #f4f4f4;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.10);
    }
}

@media (min-width: 768px) {
    .form-control {
        font-size: 14px !important;
        height: 40px;
        border: 1px solid #f4f4f4;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.10);
    }
}

input:focus {
    background-color: #fff !important;
    border: 1px solid #014c78 !important;
}

.has-error .form-control {
    background-color: #FACCC4;
}

.row {
    margin-top: 12px;
}

.brand {
    background-color: #FFF !important;
}

.menu-item {
    /*border: 2px solid #014c78;
            border-radius: 4px;*/
    font-weight: bold !important;
    line-height: 8px !important;
    margin-bottom: 4px;
    margin-top: 8px;
}

@media (min-width:768px) {
    .menu-item {
        margin-top: 0;
    }
}

.menu-item-link {
    padding: 4px !important;
}

.nav-custom {
    border-width: 0;
    background-color: transparent;
}

.nav li {
    margin-left: 16px;
}

@media (min-width:768px) {
    .nav li {
        margin-left: 20px;
        margin-top: 8px;
    }
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.icon-bar {
    background-color: #014C78 !important;
}

.navbar-brand {
    padding: 0;
}

    .navbar-brand > img {
        height: 100%;
        padding-left: 12px;
        width: 140px;
    }

@media (min-width:768px) {
    .navbar-brand > img {
        width: 140px;
        height: 100%;
        padding: 0;
    }
}

.ml-link {
    cursor: pointer;
    text-decoration: underline
}

.cursor-pointer {
    cursor: pointer
}

.text-bold {
    font-weight: bold;
}

.alert {
    padding: 8px;
}

#footer {
    padding-left: 12px;
}

    #footer > div {
        margin-bottom: 12px;
    }

        #footer > div:last-child > div:not(:first-child) {
            padding-left: 0;
        }

    #footer .header {
        font-weight: bold;
        margin-bottom: 4px;
    }

    #footer a {
        color: #2081BF;
    }

.sign-up-title {
    color: #014C78;
}

.sign-up-link {
    color: #2081BF;
    text-decoration: underline;
}

.text-align-responsive {
    text-align: left;
}

.form-border {
    padding: 0;
    border-width: 0;
}

@media (min-width:768px) {
    .form-border {
        padding: 20px 24px;
        border-radius: 4px;
    }
}

#form > div {
    margin-bottom: 16px;
}

    #form > div > div {
        padding-left: 4px;
        padding-right: 4px;
    }

        #form > div > div:first-child {
            padding-left: 0;
        }

        #form > div > div:last-child {
            padding-right: 0;
        }

#form .form-control[disabled] + label,
fieldset[disabled] .form-control + label {
    color: #ccc;
}

#form .inline-padding-left {
    padding-left: 4px;
}

#form .inline-padding-right {
    padding-right: 4px;
}

@media (min-width:768px) {
    #form .padding-left {
        padding-left: 0;
    }

    #form .padding-right {
        padding-right: 10px;
    }
}

@media (max-width:767px) {
    #form .inline-padding-left.inline-padding-left-mobile {
        padding-left: 10px;
    }

    #form .inline-padding-right.inline-padding-right-mobile {
        padding-right: 10px;
    }
}

.padding-left-default {
    padding-left: 0;
}

.margin-top-default {
    margin-top: 12px !important;
}

.margin-left-default {
    margin-left: 10px !important;
}

.margin-right-default {
    margin-right: 10px !important;
}

.margin-bottom-default {
    margin-bottom: 12px;
}

.margin-top-24 {
    margin-top: 24px !important;
}

.margin-top--10 {
    margin-top: -10px !important;
}

.margin-bottom-4 {
    margin-bottom: 4px !important;
}

.input-margin-top-default {
    margin-top: 8px !important;
}

.input-margin-bottom-default {
    margin-bottom: 8px !important;
}

.input-margin-left-default {
    margin-left: 8px;
}

.remove-padding {
    padding: 0 !important;
}

.remove-margin {
    margin: 0
}

@media (min-width: 768px) {
    .text-align-responsive {
        text-align: center;
    }

    .padding-left-default {
        padding-left: 20px;
    }
}

.ml-radio {
    border: 1px solid #428bca;
    padding: 12px 50px 8px 50px !important;
    border-radius: 20px;
    color: #428bca;
    margin: 0;
    min-width: 100px;
    text-align: center;
}

.ml-radio-checked {
    background-color: #428bca;
    color: white;
}

.pretty.circle label i {
    display: none;
}

.pretty i {
    margin: 10px 10px 5px 0;
    /*margin-right: 8px !important;
            margin-bottom: 2px;*/
}

    .pretty i:after {
        border: 1px solid #428bca !important;
    }

.pretty.primary input:checked + label i:before {
    color: #428bca !important;
    background-color: white !important;
}

.ex .float-label label {
    left: 12px !important;
}

/* RADIO_LIST*/
div.radio-list {
    position: relative;
}

    div.radio-list.radio-checked {
        background: #428bca;
        color: #fff;
    }

    div.radio-list label {
        font-size: 0.95rem;
    }

div.radio-vertical-list {
    padding: 15px;
    padding-left: 15px !important;
    padding-top: 0px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

    div.radio-vertical-list:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    div.radio-vertical-list:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 1px solid #ccc;
    }

    div.radio-vertical-list > input[type='checkbox'],
    .radio-vertical-list > input[type='radio'] {
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
        opacity: 0;
    }

    div.radio-vertical-list label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

        div.radio-vertical-list label::before {
            display: block;
            height: 1rem;
            width: 1rem;
            margin-right: 0.625rem;
            content: "";
            border: 1px solid #000;
            border-radius: 50%;
        }

    div.radio-vertical-list.radio-checked label::before {
        border: none;
        content: "\f192";
        font-family: FontAwesome;
        position: relative;
        top: -3px;
        font-size: 1.2rem;
    }

div.radio-horizontal-list {
    padding: 10px 10px 10px 0 !important;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

    div.radio-horizontal-list:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    div.radio-horizontal-list:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-right: 1px solid #ccc;
    }

    div.radio-horizontal-list > input[type='checkbox'],
    .radio-horizontal-list > input[type='radio'] {
        position: absolute;
        z-index: 99999999;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
        opacity: 0;
    }

@media (max-width:991px) {
    div.radio-horizontal-list {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

        div.radio-horizontal-list:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 0px;
            border-bottom: none;
        }

        div.radio-horizontal-list:last-child {
            border-top: none;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom: 1px solid #ccc;
            border-top-right-radius: 0px;
        }
}
/*COMMON*/
.full-width {
    /* 1/3 of 60% = the 20% margin on either side */
    width: 100% !important;
}

.btn-shadow {
    box-shadow: 2px 3px 5px rgba(4, 4, 4, 0.1) !important;
    -webkit-box-shadow: 2px 3px 5px rgba(4, 4, 4, 0.1) !important;
}

.btn-large {
    padding: 15px 40px;
    border-radius: 45px !important;
}

.btn-small {
    padding: 5px 15px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-border-color {
    border: 3px solid #f2ba4e;
}

.btn-border-only {
    border-radius: 25px;
}

.btn-blue {
    background: #5b599a !important;
    color: #fff !important;
}

.btn-yellow {
    background: #ffc452 !important;
    color: #333;
}

    .btn-yellow:hover {
        background: #f2ba4e !important;
        border-color: #f2ba4e;
        color: #fff;
    }

.margin-l-70 {
    margin-left: 70px;
}

.bg-dark {
    background: #f4f4f4;
}

.clear {
    clear: both;
}
/*LANDING PAGE*/
/*BANNER*/
#banner {
    height: 300px;
    background: url('/Assets/Images/hero-placeholder.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 25px;
}

    #banner > div {
        width: 100%;
        height: 220px;
        background: rgba(255, 255, 255,0.9);
        margin-top: 15px;
        text-align: center;
        padding: 40px;
    }

    #banner h1 {
        color: #333;
    }

.homeImageLink {
    width: 100%;
    text-align: center;
}

    .homeImageLink h1,
    .homeImageLink h5,
    .homeImageLink a {
        color: #333;
    }

    .homeImageLink h1 {
        font-size: 35px;
    }

    .homeImageLink h5 {
        font-size: 12px;
        letter-spacing: 1px;
    }

.certificate {
    padding: 0;
    background: #fff;
}

    .certificate .certificate-wrapper {
        padding: 35px 175px;
    }

    .certificate div.certificate-content {
        width: 25%;
        margin: 20px 0;
        float: left;
        background: #fff;
    }

    .certificate img.certificate-icon {
        float: left;
        width: 42px;
    }

    .certificate h3,
    .certificate span {
        color: #4c4c4c;
    }

    .certificate h3 {
        font-size: 1.7rem;
        margin: 0 0 2px;
    }

    .certificate .certificate-info {
        margin-left: 60px;
        padding-top: 5px;
    }

#support {
    background: #f4f4f4;
    padding: 45px;
}

    #support div.support-panel {
        padding: 10px;
    }

    #support .support-area {
        border-radius: 25px;
        background: #fff;
        padding: 10px 35px;
        line-height: 2.2rem;
    }

    #support h3 {
        color: #333;
    }

    #support .support-area img {
        width: 42px;
        margin: 10px 0;
    }

    #support .support-area h4 {
        font-size: 16px;
        font-weight: bold;
        color: #5b599a;
    }

    #support .support-area p {
        text-align: left;
        color: #4c4c4c;
    }

.certificate.certificate-bottom div.certificate-wrapper {
    padding: 70px 200px;
}

.certificate.certificate-bottom div.certificate-content {
    padding: 0px 0px 70px;
}

@media (max-width:480px) {
    .btn-large {
        padding: 10px 35px;
    }

    #banner h1 {
        font-size: 30px;
    }

    .certificate div.certificate-content {
        width: 100% !important;
        margin: 15px 0 !important;
    }

    .certificate.certificate-bottom div.certificate-content {
        padding: 0;
    }

    #support div.support-panel {
        width: 100% !important;
    }

        #support div.support-panel > div {
            width: 80%;
            margin: 0 auto;
        }
}

@media (max-width:677px) {
    .certificate div.certificate-content {
        width: 50%;
        height: 45px;
    }

    /*#support .support-area {
        padding: 10px 15px;
    }*/
}

@media (max-width:767px) {
    .certificate .certificate-wrapper {
        padding: 35px 45px;
    }

    .certificate.certificate-bottom div.certificate-wrapper {
        padding: 50px 45px;
    }

    #support {
        padding: 45px 0;
    }

        #support div.support-panel {
            width: 50%;
        }

        #support .support-area {
            padding: 10px 15px;
        }
}

@media (min-width: 768px) and (max-width:1024px) {
    .certificate .certificate-wrapper {
        padding: 35px 90px;
    }

    .certificate.certificate-bottom div.certificate-wrapper {
        padding: 50px 20px;
    }

    /*#support .support-area {
        padding: 10px 15px;
    }*/
}

.text-black {
    color: black;
}

.main-logo {
    width: 216px;
    height: auto;
}
.main-container {
    margin-left: 0;
    margin-right: 0;
}