﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="PaypalFaker.aspx.vb" Inherits="systests_PaypalFaker" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <a href="<%=ReturnUrl%>">Click me to continue</a>
    </div>
    </form>
</body>
</html>
