﻿
.spinner {
	margin: 20px auto 0;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}
.spinner + p {
	text-align: center;
	font-size: 1.5em;
}

.spinner > div {
	background-color: #ccc;
	height: 100%;
	width: 6px;
	display: inline-block;
  
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% { 
			transform: scaleY(1.0);
			-webkit-transform: scaleY(1.0);
		}
}
.sm-tooltop-wrapper {
	position: relative;
}
.sm-tooltop-wrapper i.fa{
	color: #0070b8;
}
.sm-tooltip-trigger>input[type="checkbox"] {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2px;
	left: 30px;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	outline: none !important;
	opacity: 0;
	width: 30px;
	height: 30px;
}
.sm-tooltip-trigger>ul {
	display: none;
	position: absolute;
	top: 60%;
	right: 0;
	z-index: 1000;
	min-width: 200px;
	background: #f9f9f9;
	border: 1px solid #ddd;
	list-style: none;
	padding: 10px;
	text-align: left;
	-webkit-box-shadow: 3px 3px 7px 1px rgba(156,156,156,1);
	-moz-box-shadow: 3px 3px 7px 1px rgba(156,156,156,1);
	box-shadow: 3px 3px 7px 1px rgba(156,156,156,1);
	
}
.sm-tooltip-trigger >ul li {
	line-height: 24px;
	white-space: nowrap;
	max-width: 550px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 0.9em
}
.sm-tooltip-trigger > ul li:before {
	content:"\f0da";
	font-family: FontAwesome;
	float: left;
	padding: 0 10px 0 10px;
	color: #333;
}
.sm-tooltip-trigger:hover>ul/*, .sm-tooltip-trigger>input[type="checkbox"]:checked + ul*/ {
	display: block;
}
@media(max-width: 990px) {
	.sm-tooltip-trigger > ul {
		top: 30%;
	}
}
.red {
	color: #ff000c!important;
}
.bg-red {
	background: #ff000c!important;
}
 .dropzone {
	border: 2px dashed #ccc;
	border: 2px dashed rgba(0, 0, 0, 0.3);
}

.dropzone .dz-preview .dz-image {
	width: 200px;
	height: auto;
	min-height: 100px;
	border-radius: 0;
}
.dropzone .dz-preview .dz-image img {
	margin: 0 auto;
}
.dropzone .dz-preview .dz-remove, .dropzone .dz-preview .dz-remove:hover, .dropzone .dz-preview .dz-remove:visited, .dropzone .dz-preview .dz-remove:focus {
	text-decoration: none;
}
.form-group label.required-field:after {
	content: '*';
	color: red;
	margin-left: 6px;
}
/*dropdown submenu*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:13px;
    margin-right:-20px;
}
@media(max-width: 767px) {
	.dropdown-submenu > .dropdown-menu {
		left: 0;
	}
	.dropdown-submenu > a:after {
		display: none;
	}
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/*end dropdown submenu*/