﻿body {
	background-color: #eee;
}
.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.nav {
	list-style: none;
}
.info-panel {
	height: 45px;
	border-bottom: 1px solid #ccc;
	background-color: #ffffff;
}
.profile-info {
	float: right;
	list-style: none;
	padding-right: 12px;
	font-size: 1.1em;
	color: #9a9a9a;
	margin: 0;
	line-height: 45px;

}
.profile-info .js-profile-name{

}
.nav.profile-tray {
	float: right;
	/*margin-right: 20px;*/
}
.nav.m-menus {
	float: left;
	font-size: 1.6em;
}
.nav.profile-tray li, .nav.m-menus li {
	float: left;
	position: relative;
	display: block;
}
.nav.m-menus li.logo img {
	height: 38px;
	border: 1px solid #ccc;
	border-radius: 25px;
	padding: 4px;
	margin: 2px 8px 0;
}

.nav.profile-tray li a, .nav.m-menus li a {
	color: #acacac;
	padding: 14px 16px;
	height: 45px;
	border-bottom: 1px solid #ccc;
}
.nav.m-menus.no-burger li a {
	padding: 6px 16px;
	color: #0070b8;
	font-size: 1.4em;
}
.nav.m-menus .logo {
	padding: 2px 0;
}
.nav.m-menus .logo:hover {
	background: none;
}
.nav.m-menus .logo a {
	padding: 0;
	height: auto;
	border: none;
}
.nav.m-menus .logo a:hover, .nav.m-menus .logo a:active, .nav.m-menus .logo a:visited, .nav.m-menus .logo a:focus {
	background: none;
}
.nav.m-menus .logo img{
	height: 40px;
	border: 1px solid #ccc;
	padding: 4px;
	margin: 0 12px 0;
	border-radius: 25px;
}

.nav.profile-tray li a .badge {
	position: absolute;
	top: 8px;
	right: 12px;
	padding: 3px 5px 2px;
	font-size: 10px;
}
.nav.m-menus li .js-menu-btn{
	display: inline-block;
	height: 40px;
	width: 40px;
	position: relative;
	margin: 3px;
}
.nav.m-menus li .js-menu-btn:before {
	content: "";
	display: block;
	height: 2px;
	background: #0070b8;
	position: absolute;
	top: 10px;
	right: 0;
	left: 10px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}
.nav.m-menus li .js-menu-btn>span {
	display: block;
	height: 2px;
	width: 30px;
	background: #0070b8;
	position: absolute;
	top: 50%;
	left: 10px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	transform: translateY(-50%);
}
.nav.m-menus li .js-menu-btn:after {
	content: "";
	display: block;
	height: 2px;
	background: #0070b8;
	position: absolute;
	right: 0;
	left: 10px;
	bottom: 10px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}
.nav.m-menus li .js-menu-btn.active:before {
	top: 50%;
	-webkit-transform: translateY(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	-o-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

.nav.m-menus li .js-menu-btn.active>span {
	-ms-opacity: 0;
	opacity: 0;
}

.nav.m-menus li .js-menu-btn.active:after {
	bottom: 50%;
	-webkit-transform: translateY(50%) rotate(-45deg);
	-moz-transform: translateY(50%) rotate(-45deg);
	-ms-transform: translateY(50%) rotate(-45deg);
	-o-transform: translateY(50%) rotate(-45deg);
	transform: translateY(50%) rotate(-45deg);
}

.badge-danger {
	background-color: #dc143c;
}
.nav.profile-tray li a i.fa {
	font-size: 20px;
}
/*.nav.profile-tray a.avatar {
	padding: 4px 10px;
}
.nav.profile-tray a.avatar > img {
	height: 36px;
	border: 1px solid #ccc;
	-ms-border-radius: 50px;
	border-radius: 50px;
}*/
div.main {
	margin-top: 100px;
}
.menu-panel {
	height: 34px;
	background-color: #0070b8;
	line-height: 34px;
}
.menu-panel .menus li i.fa {
	margin-right: 4px;
}
.menu-panel .menus li a, .menu-panel .menus li a:focus, .menu-panel .menus li a:visited {
	color: #fff;
	text-transform: uppercase;
	padding: 0 14px;
	background-color: #0070b8;
}
.menu-panel .menus li.dropdown-submenu a, .menu-panel .menus li.dropdown-submenu a:focus, .menu-panel .menus li.dropdown-submenu a:visited {
	padding: 0 30px 0 14px;
}
.menu-panel .menus li a:hover {
	background-color: #1195e9;
}

.menu-panel ul.nav>li {
	float: left;
	position: relative;
	display: block;
}
.menu-panel .menus {
	float: left;
}
.menu-panel .menus ul.dropdown-menu {
	padding: 0;
	margin: 0;
	border-radius: 0;
	background: #0070b8;
}
.menu-panel .menus ul.dropdown-menu li{
	border-bottom: 1px solid #0d79b7;
}
.menu-panel .menus ul.dropdown-menu li a {
	line-height: 35px;
}
.menu-panel .menus ul.dropdown-menu li a:hover, .menu-panel .menus ul.dropdown-menu li a:active, .menu-panel .menus ul.dropdown-menu li a:focus, .menu-panel .menus ul.dropdown-menu li a:visited {
	outline: none;
	background-image: none;
}
.menu-panel .search-box {
	position: absolute;
	right: 10px;
}
.menu-panel .search-box input{
	margin: 4px 0;
	height: 26px;
	border: 0;
	padding: 0 8px;
}

.menu-panel .search-box li a {
	color: #fff;
	display: inline;
}
.menu-panel .search-box li a:hover, .menu-panel .search-box li a:focus, .menu-panel .search-box li a:visited {
	background-color: #0070b8;
	padding: 8px 15px;
}

@media(max-width: 767px) {
	.menu-panel {
		height: 0;
		overflow: auto;
		position: fixed;
		width: 100%;
		-webkit-transition: height 0.5s;
		-moz-transition: height 0.5s;
		-ms-transition: height 0.5s;
		-o-transition: height 0.5s;
		transition: height 0.5s;
		-webkit-overflow-scrolling: touch;
	}
	body.in {
		overflow: hidden;
		position: fixed;
	}
	body.in .menu-panel {
		/*height: 100%;*/
		/*height: 390px;*/
		height: auto;
		top: 45px;
		bottom: 0;


	}
	.menu-panel .menus li a:hover {
		background: none;
	}
	.menu-panel .nav.menus {
		float: none;
	}
	.menu-panel .nav.menus>li {
		float: none;
		border-bottom: 1px solid #0d79b7;
		cursor: pointer;
	}
	.menu-panel .nav.menus>li a:before, .menu-panel .nav.menus>li span.group-title:before {
		content:"\f105";
		font-family: FontAwesome;
		float: left;
		padding: 0 10px 0 10px;
		color: #fff;
	}
	.menu-panel .nav.menus > li i.fa{
		display: none;
	}

	.menu-panel .menus .dropdown-menu {
		display: block;
		float: none;
		position: relative;
		box-shadow: none;
		border: none;
	}
	.menu-panel .menus .dropdown-menu li {
		padding-left: 40px;
		margin-left: -20px;
	}
	/*.menu-panel a.dropdown-toggle {
		display: none;
	}*/
	
	.menu-panel .menus ul.dropdown-menu li:last-child {
		border-bottom: none;
	}
	.menu-panel .menus span.group-title {
		line-height: 35px;
		display: block;
		color: #fff;
		text-transform: uppercase;
		padding: 0 14px 0 35px;
		cursor: default;
		border-bottom: 1px solid #0d79b7;
		margin-left: -20px;
	}
	
}
.da-block {
	border: 1px solid #ddd;
	background-color: #ffffff;
	margin-bottom: 20px;
	-webkit-box-shadow: 3px 3px 7px 1px rgba(156,156,156,1);
	-moz-box-shadow: 3px 3px 7px 1px rgba(156,156,156,1);
	box-shadow: 3px 3px 7px 1px rgba(156,156,156,1);
}
.da-main .da-block {
	min-height: 200px;
}
.da-block .block-header {
	border-bottom: 1px solid #ddd;
	padding: 12px 10px;
	height: 38px;
}
.da-main .block-header .inline-btn-group {
		display: block;	
	}
	.da-main .block-header .block-m-menu {
		display: none;
	}
@media(max-width: 500px) {
	.da-main .block-header .inline-btn-group {
		display: none;	
	}
	.da-main .block-header .block-m-menu {
		display: block;
	}
	.da-main .block-header .inline-btn-group.no-context-menu {
		display: block;	
	}
}

.btn-dropdown {
	border: none;
	background: none;
	color: #0070b8;
	padding: 0;
	padding-bottom: 1px;
	padding-left: 8px;
}
.btn-dropdown img{
	width: 8px;
	height: 8px;
}
.btn:active, .btn:focus, .btn:visited, .btn:active:focus {
	outline: none;
}
.btn-dropdown:active, .btn-dropdown:focus, .btn-dropdown:visited {
	color: #0070b8;
	outline: none;
}
.btn-dropdown:active {
	outline: none;
}
.btn-dropdown i.fa {
	margin-right: 0;
	font-size: 0.6em;
}
.btn-dropdown:active {
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}
.inline-drop-menu {
	display: inline-block;
}
.inline-drop-menu:focus {
	outline: none;
}
.inline-drop-menu .dropdown-menu {
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: 3px 3px 7px 1px rgba(156,156,156,1);
	-moz-box-shadow: 3px 3px 7px 1px rgba(156,156,156,1);
	box-shadow: 3px 3px 7px 1px rgba(156,156,156,1);
}
.inline-drop-menu .dropdown-menu li:not(:last-child) {
	border-bottom: 1px solid #f3f3f3;
}
.inline-drop-menu .dropdown-menu a {
	color: #337ab7;
	line-height: 26px;
}

.inline-drop-menu .dropdown-menu a:hover {
	color: #ffffff;
	background-color: #337ab7;
	background-image: none;

}
.da-block-wrapper .da-block .block-header>span {
	float: left;
	line-height: 14px;
	color: #0bb119;
	font-size: 1.2em;
}
.da-block-wrapper .da-block .block-header > ul {
	float: right;
	list-style: none;
	padding-left: 0;
}
.da-block-wrapper .da-block .block-header > ul > li{
	float: left;
	position: relative;
	display: block;
	line-height: 14px;
	padding: 0 8px;
}
.da-block-wrapper .da-block .block-header > ul > li i.fa.fa-cog, .da-block-wrapper .da-block .block-header > ul > li i.fa.fa-align-justify {
	font-size: 1.6em;
	margin-top: -4px;
}
.da-block-wrapper .da-block .block-header > ul > li a{
	cursor: pointer;
	text-decoration: none;
}
.da-block-wrapper .da-block .block-header > ul > li a:hover, .da-block-wrapper .da-block .block-header > ul > li a:focus, .da-block-wrapper .da-block .block-header > ul > li a:visited {
	text-decoration: none;
}
@media(min-width: 990px) {
	.da-block-wrapper .da-block .da-main {
		padding-right: 10px;
	}
	.da-block-wrapper .da-block .da-menu {
		padding-left: 10px;
	}
}
.block-content {
	padding: 10px;
}
.queues-lst, .insight-lst {
	list-style: none;
	padding: 0 6px 0 4px;	
}
.queues-lst {
	display: flex;
	flex-direction: column;
}
.queues-lst li{
	padding: 10px 25px 10px 0;	
	margin-bottom: 10px;
	border: 1px solid #ddd;
	display: flex;
	justify-content: flex-start;
}
.queues-lst li .queue-num {
	width: 50px;
	text-align: center;
	padding: 6px 0 8px;
}
.queues-lst li .queue-num span {
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50px;
	background-color: #0070b8;
	color: #fff;
	padding-top: 4px;
}
.queues-lst li .queue-text>div{
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 4px;
}
.queues-lst li .queue-text a{
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	font-size: 0.9em
}
.queues-lst li .queue-text a:hover, .queues-lst li .queue-text a:focus, .queues-lst li .queue-text a:visited{
	text-decoration: none;
}
.da-block.insights .block-header>span{
	color: #0bb119;
}
.insight-lst li{
	padding: 10px 0;	
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
}
.insight-lst li .insight-num {
	width: 60px;
	text-align: center;
	padding: 6px;
}
.insight-lst li .insight-num span {
	width: 50px;
	height: 50px;
	display: inline-block;
	-ms-border-radius: 50px;
	border-radius: 50px;
	color: #b31200;
	border: 1px solid #b31200;
	line-height: 46px;
	font-size: 1.4em;
}

.insight-lst li .insight-text{
	padding-top: 12px;
}
.flex-table .flex-row-header {
	font-weight: bold;
}
.flex-table .js-paging-block {
	margin-top: 10px;
}

.flex-table .paging-info {
	padding-top: 8px;
}
.flex-table .pagination-wrapper {
	text-align: right;
}
.flex-table .pagination {
	margin: 0;
}
.flex-table .flex-row, .flex-table .flex-row-header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	margin-top: 10px;
	padding-left: 8px;
	padding-bottom: 6px;
	padding-right: 10px;
	border-bottom: 1px solid #ddd;
}
.flex-table p {
	padding: 0;
	margin: 0;
}
.flex-table a, .flex-table a:hover, .flex-table a:active, .flex-table a:visited, .flex-table a:focus {
	outline: none;
	text-decoration: none;
}
.flex-table .flex-column-wrapper{
	display: flex;
	flex-direction: row;
}
.flex-table .no-record {
	text-align: center;
	padding: 6px 0;
}
.flex-table .flex-column-checkbox, .flex-table .flex-column-num {
	width: 25px;
}

.flex-table.loan-lst .flex-column-1 {
	flex-grow: 1;
}
.flex-table.loan-lst .flex-column-applicants{
	flex-grow:1;
}
.flex-table.loan-lst .flex-column-applicants a{
	font-weight: bold;
}
/*.flex-table.loan-lst .flex-row .flex-column-applicants {
	color: #0070b8;
}*/

.flex-table.loan-lst .flex-column-loaninfo {
	width: 150px;
}

.flex-table.loan-lst .flex-column-status {
	width: 170px;
	text-align: center;
}
.flex-table.loan-lst .flex-row .flex-column-status span{
	color: #ffffff;
	padding: 2px;
}
.flex-table.loan-lst .flex-row .flex-column-status span.loan-status {
	background: #ff000c;
}
.flex-table.loan-lst .flex-row .flex-column-status span.loan-status.approved {
	background: #0bb119
}
.flex-table.loan-lst .flex-row .flex-column-status p:not(:last-child) {
	margin-bottom: 2px;
}
.flex-table.loan-lst .flex-row .flex-column-status span.fund-status {
	background: #ccad0d;
}

.flex-table.loan-lst .flex-column-date {
	width: 170px;
}

.flex-table.loan-lst .flex-column-stipulation {
	width: 80px;
	text-align: center;
}


.flex-table.loan-lst .flex-column-im {
	width: 80px;
	text-align: center;
}
.flex-table.loan-lst .flex-row .flex-column-im,  .flex-table.loan-lst .flex-row .flex-column-stipulation{
	padding-top: 4px;
	font-size: 1.2em;
}
.flex-table.loan-lst .flex-row .flex-column-im a {
	cursor: pointer;
	text-decoration: none;
}
.flex-table.loan-lst .flex-row .flex-column-im a:hover,.flex-table.loan-lst .flex-row .flex-column-im a:focus,.flex-table.loan-lst .flex-row .flex-column-im a:visited {
	outline: none;
}
.flex-table.loan-lst .flex-column-action {
	width: 60px;
	text-align: right;
}
/*====================*/
.flex-table.agent-lst .avatar-wrapper {
	margin: 4px 10px;
	border: 1px solid #ccc;
	padding: 4px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
}
.flex-table.agent-lst .avatar-wrapper .avatar {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-position: top center;
	border-radius: 25px;
	background-size: cover;
}

.flex-table.agent-lst .flex-column-avatar {
	width: 100px;
}
.flex-table.agent-lst .flex-column-name-email-phone, .flex-table.agent-lst .flex-column-email-phone {
	flex-grow: 1;
}
.flex-table.agent-lst .flex-column {
	padding: 0 4px;
}
.flex-table.agent-lst .flex-column-email.locked:after {
	display: inline-block;
	content:"\f023";
	font-family: FontAwesome;
	margin-left: 4px;
	font-size: 1.1em;
	/*content: " ";
	'background-image: url('images/lock_ico.png');
	background-position: top center;
	background-size: cover;
	width: 16px;
	height: 16px;
	margin: 0 0 -2px 4px;*/
}
.flex-table.agent-lst .flex-column-email, .flex-table.agent-lst .flex-column-name {
	width: 276px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
 
.flex-table.agent-lst .flex-column-status {
	width: 80px;
	text-align: center;
}
.flex-table.agent-lst .flex-column-action {
	width: 130px;
	text-align: right;
}
.flex-table.agent-lst .flex-column-phone {
	width: 130px;
	text-align: center;
}
.flex-table.agent-lst .flex-row .flex-column {
	line-height: 60px;
}
.flex-table.agent-lst .flex-row .flex-column.flex-column-status{
	padding-top: 20px;
}
.flex-table.agent-lst .flex-column-action .dropdown.inline-drop-menu {
	display: none;
	padding-top: 20px;
}
.flex-table.agent-lst .flex-row-header .flex-column-name-email-phone .flex-column-agent {
	display: none;
}
@media(max-width: 1399px) {
	.flex-table.loan-lst .flex-column-2 {
		flex-direction: column;
		width: 200px;
	}
	/*.flex-table.loan-lst .flex-column-checkbox {
		width: 25px;
	}*/
	.flex-table.loan-lst .flex-column-loaninfo{
		width: 150px;
	}
	.flex-table.loan-lst .flex-column-status {
		width: 170px;
		text-align: left;
	}
	.flex-table.loan-lst .flex-column-date {
		width: 170px;
		text-align: left;
	}
	.flex-table.loan-lst .flex-column-stipulation {
		width: 80px;
	}
	.flex-table.loan-lst .flex-column-im {
		width: 80px;
	}
	.flex-table.loan-lst .flex-column-action{
		width: 60px;
	}
	.flex-table.agent-lst .flex-column-name, .flex-table.agent-lst .flex-column-email {
		width: 236px;
	}
	.flex-table.agent-lst .flex-column-phone {
		width: 100px;
	}
}
@media(max-width: 1250px) {
	.flex-table.agent-lst .flex-column-action .dropdown.inline-drop-menu {
		display: block;
	}
	.flex-table.agent-lst .flex-column-action .link-buttons {
		display: none;
	}
}
@media(max-width: 1200px) {
	.flex-table.loan-lst .flex-column-1 {
		flex-direction: column;
	}
	.flex-table.loan-lst .flex-column-stipulation {
		display: none;
		width: 120px;
	}
	.flex-table.loan-lst .flex-column-loaninfo, .flex-table.loan-lst .flex-column-date{
		padding-top: 10px;	
	}
	.flex-table.agent-lst .flex-column-name, .flex-table.agent-lst .flex-column-email {
		width: 280px;
	}
	.flex-table.agent-lst .flex-column-phone {
		width: 140px;
	}
}

@media(max-width: 991px) {
	.flex-table.loan-lst .flex-column-stipulation {
		display: block;
		width: 120px;
	}

	.flex-table.loan-lst .flex-row, .flex-table.loan-lst .flex-row-header {
		padding-right: 10px;
	}

	.queues-lst {
		flex-direction: row;
	}

	.queues-lst li {
		width: 500px;
	}

	.queues-lst li:not(:last-child) {
		margin-right: 10px;
	}

	.insight-lst li .insight-text {
		padding-top: 20px;
	}

	.flex-table.agent-lst .flex-column-name, .flex-table.agent-lst .flex-column-email {
		width: 220px;
	}

	.flex-table.agent-lst .flex-column-email-phone {
		flex-direction: column;
	}
	.flex-table.agent-lst .flex-row-header .flex-column {
		line-height: 40px;
	}
	.flex-table.agent-lst .flex-column-email-phone .flex-column {
		line-height: 20px;
		text-align: left;
	}
	.flex-table.agent-lst .flex-row .flex-column-email-phone {
		padding-top: 12px;
	}
	.flex-table.agent-lst .flex-column-action {
		width: 80px;
	}
}
@media(max-width: 767px) {
	.flex-table.loan-lst .flex-column-stipulation {
		width: 120px;
		display: none;
	}
	div.main {
		margin-top:60px;
	}
	.flex-table .paging-info {
		text-align: center;
	}
	.flex-table .pagination-wrapper {
		text-align: center;
	}
	.flex-table.agent-lst .flex-column-name-email-phone {
		flex-direction: column;
	}
	.flex-table.agent-lst .flex-row .flex-column {
		line-height: 1.5em;
	}
	.flex-table.agent-lst .flex-row .flex-column-email-phone {
		padding-top: 0;
	}
	.flex-table.agent-lst .flex-row-header .flex-column-name-email-phone .flex-column-agent {
		display: block;
		margin-left: -70px;
	}
	.flex-table.agent-lst .flex-row-header .flex-column-name, .flex-table.agent-lst .flex-row-header .flex-column-email-phone {
		display: none;
	}
	.flex-table.agent-lst .flex-row .flex-column-name {
		font-weight: bold;
	}
	.flex-table.agent-lst .flex-column-avatar {
		width: 72px;
	}
	.flex-table.agent-lst .avatar-wrapper {
		margin: 4px 2px;
	}
	.flex-table.agent-lst .flex-row .flex-column-num {
		padding-top: 24px;
	}
	.flex-table.agent-lst .flex-row-header .flex-column {
		line-height: 24px;
	}
}

@media(max-width: 600px) {
	.flex-table.loan-lst .flex-column-1 {
		width: 250px;
	}
	.flex-table.loan-lst .flex-row-header {
		display: none;
	}
	.flex-table.loan-lst .flex-column-checkbox {
		display: none;
	}
	.flex-table.loan-lst .flex-column-im {
		display: none;
	}
	.nav.m-menus.m-hamburger li.vendor-name {
		display: none;
	}
	.main .vendor-name {
		display: block;
	}
	.flex-table.agent-lst .flex-column-avatar {
		display: none;
	}
	.flex-table.agent-lst .flex-row-header .flex-column-name-email-phone .flex-column-agent {
		margin-left: 0;
	}
}
@media(max-width: 499px) {
	.flex-table.loan-lst .flex-column-2 {
		width: 100px;
	}
	.flex-table.loan-lst .btn-dropdown i.fa {
		display: block;
	}
	.flex-table.loan-lst .flex-column-action {
		width: 40px;
		padding-top: 20px;
	}
	.flex-table .pagination.bootpag li {
		display: none;
	}
	.flex-table .pagination.bootpag li.first, .flex-table .pagination.bootpag li.last, .flex-table .pagination.bootpag li.next, .flex-table .pagination.bootpag li.prev {
		display: inline;
	}

	.queues-lst {
		flex-direction: column;
	}
	.queues-lst li {
		width: auto;
	}
	.queues-lst li:not(:last-child) {
		margin-right: 0;
	}
	.insight-lst li .insight-text {
		padding-top: 12px;
	}
	.flex-table.agent-lst .flex-column.flex-column-status {
		display: none;
	}
	.flex-table.agent-lst .flex-column.flex-column-name {
		width: 250px;
	}
	.flex-table.agent-lst .flex-column.flex-column-num {
		display: none;
	}
	.flex-table .flex-row, .flex-table .flex-row-header {
		padding-left: 0;
		padding-right: 0;
	}
	.flex-table.agent-lst .flex-row-header{
		display: none;
	}
	.flex-table.agent-lst .flex-column.flex-column-status {
		display: block;
	}
	.flex-table.agent-lst .btn-dropdown img, .flex-table.loan-lst .btn-dropdown img {
		display: block;
		margin: 2px 0;
	}
	.flex-table.agent-lst .flex-column-action .dropdown.inline-drop-menu {
		padding-top: 14px;
	}
	.flex-table.agent-lst .flex-column-action {
		width: 30px;
	}
	.flex-table.agent-lst .flex-row .flex-column.flex-column-status {
		width: 60px;
		padding-top: 18px;
	}
}
@media(max-width: 375px) {
	.flex-table.agent-lst .flex-column.flex-column-name {
		width: 240px;
	}
}
.workspace-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	min-width: 370px;
}
.workspace-list li{
	width: 300px;
	display: flex;
	flex-wrap: nowrap;
	border: 1px solid #ddd;
	background: #fff;
	padding: 4px;
	margin: 8px;
	-webkit-box-shadow: 3px 3px 7px 1px rgba(156,156,156,1);
	-moz-box-shadow: 3px 3px 7px 1px rgba(156,156,156,1);
	box-shadow: 3px 3px 7px 1px rgba(156,156,156,1);
}
.workspace-list li .vendor-logo {
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
	border-radius: 50px;
	margin: 2px 8px 2px 2px;
	overflow: hidden;
	padding: 8px;
}
.workspace-list .vendor-info p {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.workspace-list .vendor-info a, .workspace-list .vendor-info p {
	max-width: 200px;
}
.workspace-list .vendor-info {
	padding-top: 6px;
	
}
.workspace-list a {
	display: block;
}
.workspace-list .vendor-info a {
	padding: 0;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.workspace-list .vendor-info p {
	font-style: italic;
	color: #848181;
	font-size: 0.9em;
}
.workspace-list .vendor-info.apm-item p {
	white-space: normal;
}
.workspace-list .vendor-info p.portal-name {
	color: #000;
}
.workspace-list a:hover,.workspace-list a:active,.workspace-list a:visited, .workspace-list a:focus {
	text-decoration: none;
	cursor: pointer;
}

@media(max-width: 661px) {
	.workspace-list li {
		width: 400px;
	}
	.workspace-section h2 {
		font-size: 22px;
		padding-left: 10px;
	}
	.workspace-list .vendor-info a, .workspace-list .vendor-info p {
		max-width: 300px;
	}
	.workspace-list .vendor-info.apm-item {
		padding-top: 16px;
	
	}
}
@media(max-width: 435px) {
	.workspace-list li {
		width: 400px;
	}
	.workspace-list .vendor-info a, .workspace-list .vendor-info p {
		max-width: 260px;
	}
}
@media(max-width: 400px) {
	.workspace-section.container-fluid {
		padding: 0 8px;
	}
	.workspace-list li {
		width: 360px;
	}
	.workspace-list .vendor-info a, .workspace-list .vendor-info p {
		max-width: 220px;
	}
	.workspace-list .vendor-info.apm-item {
		padding-top: 16px;
	}
	.workspace-list li {
		margin: 4px 0;
	}
	
}
@media(max-width: 375px) {
	.workspace-section h2 {
		font-size: 18px;
	}
}
.profile-tray li.avatar-block>a{
	padding: 2px 0 0;
}
.profile-tray .avatar-wrapper {
	margin: 0 10px;
	border: 1px solid #ccc;
	padding: 2px;
	border-radius: 50px;
	width: 40px;
}
.profile-tray .avatar-wrapper .avatar {
	display: inline-block;
	width: 34px;
	height: 34px;
	background-position: top center;
	border-radius: 25px;
	background-size: cover;
}
.toggle-btn {
	width: 50px;
	height: 24px;
	position: relative;
	min-height: 24px;
	cursor: pointer;
}
.toggle-btn.disabled {
	cursor: default;
}
.toggle-btn:before, .toggle-btn:after {
	top: 1px;
	width: 25px;
	font-size: 10px;
	position: absolute;
	line-height: 24px;
	text-align: center;
	z-index: 1;
}
.toggle-btn:before {
	left: 1px;
	content: attr(data-on);
}
.toggle-btn:after {
	right: 1px;
	content: attr(data-off);
}
.toggle-btn>input[type="checkbox"] {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	outline: none !important;
	opacity: 0;
}
.toggle-btn > span.button-checkbox {
	border: 1px solid #ccc;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 3px;
}
.toggle-btn>input[type="checkbox"]:checked + .button-checkbox {
	border-color: #66c796;
}
.toggle-btn>input[type="checkbox"] + .button-checkbox:after {
	content: '';
	position: absolute;
	z-index: 2;
	display: block;
	top: 1px;
	bottom: 1px;
	left: 1px;
	width: 23px;
	background-color: #ccc;
	transition: all;
	transition-duration: 0.2s;
}
.toggle-btn > input[type="checkbox"]:checked + .button-checkbox:after {
	background-color: #66c796;
	left: 24px;
}
.logo-upload-zone {
	background-color: #fff;
	border-radius: 4px;
	margin: auto;
	text-align: center;
	min-height: 200px;
	cursor: pointer;
}

.logo-upload-zone .dz-default.dz-message p {
	font-style: italic;
}
.logo-upload-zone .dz-default.dz-message p:first-child {
	font-size: 1.4em;
	font-style: normal;
}
.profile-container .block-content {
	padding: 30px;
}
.profile-container .profile-fields {
	color: #929090;
	list-style: none;
	padding: 0;
}
.profile-container .profile-fields li {
	padding: 30px 10px;
}
.profile-container .profile-fields li:not(:last-child) {
	border-bottom: 1px solid #e2e1e1;
}
.profile-container .profile-fields li>div {
	display: table-cell;
	vertical-align: middle;
}
.profile-container .profile-fields li>div:first-child {
	min-width: 180px;
}
.profile-container .profile-fields li>div:last-child {
	font-size: 1.1em;
	color: #000;
}
.profile-container .profile-fields li.avatar-field {
	padding: 10px;
}
.profile-container .profile-fields li .password-content {
	-webkit-text-security: disc;
}
.profile-container .profile-fields li .password-content a {
	-webkit-text-security: none;
	font-size: 0.9em;
	margin-left: 20px;
}
.profile-container .profile-fields .avatar {
	border: 1px solid #ccc;
	padding: 2px;
	border-radius: 50px;
	width: 50px;
}
.profile-container .profile-fields .avatar span{
	display: block;
	width: 60px;
	height: 60px;
	background-position: top center;
	border-radius: 50px;
	background-size: cover;
}
@media(max-width: 991px) {
	.profile-container .profile-fields li>div:first-child {
		min-width: 200px;
	}
}
@media(max-width: 661px) {
	.profile-container .profile-fields li>div:first-child {
		min-width: 120px;
	}
	.profile-container .profile-fields li {
		padding: 20px 10px;
	}
}
@media(max-width: 499px) {
	.profile-container .block-content {
		padding: 10px;
	}
	.profile-container .profile-fields li>div:first-child {
		min-width: 100px;
	}
}
