
/* ====================================================== */
/* This M swatch is for alabama cu     */
/* ====================================================== */
.ui-bar-m {
	border: 1px solid 		#a5d2e9 /*{b-bar-border}*/;
	background: 			#CD1F43 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #CD1F43 /*{b-bar-background-start}*/), to( #CD1F43 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #CD1F43 /*{b-bar-background-start}*/, #CD1F43 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #CD1F43 /*{b-bar-background-start}*/, #CD1F43 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #CD1F43 /*{b-bar-background-start}*/, #CD1F43 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #CD1F43 /*{b-bar-background-start}*/, #CD1F43 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #CD1F43 /*{b-bar-background-start}*/, #CD1F43 /*{b-bar-background-end}*/);
}
.ui-bar-m,
.ui-bar-m input,
.ui-bar-m select,
.ui-bar-m textarea,
.ui-bar-m button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-m .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-m .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-m .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-m .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-m .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-m,
.ui-overlay-m {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-m {
	background-image: none;
	border-width: 0;
}
.ui-body-m,
.ui-body-m input,
.ui-body-m select,
.ui-body-m textarea,
.ui-body-m button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-m .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-m .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-m .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-m .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-m .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
/* Button up */
.ui-page-theme-m .ui-btn,
html .ui-bar-m .ui-btn,
html .ui-body-m .ui-btn,
html body .ui-group-theme-m .ui-btn,
html head + body .ui-btn.ui-btn-m,
/* Button visited */
.ui-page-theme-m .ui-btn:visited,
html .ui-bar-m .ui-btn:visited,
html .ui-body-m .ui-btn:visited,
html body .ui-group-theme-m .ui-btn:visited,
html head + body .ui-btn.ui-btn-m:visited {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#a5d2e9 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/);
}
.ui-btn-up-m a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
/* Button hover */
.ui-page-theme-m .ui-btn:hover,
html .ui-bar-m .ui-btn:hover,
html .ui-body-m .ui-btn:hover,
html body .ui-group-theme-m .ui-btn:hover,
html head + body .ui-btn.ui-btn-m:hover {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#FFFF7A /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bhover-background-start}*/), to( #4272a4 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-m a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
/* Button down */
.ui-page-theme-m .ui-btn:active,
html .ui-bar-m .ui-btn:active,
html .ui-body-m .ui-btn:active,
html body .ui-group-theme-m .ui-btn:active,
html head + body .ui-btn.ui-btn-m:active {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#FFFF7A /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #295b8e /*{b-bdown-background-start}*/), to( #3e79b5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/);
}
.ui-btn-down-m a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-m,
.ui-btn-hover-m,
.ui-btn-down-m {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}



/* ====================================================== */
/* This O swatch is for Alabama*/
/* ====================================================== */
.ui-bar-o {
	border: 1px solid 		#263f6a /*{b-bar-border}*/;
	background: 			#5b5b5b /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5b5b5b /*{b-bar-background-start}*/), to( #5b5b5b /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5b5b5b /*{b-bar-background-start}*/, #5b5b5b /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5b5b5b /*{b-bar-background-start}*/, #5b5b5b /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5b5b5b /*{b-bar-background-start}*/, #5b5b5b /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #5b5b5b /*{b-bar-background-start}*/, #5b5b5b /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5b5b5b /*{b-bar-background-start}*/, #5b5b5b /*{b-bar-background-end}*/);
}
.ui-bar-o,
.ui-bar-o input,
.ui-bar-o select,
.ui-bar-o textarea,
.ui-bar-o button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-o .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-o .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-o .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-o .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-o .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-o,
.ui-overlay-o {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-o {
	background-image: none;
	border-width: 0;
}
.ui-body-o,
.ui-body-o input,
.ui-body-o select,
.ui-body-o textarea,
.ui-body-o button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-header-o .ui-title-o { min-height: 1.1em; text-align: center; font-size: 10px; display: block; margin: .6em 30% .8em;  padding: 0;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; } 


.ui-body-o .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-o .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-o .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-o .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-o .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
/* Button up */
.ui-page-theme-o .ui-btn,
html .ui-bar-o .ui-btn,
html .ui-body-o .ui-btn,
html body .ui-group-theme-o .ui-btn,
html head + body .ui-btn.ui-btn-o,
/* Button visited */
.ui-page-theme-o .ui-btn:visited,
html .ui-bar-o .ui-btn:visited,
html .ui-body-o .ui-btn:visited,
html body .ui-group-theme-o .ui-btn:visited,
html head + body .ui-btn.ui-btn-o:visited {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#97af3c /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #97af3c /*{b-bup-background-start}*/), to( #97af3c /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #97af3c /*{b-bup-background-start}*/, #97af3c /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #97af3c /*{b-bup-background-start}*/, #97af3c /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #97af3c /*{b-bup-background-start}*/, #97af3c /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #97af3c /*{b-bup-background-start}*/, #97af3c /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #97af3c /*{b-bup-background-start}*/, #97af3c /*{b-bup-background-end}*/);
}
.ui-btn-up-o a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
/* Button hover */
.ui-page-theme-o .ui-btn:hover,
html .ui-bar-o .ui-btn:hover,
html .ui-body-o .ui-btn:hover,
html body .ui-group-theme-o .ui-btn:hover,
html head + body .ui-btn.ui-btn-o:hover {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#97af3c /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #97af3c /*{b-bhover-background-start}*/), to( #97af3c /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #97af3c /*{b-bhover-background-start}*/, #97af3c /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #97af3c /*{b-bhover-background-start}*/, #97af3c /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #97af3c /*{b-bhover-background-start}*/, #97af3c /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #97af3c /*{b-bhover-background-start}*/, #97af3c /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #97af3c /*{b-bhover-background-start}*/, #97af3c /*{b-bhover-background-end}*/);
}
.ui-btn-hover-o a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
/* Button down */
.ui-page-theme-o .ui-btn:active,
html .ui-bar-o .ui-btn:active,
html .ui-body-o .ui-btn:active,
html body .ui-group-theme-o .ui-btn:active,
html head + body .ui-btn.ui-btn-o:active {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#18670C /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #18670C /*{b-bdown-background-start}*/), to( #18670C /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #18670C /*{b-bdown-background-start}*/, #18670C /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #18670C /*{b-bdown-background-start}*/, #18670C /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #18670C /*{b-bdown-background-start}*/, #18670C /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #18670C /*{b-bdown-background-start}*/, #18670C /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #18670C /*{b-bdown-background-start}*/, #18670C /*{b-bdown-background-end}*/);
}
.ui-btn-down-o a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-o,
.ui-btn-hover-o,
.ui-btn-down-o {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

