/*burgandy*/
.ui-bar-k {
	border: 1px solid 		#770237 /*{b-bar-border}*/;
	background: 			#972821 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #D03A39 /*{b-bar-background-start}*/), to( #421210 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #D03A39 /*{b-bar-background-start}*/, #421210 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #D03A39 /*{b-bar-background-start}*/, #421210 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #D03A39 /*{b-bar-background-start}*/, #421210 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #D03A39 /*{b-bar-background-start}*/, #421210 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #D03A39 /*{b-bar-background-start}*/, #421210 /*{b-bar-background-end}*/);
}
.ui-bar-k,
.ui-bar-k input,
.ui-bar-k select,
.ui-bar-k textarea,
.ui-bar-k button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-k .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-k .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-k .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-k .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-k .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-k,
.ui-overlay-k {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-k {
	background-image: none;
	border-width: 0;
}
.ui-body-k,
.ui-body-k input,
.ui-body-k select,
.ui-body-k textarea,
.ui-body-k button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-k .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-k .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-k .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-k .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-k .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
/* Button up */
.ui-page-theme-k .ui-btn,
html .ui-bar-k .ui-btn,
html .ui-body-k .ui-btn,
html body .ui-group-theme-k .ui-btn,
html head + body .ui-btn.ui-btn-k,
/* Button visited */
.ui-page-theme-k .ui-btn:visited,
html .ui-bar-k .ui-btn:visited,
html .ui-body-k .ui-btn:visited,
html body .ui-group-theme-k .ui-btn:visited,
html head + body .ui-btn.ui-btn-k:visited{
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#5C1B19 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #972821 /*{b-bup-background-start}*/), to( #270404 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #972821 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #972821 /*{b-bup-background-start}*/, #270404 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #972821 /*{b-bup-background-start}*/, #270404 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #972821 /*{b-bup-background-start}*/, #270404 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #972821 /*{b-bup-background-start}*/, #270404 /*{b-bup-background-end}*/);
}
.ui-btn-up-k a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
/* Button hover */
.ui-page-theme-k .ui-btn:hover,
html .ui-bar-k .ui-btn:hover,
html .ui-body-k .ui-btn:hover,
html body .ui-group-theme-k .ui-btn:hover,
html head + body .ui-btn.ui-btn-k:hover {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#9E9E9E /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #C4C4C4 /*{b-bhover-background-start}*/), to( #6C6C6C /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #C4C4C4 /*{b-bhover-background-start}*/, #6C6C6C /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #C4C4C4 /*{b-bhover-background-start}*/, #6C6C6C /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #C4C4C4 /*{b-bhover-background-start}*/, #6C6C6C /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #C4C4C4 /*{b-bhover-background-start}*/, #6C6C6C /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #C4C4C4 /*{b-bhover-background-start}*/, #6C6C6C /*{b-bhover-background-end}*/);
}
.ui-btn-hover-k a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
/* Button down */
.ui-page-theme-k .ui-btn:active,
html .ui-bar-k .ui-btn:active,
html .ui-body-k .ui-btn:active,
html body .ui-group-theme-k .ui-btn:active,
html head + body .ui-btn.ui-btn-k:active {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#511010 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #511010 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #511010 /*{b-bdown-background-start}*/), to( #511010 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/);
}
.ui-btn-down-k a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-k,
.ui-btn-hover-k,
.ui-btn-down-k {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

