



/* ====================================================== */
/* This N swatch is for Black Hills Federal Credit Union , tahoe blue, black content      */
/* ====================================================== */
.ui-bar-n {
	border: 1px solid 		#263f6a /*{b-bar-border}*/;
	background: 			#082856 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #082856 /*{b-bar-background-start}*/), to( #082856 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #082856 /*{b-bar-background-start}*/, #082856 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #082856 /*{b-bar-background-start}*/, #082856 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #082856 /*{b-bar-background-start}*/, #082856 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #082856 /*{b-bar-background-start}*/, #082856 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #082856 /*{b-bar-background-start}*/, #082856 /*{b-bar-background-end}*/);
}
.ui-bar-n,
.ui-bar-n input,
.ui-bar-n select,
.ui-bar-n textarea,
.ui-bar-n button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-n .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-n .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-n .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-n .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-n .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-n,
.ui-overlay-n {
	border: 1px solid 		#fff /*{b-body-border}*/;
	background: 			#000000 /*{b-body-background-color}*/;
	color: 					#fff /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #0c0c0c /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #01040E /*{b-body-background-start}*/), to( #000000 /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #01040E /*{b-body-background-start}*/, #000000 /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #01040E /*{b-body-background-start}*/, #000000 /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #01040E /*{b-body-background-start}*/, #000000 /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #01040E /*{b-body-background-start}*/, #000000 /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #01040E /*{b-body-background-start}*/, #000000 /*{b-body-background-end}*/);
}
.ui-overlay-n {
	background-image: none;
	border-width: 0;
}
.ui-body-n,
.ui-body-n input,
.ui-body-n select,
.ui-body-n textarea,
.ui-body-n button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-n .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-n .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-n .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-n .ui-link:active {
	color: #ffffff /*{b-body-link-active}*/;
}
.ui-body-n .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
/* Button up */
.ui-page-theme-n .ui-btn,
html .ui-bar-n .ui-btn,
html .ui-body-n .ui-btn,
html body .ui-group-theme-n .ui-btn,
html head + body .ui-btn.ui-btn-n,
/* Button visited */
.ui-page-theme-n .ui-btn:visited,
html .ui-bar-n .ui-btn:visited,
html .ui-body-n .ui-btn:visited,
html body .ui-group-theme-n .ui-btn:visited,
html head + body .ui-btn.ui-btn-n:visited {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#2C5794 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #4D7FC5 /*{b-bup-background-start}*/), to( #2C5794 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #4D7FC5 /*{b-bup-background-start}*/, #2C5794 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #4D7FC5 /*{b-bup-background-start}*/, #2C5794 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #4D7FC5 /*{b-bup-background-start}*/, #2C5794 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #4D7FC5 /*{b-bup-background-start}*/, #2C5794 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #4D7FC5 /*{b-bup-background-start}*/, #2C5794 /*{b-bup-background-end}*/);
}
.ui-btn-up-n a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
/* Button hover */
.ui-page-theme-n .ui-btn:hover,
html .ui-bar-n .ui-btn:hover,
html .ui-body-n .ui-btn:hover,
html body .ui-group-theme-n .ui-btn:hover,
html head + body .ui-btn.ui-btn-n:hover {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#6facd5 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bhover-background-start}*/), to( #4272a4 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-n a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
/* Button down */
.ui-page-theme-n .ui-btn:active,
html .ui-bar-n .ui-btn:active,
html .ui-body-n .ui-btn:active,
html body .ui-group-theme-n .ui-btn:active,
html head + body .ui-btn.ui-btn-n:active {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#3e79b5 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #295b8e /*{b-bdown-background-start}*/), to( #3e79b5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/);
}
.ui-btn-down-n a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-n,
.ui-btn-hover-n,
.ui-btn-down-n {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}



/* ====================================================== */
/* This R swatch is for Edfuc - navy blue for bar, content on implement       */
/* ====================================================== */
.ui-bar-r {
	border: 1px solid 		#134E73 /*{b-bar-border}*/;
	background: 			#4597cb /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #4597cb /*{b-bar-background-start}*/), to( #4597cb /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #4597cb /*{b-bar-background-start}*/, #4597cb /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #4597cb /*{b-bar-background-start}*/, #4597cb /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #4597cb /*{b-bar-background-start}*/, #4597cb /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #4597cb /*{b-bar-background-start}*/, #4597cb /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #4597cb /*{b-bar-background-start}*/, #4597cb /*{b-bar-background-end}*/);
}
.ui-bar-r,
.ui-bar-r input,
.ui-bar-r select,
.ui-bar-r textarea,
.ui-bar-r button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-r .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-r .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-r .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-r .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-r .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-r,
.ui-overlay-r {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-r {
	background-image: none;
	border-width: 0;
}
.ui-body-r,
.ui-body-r input,
.ui-body-r select,
.ui-body-r textarea,
.ui-body-r button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-header-r .ui-title-o { min-height: 1.1em; text-align: center; font-size: 10px; display: block; margin: .6em 30% .8em;  padding: 0;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; } 


.ui-body-r .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-r .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-r .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-r .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-r .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
/* Button up */
.ui-page-theme-r .ui-btn,
html .ui-bar-r .ui-btn,
html .ui-body-r .ui-btn,
html body .ui-group-theme-r .ui-btn,
html head + body .ui-btn.ui-btn-r,
/* Button visited */
.ui-page-theme-o .ui-btn:visited,
html .ui-bar-o .ui-btn:visited,
html .ui-body-o .ui-btn:visited,
html body .ui-group-theme-o .ui-btn:visited,
html head + body .ui-btn.ui-btn-o:visited {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#082948 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #082948 /*{b-bup-background-start}*/), to( #082948 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/);
}
.ui-btn-up-r a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
/* Button hover */
.ui-page-theme-r .ui-btn:hover,
html .ui-bar-r .ui-btn:hover,
html .ui-body-r .ui-btn:hover,
html body .ui-group-theme-r .ui-btn:hover,
html head + body .ui-btn.ui-btn-r:hover {

	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#6facd5 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bhover-background-start}*/), to( #4272a4 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-r a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
/* Button down */
.ui-page-theme-r .ui-btn:active,
html .ui-bar-r .ui-btn:active,
html .ui-body-r .ui-btn:active,
html body .ui-group-theme-r .ui-btn:active,
html head + body .ui-btn.ui-btn-r:active {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#004184 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #295b8e /*{b-bdown-background-start}*/), to( #3e79b5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/);
}
.ui-btn-down-r a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-r,
.ui-btn-hover-r,
.ui-btn-down-r {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

