

/* h = black & little of gray, body not set
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-h {
	border: 1px solid 		#333 /*{a-bar-border}*/;
	background: 			#004177 /*{a-bar-background-color}*/;
	color: 					#ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #004177 /*{a-bar-background-start}*/), to( #004177 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #004177 /*{a-bar-background-start}*/, #004177 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #004177 /*{a-bar-background-start}*/, #004177 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #004177 /*{a-bar-background-start}*/, #004177 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #004177 /*{a-bar-background-start}*/, #004177 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #004177 /*{a-bar-background-start}*/, #004177 /*{a-bar-background-end}*/);
}
.ui-bar-h, 
.ui-bar-h input, 
.ui-bar-h select, 
.ui-bar-h textarea, 
.ui-bar-h button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-h .ui-link-inherit {
	color: #fff /*{a-bar-color}*/;
}

.ui-bar-h .ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-h .ui-link:hover {
	color: #2489CE /*{a-bar-link-hover}*/;
}

.ui-bar-h .ui-link:active {
	color: #2489CE /*{a-bar-link-hctive}*/;
}

.ui-bar-h .ui-link:visited {
    color: #2489CE /*{a-bar-link-visited}*/;
}
.ui-body-h,
.ui-overlay-h {
	border: 1px solid 		#444 /*{a-body-border}*/;
	background: 			#222 /*{a-body-background-color}*/;
	color: 					#fff /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #111 /*{a-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444 /*{a-body-background-start}*/), to( #222 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/);	
}
.ui-overlay-h {
	background-image: none;
	border-width: 0;
}
.ui-body-h,
.ui-body-h input,
.ui-body-h select,
.ui-body-h textarea,
.ui-body-h button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-h .ui-link-inherit {
	color: 	#fff /*{a-body-color}*/;
}

.ui-body-h .ui-link {
	color: #2489CE /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-h .ui-link:hover {
	color: #2489CE /*{a-body-link-hover}*/;
}

.ui-body-h .ui-link:active {
	color: #2489CE /*{a-body-link-active}*/;
}

.ui-body-h .ui-link:visited {
    color: #2489CE /*{a-body-link-visited}*/;
}

/* Button up */
.ui-page-theme-h .ui-btn,
html .ui-bar-h .ui-btn,
html .ui-body-h .ui-btn,
html body .ui-group-theme-h .ui-btn,
html head + body .ui-btn.ui-btn-h,
/* Button visited */
.ui-page-theme-h .ui-btn:visited,
html .ui-bar-h .ui-btn:visited,
html .ui-body-h .ui-btn:visited,
html body .ui-group-theme-h .ui-btn:visited,
html head + body .ui-btn.ui-btn-h:visited {
	border: 1px solid 		#111 /*{a-bup-border}*/;
	background: 			#333 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #111 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444444 /*{a-bup-background-start}*/), to( #333 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #444444 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #444444 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #444444 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #444444 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #444444 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/);
}
.ui-btn-up-h a.ui-link-inherit {
	color: 					#fff /*{a-bup-color}*/;
}
/* Button hover */
.ui-page-theme-h .ui-btn:hover,
html .ui-bar-h .ui-btn:hover,
html .ui-body-h .ui-btn:hover,
html body .ui-group-theme-h .ui-btn:hover,
html head + body .ui-btn.ui-btn-h:hover {
	border: 1px solid 		#000 /*{a-bhover-border}*/;
	background: 			#444444 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #111 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #555555 /*{a-bhover-background-start}*/), to( #383838 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #555555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #555555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #555555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #555555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #555555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-h a.ui-link-inherit {
	color: 					#fff /*{a-bhover-color}*/;
}
/* Button down */
.ui-page-theme-h .ui-btn:active,
html .ui-bar-h .ui-btn:active,
html .ui-body-h .ui-btn:active,
html body .ui-group-theme-h .ui-btn:active,
html head + body .ui-btn.ui-btn-h:active {
	border: 1px solid 		#000 /*{a-bdown-border}*/;
	background: 			#222 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #111 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #202020 /*{a-bdown-background-start}*/), to( #2c2c2c /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/);
}
.ui-btn-down-h a.ui-link-inherit {
	color: 					#fff /*{a-bdown-color}*/;
}
.ui-btn-up-h,
.ui-btn-hover-h,
.ui-btn-down-h {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}
