

/* This L swatch is for MCU, blue */

.ui-bar-l {
	border: 1px solid 		#0076C0 /*{b-bar-border}*/;
	background: 			#003490 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #003490 /*{b-bar-background-start}*/), to( #003490 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #003490 /*{b-bar-background-start}*/, #003490 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #003490 /*{b-bar-background-start}*/, #003490 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #003490 /*{b-bar-background-start}*/, #003490 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #003490 /*{b-bar-background-start}*/, #003490 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #003490 /*{b-bar-background-start}*/, #003490 /*{b-bar-background-end}*/);
}
.ui-bar-l,
.ui-bar-l input,
.ui-bar-l select,
.ui-bar-l textarea,
.ui-bar-l button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-l .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-l .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-l .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-l .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-l .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-l,
.ui-overlay-l {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-l {
	background-image: none;
	border-width: 0;
}
.ui-body-l,
.ui-body-l input,
.ui-body-l select,
.ui-body-l textarea,
.ui-body-l button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-l .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-l .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-l .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-l .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-l .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
/* Button up */
.ui-page-theme-l .ui-btn,
html .ui-bar-l .ui-btn,
html .ui-body-l .ui-btn,
html body .ui-group-theme-l .ui-btn,
html head + body .ui-btn.ui-btn-l,
/* Button visited */
.ui-page-theme-l .ui-btn:visited,
html .ui-bar-l .ui-btn:visited,
html .ui-body-l .ui-btn:visited,
html body .ui-group-theme-l .ui-btn:visited,
html head + body .ui-btn.ui-btn-l:visited{
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#000080 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #000080 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #0076C0 /*{b-bup-background-start}*/, #000080 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #0076C0 /*{b-bup-background-start}*/, #000080 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #0076C0 /*{b-bup-background-start}*/, #000080 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #0076C0 /*{b-bup-background-start}*/, #000080 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #0076C0 /*{b-bup-background-start}*/, #000080 /*{b-bup-background-end}*/);
}
.ui-btn-up-l a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
/* Button hover */
.ui-page-theme-l .ui-btn:hover,
html .ui-bar-l .ui-btn:hover,
html .ui-body-l .ui-btn:hover,
html body .ui-group-theme-l .ui-btn:hover,
html head + body .ui-btn.ui-btn-l:hover {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#008080 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bhover-background-start}*/), to( #008080 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #008080 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #008080 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #008080 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #008080 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #008080 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-l a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
/* Button down */
.ui-page-theme-l .ui-btn:active,
html .ui-bar-l .ui-btn:active,
html .ui-body-l .ui-btn:active,
html body .ui-group-theme-l .ui-btn:active,
html head + body .ui-btn.ui-btn-l:active {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#808080 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #295b8e /*{b-bdown-background-start}*/), to( #808080 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #808080 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #808080 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #808080 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #808080 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #295b8e /*{b-bdown-background-start}*/, #808080 /*{b-bdown-background-end}*/);
}
.ui-btn-down-l a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-l,
.ui-btn-hover-l,
.ui-btn-down-l {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}
