
/* ====================================================== */
/* This P swatch is for  Michigan Schools and Government Credit Union      */
/* ====================================================== */
.ui-bar-p {
	border: 1px solid 		#082948 /*{b-bar-border}*/;
	background: 			#004177 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #004177 /*{b-bar-background-start}*/), to( #004177 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #004177 /*{b-bar-background-start}*/, #004177 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #004177 /*{b-bar-background-start}*/, #004177 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #004177 /*{b-bar-background-start}*/, #004177 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #004177 /*{b-bar-background-start}*/, #004177 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #004177 /*{b-bar-background-start}*/, #004177 /*{b-bar-background-end}*/);
}
.ui-bar-p,
.ui-bar-p input,
.ui-bar-p select,
.ui-bar-p textarea,
.ui-bar-p button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-p .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-p .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-p .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-p .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-p .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-p,
.ui-overlay-p {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-p {
	background-image: none;
	border-width: 0;
}
.ui-body-p,
.ui-body-p input,
.ui-body-p select,
.ui-body-p textarea,
.ui-body-p button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-header-p .ui-title-o { min-height: 1.1em; text-align: center; font-size: 10px; display: block; margin: .6em 30% .8em;  padding: 0;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; } 


.ui-body-p .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-p .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-p .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-p .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-p .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
.ui-btn-up-p {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#082948 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #082948 /*{b-bup-background-start}*/), to( #082948 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/);
}
.ui-btn-up-p a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-p {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#FFFF7A /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bhover-background-start}*/), to( #4272a4 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-p a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-p {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#FFFF7A /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #295b8e /*{b-bdown-background-start}*/), to( #3e79b5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/);
}
.ui-btn-down-p a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-p,
.ui-btn-hover-p,
.ui-btn-down-p {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


