/* This L swatch is for StateDeprtment -blue */
/*used for header_theme to set breadscrum text,  1st page title eand section header text - only bar color is used*/
.ui-bar-l {
	background: 			#565e96 /*1)header_theme, font color for step header, section-header; 2) header_theme2(default to green for null), font color for pager header, button border and text*/;
}


/*used for header_theme2 to set breadscrumb, button border and button text color - only bar color is used*/
.ui-bar-m {
	background: #6aa341 /*{step , and page header}*/;
}


/*Footer - set footer bar color, continue button, and button in landing page
/* all attributes are used*/
.ui-bar-n {
	border: 1px solid 		#ffffff /*{b-bar-border}*/;
	background: 			#ffffff /*footer     */;
	color: 					#666666 /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 0px /*{b-bar-shadow-y}*/ 0px /*{b-bar-shadow-radius}*/ #fff /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d7d7d7 /*{b-bar-background-start}*/), to( #ffffff /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{b-bar-background-start}*/, #ffffff /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{b-bar-background-start}*/, #ffffff /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{b-bar-background-start}*/, #ffffff /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{b-bar-background-start}*/, #ffffff /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{b-bar-background-start}*/, #ffffff /*{b-bar-background-end}*/);
}
.ui-bar-n,
.ui-bar-n input,
.ui-bar-n select,
.ui-bar-n textarea,
.ui-bar-n button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-n .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-n .ui-link {
	color: #ddf0f8 /*{b-bar-nink-color}*/;
	font-weight: bold;
}
.ui-bar-n .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-n .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-n .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-n,
.ui-overlay-n {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-n {
	background-image: none;
	border-width: 0;
}
.ui-body-n,
.ui-body-n input,
.ui-body-n select,
.ui-body-n textarea,
.ui-body-n button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-n .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-n .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-n .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-n .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-n .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}

/*use button style for "Continue" btn and button in landing page*/
/* Button up */
.ui-page-theme-n .ui-btn,
html .ui-bar-n .ui-btn,
html .ui-body-n .ui-btn,
html body .ui-group-theme-n .ui-btn,
html head + body .ui-btn.ui-btn-n,
/* Button visited */
.ui-page-theme-n .ui-btn:visited,
html .ui-bar-n .ui-btn:visited,
html .ui-body-n .ui-btn:visited,
html body .ui-group-theme-n .ui-btn:visited,
html head + body .ui-btn.ui-btn-n:visited{
	border: 1px solid 		#52bc71 /*{b-bup-border}*/;
	background: 			#52bc71 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 0px /*{b-bup-shadow-y}*/ 0px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #52bc71 /*{b-bup-background-start}*/), to( #52bc71 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #52bc71 /*{b-bup-background-start}*/, #52bc71 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #52bc71 /*{b-bup-background-start}*/, #52bc71 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #52bc71 /*{b-bup-background-start}*/, #52bc71 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #52bc71 /*{b-bup-background-start}*/, #52bc71 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #52bc71 /*{b-bup-background-start}*/, #52bc71 /*{b-bup-background-end}*/);
}
.ui-btn-up-n a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
/* Button hover */
.ui-page-theme-n .ui-btn:hover,
html .ui-bar-n .ui-btn:hover,
html .ui-body-n .ui-btn:hover,
html body .ui-group-theme-n .ui-btn:hover,
html head + body .ui-btn.ui-btn-n:hover {
	border: 1px solid 		#86CF8A /*{b-bhover-border}*/;
	background: 			#86CF8A /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 0px /*{b-bhover-shadow-y}*/ 0px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #86CF8A /*{b-bhover-background-start}*/), to( #86CF8A /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #86CF8A /*{b-bhover-background-start}*/, #86CF8A /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #86CF8A /*{b-bhover-background-start}*/, #86CF8A /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #86CF8A /*{b-bhover-background-start}*/, #86CF8A /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #86CF8A /*{b-bhover-background-start}*/, #86CF8A /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #86CF8A /*{b-bhover-background-start}*/, #86CF8A /*{b-bhover-background-end}*/);
}
.ui-btn-hover-n a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
/* Button down */
.ui-page-theme-n .ui-btn:active,
html .ui-bar-n .ui-btn:active,
html .ui-body-n .ui-btn:active,
html body .ui-group-theme-n .ui-btn:active,
html head + body .ui-btn.ui-btn-n:active {
	border: 1px solid 		#37811B /*{b-bdown-border}*/;
	background: 			#37811B /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 0px /*{b-bdown-shadow-y}*/ 0px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #37811B /*{b-bdown-background-start}*/), to( #37811B /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #37811B /*{b-bdown-background-start}*/, #37811B /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #37811B /*{b-bdown-background-start}*/, #37811B /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #37811B /*{b-bdown-background-start}*/, #37811B /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #37811B /*{b-bdown-background-start}*/, #37811B /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #37811B /*{b-bdown-background-start}*/, #37811B /*{b-bdown-background-end}*/);
}
.ui-btn-down-n a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-n,
.ui-btn-hover-n,
.ui-btn-down-n {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

