/*burgandy*/
.ui-bar-k {
	border: 1px solid 		#660033 /*{b-bar-border}*/;
	background: 			#BB6C38 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #BB6C38 /*{b-bar-background-start}*/), to( #BB6C38 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #BB6C38 /*{b-bar-background-start}*/, #BB6C38 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #BB6C38 /*{b-bar-background-start}*/, #BB6C38 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #BB6C38 /*{b-bar-background-start}*/, #BB6C38 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #BB6C38 /*{b-bar-background-start}*/, #BB6C38 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #BB6C38 /*{b-bar-background-start}*/, #BB6C38 /*{b-bar-background-end}*/);
}
.ui-bar-k,
.ui-bar-k input,
.ui-bar-k select,
.ui-bar-k textarea,
.ui-bar-k button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-k .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-k .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-k .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-k .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-k .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-k,
.ui-overlay-k {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-k {
	background-image: none;
	border-width: 0;
}
.ui-body-k,
.ui-body-k input,
.ui-body-k select,
.ui-body-k textarea,
.ui-body-k button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-k .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-k .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-k .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-k .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-k .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
/* Button up */
.ui-page-theme-k .ui-btn,
html .ui-bar-k .ui-btn,
html .ui-body-k .ui-btn,
html body .ui-group-theme-k .ui-btn,
html head + body .ui-btn.ui-btn-k,
/* Button visited */
.ui-page-theme-k .ui-btn:visited,
html .ui-bar-k .ui-btn:visited,
html .ui-body-k .ui-btn:visited,
html body .ui-group-theme-k .ui-btn:visited,
html head + body .ui-btn.ui-btn-k:visited {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#770237 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/);
}
.ui-btn-up-k a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
/* Button hover */
.ui-page-theme-k .ui-btn:hover,
html .ui-bar-k .ui-btn:hover,
html .ui-body-k .ui-btn:hover,
html body .ui-group-theme-k .ui-btn:hover,
html head + body .ui-btn.ui-btn-k:hover {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#CA1C1D /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #CA1C1D /*{b-bhover-background-start}*/), to( #CA1C1D /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #CA1C1D /*{b-bhover-background-start}*/, #CA1C1D /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #CA1C1D /*{b-bhover-background-start}*/, #CA1C1D /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #CA1C1D /*{b-bhover-background-start}*/, #CA1C1D /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #CA1C1D /*{b-bhover-background-start}*/, #CA1C1D /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #CA1C1D /*{b-bhover-background-start}*/, #CA1C1D /*{b-bhover-background-end}*/);
}
.ui-btn-hover-k a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
/* Button down */
.ui-page-theme-k .ui-btn:active,
html .ui-bar-k .ui-btn:active,
html .ui-body-k .ui-btn:active,
html body .ui-group-theme-k .ui-btn:active,
html head + body .ui-btn.ui-btn-k:active {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#511010 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #511010 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #511010 /*{b-bdown-background-start}*/), to( #511010 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/);
}
.ui-btn-down-k a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-k,
.ui-btn-hover-k,
.ui-btn-down-k {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/*g  */
.ui-bar-g {
	border: 1px solid 		#e03a3e /*{b-bar-border}*/;
	background: 			#D67533 /*{b-bar-background-color}*/;
	color: 					#5b5b5b /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #D67533 /*{b-bar-background-start}*/), to( #D67533 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #D67533 /*{b-bar-background-start}*/, #D67533 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #D67533 /*{b-bar-background-start}*/, #D67533 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #D67533 /*{b-bar-background-start}*/, #D67533 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #D67533 /*{b-bar-background-start}*/, #D67533 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #D67533 /*{b-bar-background-start}*/, #D67533 /*{b-bar-background-end}*/);
}
.ui-bar-g,
.ui-bar-g input,
.ui-bar-g select,
.ui-bar-g textarea,
.ui-bar-g button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-g .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-g .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-g .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-g .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-g .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-g,
.ui-overlay-g {
	border: 1px solid 		#aaa /*{c-body-border}*/;
	color: 					#5b5b5b /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	background: 			#f9f9f9 /*{c-body-background-color}*/;
	font-family:		Verdana;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{c-body-background-start}*/), to( #f9f9f9 /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #f9f9f9 /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #f9f9f9 /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #f9f9f9 /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #f9f9f9 /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #f9f9f9 /*{c-body-background-end}*/);
}
.ui-overlay-g {
	background-image: none;
	border-width: 0;
}
.ui-body-g,
.ui-body-g input,
.ui-body-g select,
.ui-body-g textarea,
.ui-body-g button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-g .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-g .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-g .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-g .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-g .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
/* Button up */
.ui-page-theme-g .ui-btn,
html .ui-bar-g .ui-btn,
html .ui-body-g .ui-btn,
html body .ui-group-theme-g .ui-btn,
html head + body .ui-btn.ui-btn-g,
/* Button visited */
.ui-page-theme-g .ui-btn:visited,
html .ui-bar-g .ui-btn:visited,
html .ui-body-g .ui-btn:visited,
html body .ui-group-theme-g .ui-btn:visited,
html head + body .ui-btn.ui-btn-g:visited {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#FF0000 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #E11915 /*{b-bup-background-start}*/), to( #FF0000 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #E11915 /*{b-bup-background-start}*/, #FF0000 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #E11915 /*{b-bup-background-start}*/, #FF0000 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #E11915 /*{b-bup-background-start}*/, #FF0000 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #E11915 /*{b-bup-background-start}*/, #FF0000 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #E11915 /*{b-bup-background-start}*/, #FF0000 /*{b-bup-background-end}*/);
}
.ui-btn-up-g a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}

/* Button hover */
.ui-page-theme-g .ui-btn:hover,
html .ui-bar-g .ui-btn:hover,
html .ui-body-g .ui-btn:hover,
html body .ui-group-theme-g .ui-btn:hover,
html head + body .ui-btn.ui-btn-g:hover {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#F84844 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F84844 /*{b-bhover-background-start}*/), to( #F84844 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #F84844 /*{b-bhover-background-start}*/, #F84844 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #F84844 /*{b-bhover-background-start}*/, #F84844 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #F84844 /*{b-bhover-background-start}*/, #F84844 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #F84844 /*{b-bhover-background-start}*/, #F84844 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #F84844 /*{b-bhover-background-start}*/, #F84844 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-g a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
/* Button down */
.ui-page-theme-g .ui-btn:active,
html .ui-bar-g .ui-btn:active,
html .ui-body-g .ui-btn:active,
html body .ui-group-theme-g .ui-btn:active,
html head + body .ui-btn.ui-btn-g:active {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#cc0000 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #511010 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #cc0000 /*{b-bdown-background-start}*/), to( #cc0000 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #cc0000 /*{b-bdown-background-start}*/, #cc0000 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #cc0000 /*{b-bdown-background-start}*/, #cc0000 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #cc0000 /*{b-bdown-background-start}*/, #cc0000 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #cc0000 /*{b-bdown-background-start}*/, #cc0000 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #cc0000 /*{b-bdown-background-start}*/, #cc0000 /*{b-bdown-background-end}*/);
}
.ui-btn-down-g a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-g,
.ui-btn-hover-g,
.ui-btn-down-g {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* Active button */
.ui-page-theme-g .ui-btn.ui-btn-active,
html .ui-bar-g .ui-btn.ui-btn-active,
html .ui-body-g .ui-btn.ui-btn-active,
html body .ui-group-theme-g .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-t.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-g .ui-checkbox-on:after,
html .ui-bar-g .ui-checkbox-on:after,
html .ui-body-g .ui-checkbox-on:after,
html body .ui-group-theme-g .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-t:after,
/* Active flipswitch background */
.ui-page-theme-g .ui-flipswitch-active,
html .ui-bar-g .ui-flipswitch-active,
html .ui-body-g .ui-flipswitch-active,
html body .ui-group-theme-g .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-t.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-g .ui-slider-track .ui-btn-active,
html .ui-bar-g .ui-slider-track .ui-btn-active,
html .ui-body-g .ui-slider-track .ui-btn-active,
html body .ui-group-theme-g .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-g .ui-btn-active,
/* Active radio button icon */
.ui-page-theme-g .ui-radio-on:after,
.ui-bar-g .ui-radio-on:after,
.ui-body-g .ui-radio-on:after,
body .ui-group-theme-g .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-t:after,
/* Checkbox and radio slider */
.ui-body-g .ui-checkbox-on .ui-icon, .ui-body-g .ui-radio-on .ui-icon, 
.ui-body-g .ui-slider-mini span.ui-slider-label,
.ui-body-g .ui-slider span.ui-slider-label

 {
	background-color: #00693C /*{a-active-background-color}*/;
	border-color: #091b0b /*{a-active-border}  091b0b*/;
	color: #ffffff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #00693C /*{b-bup-background-start}*/), to( #00693C /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #00693C /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #00693C /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #00693C /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #00693C /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #00693C /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/);
}

