/*burgandy red for University First FCU*/
.ui-bar-k {
	border: 1px solid 		#660033 /*{b-bar-border}*/;
	background: 			#C41230 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #C41230 /*{b-bar-background-start}*/), to( #C41230 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #C41230 /*{b-bar-background-start}*/, #C41230 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #C41230 /*{b-bar-background-start}*/, #C41230 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #C41230 /*{b-bar-background-start}*/, #C41230 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #C41230 /*{b-bar-background-start}*/, #C41230 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #C41230 /*{b-bar-background-start}*/, #C41230 /*{b-bar-background-end}*/);
}
.ui-bar-k,
.ui-bar-k input,
.ui-bar-k select,
.ui-bar-k textarea,
.ui-bar-k button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-k .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-k .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-k .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-k .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-k .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-k,
.ui-overlay-k {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-k {
	background-image: none;
	border-width: 0;
}
.ui-body-k,
.ui-body-k input,
.ui-body-k select,
.ui-body-k textarea,
.ui-body-k button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-k .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-k .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-k .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-k .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-k .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
/* Button up */
.ui-page-theme-k .ui-btn,
html .ui-bar-k .ui-btn,
html .ui-body-k .ui-btn,
html body .ui-group-theme-k .ui-btn,
html head + body .ui-btn.ui-btn-k,
/* Button visited */
.ui-page-theme-k .ui-btn:visited,
html .ui-bar-k .ui-btn:visited,
html .ui-body-k .ui-btn:visited,
html body .ui-group-theme-k .ui-btn:visited,
html head + body .ui-btn.ui-btn-k:visited {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#770237 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/);
}
.ui-btn-up-k a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
/* Button hover */
.ui-page-theme-k .ui-btn:hover,
html .ui-bar-k .ui-btn:hover,
html .ui-body-k .ui-btn:hover,
html body .ui-group-theme-k .ui-btn:hover,
html head + body .ui-btn.ui-btn-k:hover {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#CA1C1D /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #CA1C1D /*{b-bhover-background-start}*/), to( #CA1C1D /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #CA1C1D /*{b-bhover-background-start}*/, #CA1C1D /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #CA1C1D /*{b-bhover-background-start}*/, #CA1C1D /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #CA1C1D /*{b-bhover-background-start}*/, #CA1C1D /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #CA1C1D /*{b-bhover-background-start}*/, #CA1C1D /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #CA1C1D /*{b-bhover-background-start}*/, #CA1C1D /*{b-bhover-background-end}*/);
}
.ui-btn-hover-k a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
/* Button down */
.ui-page-theme-k .ui-btn:active,
html .ui-bar-k .ui-btn:active,
html .ui-body-k .ui-btn:active,
html body .ui-group-theme-k .ui-btn:active,
html head + body .ui-btn.ui-btn-k:active {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#511010 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #511010 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #511010 /*{b-bdown-background-start}*/), to( #511010 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/);
}
.ui-btn-down-k a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-k,
.ui-btn-hover-k,
.ui-btn-down-k {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/*g=red target bcu, red header, grey footer */
.ui-bar-g {
	border: 1px solid 		#e03a3e /*{b-bar-border}*/;
	background: 			#cc0000 /*{b-bar-background-color}*/;
	color: 					#5b5b5b /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bar-background-start}*/), to( #cc0000 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #862632 /*{b-bar-background-start}*/, #cc0000 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #862632 /*{b-bar-background-start}*/, #cc0000 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #862632 /*{b-bar-background-start}*/, #cc0000 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #862632 /*{b-bar-background-start}*/, #cc0000 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #862632 /*{b-bar-background-start}*/, #cc0000 /*{b-bar-background-end}*/);
}
.ui-bar-g,
.ui-bar-g input,
.ui-bar-g select,
.ui-bar-g textarea,
.ui-bar-g button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-g .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-g .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-g .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-g .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-g .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-g,
.ui-overlay-g {
	border: 1px solid 		#aaa /*{c-body-border}*/;
	color: 					#5b5b5b /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	background: 			#f9f9f9 /*{c-body-background-color}*/;
	font-family:		Verdana;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{c-body-background-start}*/), to( #f9f9f9 /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #f9f9f9 /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #f9f9f9 /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #f9f9f9 /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #f9f9f9 /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #f9f9f9 /*{c-body-background-end}*/);
}
.ui-overlay-g {
	background-image: none;
	border-width: 0;
}
.ui-body-g,
.ui-body-g input,
.ui-body-g select,
.ui-body-g textarea,
.ui-body-g button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-g .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-g .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-g .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-g .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-g .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
.ui-btn-up-g {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#27BDE3 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #1DE3D4 /*{b-bup-background-start}*/), to( #27BDE3 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #1DE3D4 /*{b-bup-background-start}*/, #27BDE3 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #1DE3D4 /*{b-bup-background-start}*/, #27BDE3 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #1DE3D4 /*{b-bup-background-start}*/, #27BDE3 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #1DE3D4 /*{b-bup-background-start}*/, #27BDE3 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #1DE3D4 /*{b-bup-background-start}*/, #27BDE3 /*{b-bup-background-end}*/);
}
.ui-btn-up-g a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}

.ui-btn-hover-g {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#1BB824 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #13861A /*{b-bhover-background-start}*/), to( #1BB824 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #13861A /*{b-bhover-background-start}*/, #1BB824 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #13861A /*{b-bhover-background-start}*/, #1BB824 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #13861A /*{b-bhover-background-start}*/, #1BB824 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #13861A /*{b-bhover-background-start}*/, #1BB824 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #13861A /*{b-bhover-background-start}*/, #1BB824 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-g a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-g {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#13861A /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #511010 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #511010 /*{b-bdown-background-start}*/), to( #13861A /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #511010 /*{b-bdown-background-start}*/, #13861A /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #511010 /*{b-bdown-background-start}*/, #13861A /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #511010 /*{b-bdown-background-start}*/, #13861A /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #511010 /*{b-bdown-background-start}*/, #13861A /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #511010 /*{b-bdown-background-start}*/, #13861A /*{b-bdown-background-end}*/);
}
.ui-btn-down-g a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-g,
.ui-btn-hover-g,
.ui-btn-down-g {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* Active button */
.ui-page-theme-g .ui-btn.ui-btn-active,
html .ui-bar-g .ui-btn.ui-btn-active,
html .ui-body-g .ui-btn.ui-btn-active,
html body .ui-group-theme-g .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-t.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-g .ui-checkbox-on:after,
html .ui-bar-g .ui-checkbox-on:after,
html .ui-body-g .ui-checkbox-on:after,
html body .ui-group-theme-g .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-t:after,
/* Active flipswitch background */
.ui-page-theme-g .ui-flipswitch-active,
html .ui-bar-g .ui-flipswitch-active,
html .ui-body-g .ui-flipswitch-active,
html body .ui-group-theme-g .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-t.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-g .ui-slider-track .ui-btn-active,
html .ui-bar-g .ui-slider-track .ui-btn-active,
html .ui-body-g .ui-slider-track .ui-btn-active,
html body .ui-group-theme-g .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-g .ui-btn-active,
/* Active radio button icon */
.ui-page-theme-g .ui-radio-on:after,
.ui-bar-g .ui-radio-on:after,
.ui-body-g .ui-radio-on:after,
body .ui-group-theme-g .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-t:after,
/* Checkbox and radio slider */
.ui-body-g .ui-checkbox-on .ui-icon, .ui-body-g .ui-radio-on .ui-icon, 
.ui-body-g .ui-slider-mini span.ui-slider-label,
.ui-body-g .ui-slider span.ui-slider-label

 {
	background-color: #00693C /*{a-active-background-color}*/;
	border-color: #091b0b /*{a-active-border}  091b0b*/;
	color: #ffffff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #00693C /*{b-bup-background-start}*/), to( #00693C /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #00693C /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #00693C /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #00693C /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #00693C /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #00693C /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/);
}



/* This L swatch is for NorthEast cu, blue */

.ui-bar-l {
	border: 1px solid 		#0076C0 /*{b-bar-border}*/;
	background: 			#002D72 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #394C80 /*{b-bar-background-start}*/), to( #002D72 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #394C80 /*{b-bar-background-start}*/, #002D72 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #394C80 /*{b-bar-background-start}*/, #002D72 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #394C80 /*{b-bar-background-start}*/, #002D72 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #394C80 /*{b-bar-background-start}*/, #002D72 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #394C80 /*{b-bar-background-start}*/, #002D72 /*{b-bar-background-end}*/);
}
.ui-bar-l,
.ui-bar-l input,
.ui-bar-l select,
.ui-bar-l textarea,
.ui-bar-l button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-l .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-l .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-l .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-l .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-l .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-l,
.ui-overlay-l {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-l {
	background-image: none;
	border-width: 0;
}
.ui-body-l,
.ui-body-l input,
.ui-body-l select,
.ui-body-l textarea,
.ui-body-l button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-l .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-l .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-l .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-l .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-l .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
.ui-btn-up-l {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#0076C0 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #0076C0 /*{b-bup-background-start}*/, #0076C0 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #0076C0 /*{b-bup-background-start}*/, #0076C0 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #0076C0 /*{b-bup-background-start}*/, #0076C0 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #0076C0 /*{b-bup-background-start}*/, #0076C0 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #0076C0 /*{b-bup-background-start}*/, #0076C0 /*{b-bup-background-end}*/);
}
.ui-btn-up-l a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-l {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#FFFF7A /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bhover-background-start}*/), to( #4272a4 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-l a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-l {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#FFFF7A /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #295b8e /*{b-bdown-background-start}*/), to( #3e79b5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/);
}
.ui-btn-down-l a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-l,
.ui-btn-hover-l,
.ui-btn-down-l {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

/* ====================================================== */
/* This M swatch is for Pacific Marina Credit Union       */
/* ====================================================== */
.ui-bar-m {
	border: 1px solid 		#a5d2e9 /*{b-bar-border}*/;
	background: 			#a5d2e9 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bar-background-start}*/), to( #497bae /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/);
}
.ui-bar-m,
.ui-bar-m input,
.ui-bar-m select,
.ui-bar-m textarea,
.ui-bar-m button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-m .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-m .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-m .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-m .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-m .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-m,
.ui-overlay-m {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-m {
	background-image: none;
	border-width: 0;
}
.ui-body-m,
.ui-body-m input,
.ui-body-m select,
.ui-body-m textarea,
.ui-body-m button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-m .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-m .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-m .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-m .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-m .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
.ui-btn-up-m {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#a5d2e9 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/);
}
.ui-btn-up-m a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-m {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#FFFF7A /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bhover-background-start}*/), to( #4272a4 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-m a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-m {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#FFFF7A /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #295b8e /*{b-bdown-background-start}*/), to( #3e79b5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/);
}
.ui-btn-down-m a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-m,
.ui-btn-hover-m,
.ui-btn-down-m {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}





/* ====================================================== */
/* This N swatch is for Charlotte Metre , pink, black content      */
/* ====================================================== */
.ui-bar-n {
	border: 1px solid 		#263f6a /*{b-bar-border}*/;
	background: 			#6B4C9A /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #9362A9 /*{b-bar-background-start}*/), to( #6B4C9A /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #9362A9 /*{b-bar-background-start}*/, #6B4C9A /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #9362A9 /*{b-bar-background-start}*/, #6B4C9A /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #9362A9 /*{b-bar-background-start}*/, #6B4C9A /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #9362A9 /*{b-bar-background-start}*/, #6B4C9A /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #9362A9 /*{b-bar-background-start}*/, #6B4C9A /*{b-bar-background-end}*/);
}
.ui-bar-n,
.ui-bar-n input,
.ui-bar-n select,
.ui-bar-n textarea,
.ui-bar-n button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-n .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-n .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-n .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-n .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-n .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-n,
.ui-overlay-n {
	border: 1px solid 		#fff /*{b-body-border}*/;
	background: 			#000000 /*{b-body-background-color}*/;
	color: 					#fff /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #0c0c0c /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #01040E /*{b-body-background-start}*/), to( #000000 /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #01040E /*{b-body-background-start}*/, #000000 /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #01040E /*{b-body-background-start}*/, #000000 /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #01040E /*{b-body-background-start}*/, #000000 /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #01040E /*{b-body-background-start}*/, #000000 /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #01040E /*{b-body-background-start}*/, #000000 /*{b-body-background-end}*/);
}
.ui-overlay-n {
	background-image: none;
	border-width: 0;
}
.ui-body-n,
.ui-body-n input,
.ui-body-n select,
.ui-body-n textarea,
.ui-body-n button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-n .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-n .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-n .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-n .ui-link:active {
	color: #ffffff /*{b-body-link-active}*/;
}
.ui-body-n .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
.ui-btn-up-n {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#A078B3 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #A078B3 /*{b-bup-background-start}*/), to( #A078B3 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #A078B3 /*{b-bup-background-start}*/, #A078B3 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #A078B3 /*{b-bup-background-start}*/, #A078B3 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #A078B3 /*{b-bup-background-start}*/, #A078B3 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #A078B3 /*{b-bup-background-start}*/, #A078B3 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #A078B3 /*{b-bup-background-start}*/, #A078B3 /*{b-bup-background-end}*/);
}
.ui-btn-up-n a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-n {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#CBB5D5 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #CBB5D5 /*{b-bhover-background-start}*/), to( #CBB5D5 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #CBB5D5 /*{b-bhover-background-start}*/, #CBB5D5 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #CBB5D5 /*{b-bhover-background-start}*/, #CBB5D5 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #CBB5D5 /*{b-bhover-background-start}*/, #CBB5D5 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #CBB5D5 /*{b-bhover-background-start}*/, #CBB5D5 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #CBB5D5 /*{b-bhover-background-start}*/, #CBB5D5 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-n a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-n {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#542867 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #542867 /*{b-bdown-background-start}*/), to( #542867 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #542867 /*{b-bdown-background-start}*/, #542867 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #542867 /*{b-bdown-background-start}*/, #542867 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #542867 /*{b-bdown-background-start}*/, #542867 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #542867 /*{b-bdown-background-start}*/, #542867 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #542867 /*{b-bdown-background-start}*/, #542867 /*{b-bdown-background-end}*/);
}
.ui-btn-down-n a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-n,
.ui-btn-hover-n,
.ui-btn-down-n {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* ====================================================== */
/* This O swatch is for Verity Federal Credit Union       */
/* ====================================================== */
.ui-bar-o {
	border: 1px solid 		#FD9217 /*{b-bar-border}*/;
	background: 			#FD9217 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FD9217 /*{b-bar-background-start}*/), to( #FD9217 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FD9217 /*{b-bar-background-start}*/, #FD9217 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FD9217 /*{b-bar-background-start}*/, #FD9217 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FD9217 /*{b-bar-background-start}*/, #FD9217 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FD9217 /*{b-bar-background-start}*/, #FD9217 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FD9217 /*{b-bar-background-start}*/, #FD9217 /*{b-bar-background-end}*/);
}
.ui-bar-o,
.ui-bar-o input,
.ui-bar-o select,
.ui-bar-o textarea,
.ui-bar-o button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-o .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-o .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-o .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-o .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-o .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-o,
.ui-overlay-o {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-o {
	background-image: none;
	border-width: 0;
}
.ui-body-o,
.ui-body-o input,
.ui-body-o select,
.ui-body-o textarea,
.ui-body-o button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-header-o .ui-title-o { min-height: 1.1em; text-align: center; font-size: 10px; display: block; margin: .6em 30% .8em;  padding: 0;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; } 


.ui-body-o .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-o .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-o .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-o .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-o .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
.ui-btn-up-o {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#FD9217 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FD9217 /*{b-bup-background-start}*/, #FD9217 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FD9217 /*{b-bup-background-start}*/, #FD9217 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FD9217 /*{b-bup-background-start}*/, #FD9217 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FD9217 /*{b-bup-background-start}*/, #FD9217 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FD9217 /*{b-bup-background-start}*/, #FD9217 /*{b-bup-background-end}*/);
}
.ui-btn-up-o a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-o {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#FFFF7A /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bhover-background-start}*/), to( #4272a4 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-o a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-o {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#FFFF7A /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #295b8e /*{b-bdown-background-start}*/), to( #3e79b5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/);
}
.ui-btn-down-o a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-o,
.ui-btn-hover-o,
.ui-btn-down-o {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* ====================================================== */
/* This P swatch is for Herigate Grove FCU, dark green top bar     */
/* ====================================================== */
.ui-bar-p {
	border: 1px solid 		#082948 /*{b-bar-border}*/;
	background: 			#263300 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #263300 /*{b-bar-background-start}*/), to( #263300 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #263300 /*{b-bar-background-start}*/, #263300 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #263300 /*{b-bar-background-start}*/, #263300 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #263300 /*{b-bar-background-start}*/, #263300 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #263300 /*{b-bar-background-start}*/, #263300 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #263300 /*{b-bar-background-start}*/, #263300 /*{b-bar-background-end}*/);
}
.ui-bar-p,
.ui-bar-p input,
.ui-bar-p select,
.ui-bar-p textarea,
.ui-bar-p button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-p .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-p .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-p .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-p .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-p .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-p,
.ui-overlay-p {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-p {
	background-image: none;
	border-width: 0;
}
.ui-body-p,
.ui-body-p input,
.ui-body-p select,
.ui-body-p textarea,
.ui-body-p button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-header-p .ui-title-o { min-height: 1.1em; text-align: center; font-size: 10px; display: block; margin: .6em 30% .8em;  padding: 0;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; } 


.ui-body-p .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-p .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-p .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-p .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-p .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
.ui-btn-up-p {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#008000 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #008000 /*{b-bup-background-start}*/), to( #008000 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #008000 /*{b-bup-background-start}*/, #008000 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #008000 /*{b-bup-background-start}*/, #008000 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #008000 /*{b-bup-background-start}*/, #008000 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #008000 /*{b-bup-background-start}*/, #008000 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #008000 /*{b-bup-background-start}*/, #008000 /*{b-bup-background-end}*/);
}
.ui-btn-up-p a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-p {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#00FF7F /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #00FF7F /*{b-bhover-background-start}*/), to( #00FF7F /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #00FF7F /*{b-bhover-background-start}*/, #00FF7F /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #00FF7F /*{b-bhover-background-start}*/, #00FF7F /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #00FF7F /*{b-bhover-background-start}*/, #00FF7F /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #00FF7F /*{b-bhover-background-start}*/, #00FF7F /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #00FF7F /*{b-bhover-background-start}*/, #00FF7F /*{b-bhover-background-end}*/);
}
.ui-btn-hover-p a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-p {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#000000 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #000000 /*{b-bdown-background-start}*/), to( #000000 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #000000 /*{b-bdown-background-start}*/, #000000 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #000000 /*{b-bdown-background-start}*/, #000000 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #000000 /*{b-bdown-background-start}*/, #000000 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #000000 /*{b-bdown-background-start}*/, #000000 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #000000 /*{b-bdown-background-start}*/, #000000 /*{b-bdown-background-end}*/);
}
.ui-btn-down-p a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-p,
.ui-btn-hover-p,
.ui-btn-down-p {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}




/* ====================================================== */
/* This    */
/* ====================================================== */
.ui-bar-s {
	border: 1px solid 		#dddddd /*{b-bar-border}*/;
	background: 			#006f51 /*{b-bar-background-color}*/;
	color: 					#ffffff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 0px /*{b-bar-shadow-y}*/ 0px /*{b-bar-shadow-radius}*/ #eeeeee /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #006f51 /*{b-bar-background-start}*/), to( #006f51 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #006f51 /*{b-bar-background-start}*/, #006f51 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #006f51 /*{b-bar-background-start}*/, #006f51 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #006f51 /*{b-bar-background-start}*/, #006f51 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #006f51 /*{b-bar-background-start}*/, #006f51 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #006f51 /*{b-bar-background-start}*/, #006f51 /*{b-bar-background-end}*/);
}

.ui-bar-s .ui-btn-up-s {
	border: 1px solid 		#103615 /*{b-bup-border}*/;
	background: 			#f6f6f6 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#006f51 /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 0px /*{b-bup-shadow-y}*/ 0px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{b-bup-background-start}*/), to( #f6f6f6 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{b-bup-background-start}*/, #f6f6f6 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f6f6f6 /*{b-bup-background-start}*/, #f6f6f6 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f6f6f6 /*{b-bup-background-start}*/, #f6f6f6 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f6f6f6 /*{b-bup-background-start}*/, #f6f6f6 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f6f6f6 /*{b-bup-background-start}*/, #f6f6f6 /*{b-bup-background-end}*/);
}

.ui-bar-s .ui-btn-up-s ui-icon-arrow{
	background: 			#f6f6f6 /*{b-bup-background-color}*/;
}

.ui-bar-s,
.ui-bar-s input,
.ui-bar-s select,
.ui-bar-s textarea,
.ui-bar-s button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-body-s,
.ui-overlay-s {
	border: 1px solid 		#aaa /*{c-body-border}*/;
	color: 					#333333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	background: 			#FFF /*{c-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-body-background-start}*/), to( #ffffff /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-body-background-start}*/, #ffffff /*{c-body-background-end}*/);
}
.ui-overlay-s {
	background-image: none;
	border-width: 0;
}
.ui-body-s,
.ui-body-s input,
.ui-body-s select,
.ui-body-s textarea,
.ui-body-s button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-body-s .ui-link-inherit {
	color: 	#339a7e /*{c-body-color}*/;
}

.ui-body-s .ui-link {
	color: #339a7e /*{c-body-link-color}*/;
	font-weight: bold;
}

.ui-body-s .ui-link:hover {
	color: #4becc0 /*{c-body-link-hover}*/;
}

.ui-body-s .ui-link:active {
	color: #339a7e /*{c-body-link-active}*/;
}

.ui-body-s .ui-link:visited {
    color: #CA1C1D /*{c-body-link-visited}*/;
}

/*uunselected button*/
.ui-btn-up-s {
	border: 1px solid 		#aaa /*{b-bup-border}*/;
	background: 			#f6f6f6 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#000 /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 0px /*{b-bup-shadow-y}*/ 0px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{b-bup-background-start}*/), to( #f6f6f6 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{b-bup-background-start}*/, #f6f6f6 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f6f6f6 /*{b-bup-background-start}*/, #f6f6f6 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f6f6f6 /*{b-bup-background-start}*/, #f6f6f6 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f6f6f6 /*{b-bup-background-start}*/, #f6f6f6 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f6f6f6 /*{b-bup-background-start}*/, #f6f6f6 /*{b-bup-background-end}*/);
}

.ui-btn-hover-s {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#1fdba8 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #1fdba8 /*{b-bhover-background-start}*/), to( #1fdba8 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #1fdba8 /*{b-bhover-background-start}*/, #1fdba8 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #1fdba8 /*{b-bhover-background-start}*/, #1fdba8 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #1fdba8 /*{b-bhover-background-start}*/, #1fdba8 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #1fdba8 /*{b-bhover-background-start}*/, #1fdba8 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #1fdba8 /*{b-bhover-background-start}*/, #1fdba8 /*{b-bhover-background-end}*/);
}

.ui-body-s .ui-btn-active{
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#339a7e /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #1fdba8 /*{b-bhover-background-start}*/), to( #339a7e /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #1fdba8 /*{b-bhover-background-start}*/, #339a7e /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #1fdba8 /*{b-bhover-background-start}*/, #339a7e /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #1fdba8 /*{b-bhover-background-start}*/, #339a7e /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #1fdba8 /*{b-bhover-background-start}*/, #339a7e /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #1fdba8 /*{b-bhover-background-start}*/, #339a7e /*{b-bhover-background-end}*/);
}

/* Active radio button icon */
.ui-body-s  .ui-icon-radio-on{ 
	background: 			#339a7e /*{b-bhover-background-color}*/;
	background-image: url("images/icons-18-white.png");
	background-position: -720px 50%;
}
/* Active check box */
.ui-body-s .ui-icon-checkbox-on {
	background: #339a7e /*{b-bhover-background-color}*/;
	background-image: url("images/icons-18-white.png");
	background-position: -648px 50%;
}

.ui-btn-down-s {
	border: 1px solid 		#aaa /*{b-bdown-border}*/;
	background: 			#006400 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#000 /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #006400 /*{b-bdown-background-start}*/), to( #006400 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #006400 /*{b-bdown-background-start}*/, #006400 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #006400 /*{b-bdown-background-start}*/, #006400 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #006400 /*{b-bdown-background-start}*/, #006400 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #006400 /*{b-bdown-background-start}*/, #006400 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #006400 /*{b-bdown-background-start}*/, #006400 /*{b-bdown-background-end}*/);
}
.ui-btn-down-s a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-s,
.ui-btn-hover-s,
.ui-btn-down-s {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}



/* ====================================================== */
/* This R swatch is for heritage grove - dark green       */
/* ====================================================== */
.ui-bar-r {
	border: 1px solid 		#134E73 /*{b-bar-border}*/;
	background: 			#263300 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #396776 /*{b-bar-background-start}*/), to( #134E73 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #396776 /*{b-bar-background-start}*/, #134E73 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #396776 /*{b-bar-background-start}*/, #134E73 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #396776 /*{b-bar-background-start}*/, #134E73 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #396776 /*{b-bar-background-start}*/, #134E73 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #396776 /*{b-bar-background-start}*/, #134E73 /*{b-bar-background-end}*/);
}
.ui-bar-r,
.ui-bar-r input,
.ui-bar-r select,
.ui-bar-r textarea,
.ui-bar-r button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-r .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-r .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-r .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-r .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-r .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-r,
.ui-overlay-r {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-r {
	background-image: none;
	border-width: 0;
}
.ui-body-r,
.ui-body-r input,
.ui-body-r select,
.ui-body-r textarea,
.ui-body-r button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-header-r .ui-title-o { min-height: 1.1em; text-align: center; font-size: 10px; display: block; margin: .6em 30% .8em;  padding: 0;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; } 


.ui-body-r .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-r .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-r .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-r .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-r .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
.ui-btn-up-r {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#082948 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #082948 /*{b-bup-background-start}*/), to( #082948 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #082948 /*{b-bup-background-start}*/, #082948 /*{b-bup-background-end}*/);
}
.ui-btn-up-r a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-r {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#6facd5 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bhover-background-start}*/), to( #4272a4 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-r a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-r {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#004184 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #295b8e /*{b-bdown-background-start}*/), to( #3e79b5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #295b8e /*{b-bdown-background-start}*/, #3e79b5 /*{b-bdown-background-end}*/);
}
.ui-btn-down-r a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-r,
.ui-btn-hover-r,
.ui-btn-down-r {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* ====================================================== */
/* This t swatch is for AssociatedCU  - green navy bluebar,   */
/* ====================================================== */
.ui-bar-t {
	border: 1px solid 		#00a950 /*{b-bar-border}*/;
	background: 			#00B1B0 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #00B1B0 /*{b-bar-background-start}*/), to( #00a950 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #00B1B0 /*{b-bar-background-start}*/, #6BBFB6 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #00B1B0 /*{b-bar-background-start}*/, #6BBFB6 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #00B1B0 /*{b-bar-background-start}*/, #6BBFB6 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #00B1B0 /*{b-bar-background-start}*/, #6BBFB6 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #00B1B0 /*{b-bar-background-start}*/, #6BBFB6 /*{b-bar-background-end}*/);
}

.ui-bar-t,
.ui-bar-t input,
.ui-bar-t select,
.ui-bar-t textarea,
.ui-bar-t button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-t .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-t .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-t .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-t .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-t .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-t,
.ui-overlay-t {
	border: 1px solid 		#aaa /*{c-body-border}*/;
	color: 					#333333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	background: 			#f9f9f9 /*{c-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{c-body-background-start}*/), to( #eeeeee /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/);
}
.ui-overlay-t{
	background-image: none;
	border-width: 0;
}
.ui-body-t,
.ui-body-t input,
.ui-body-t select,
.ui-body-t textarea,
.ui-body-t button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-body-t .ui-link-inherit {
	color: 	#333333 /*{c-body-color}*/;
}

.ui-body-t .ui-link {
	color: #2489CE /*{c-body-link-color}*/;
	font-weight: bold;
}

.ui-body-t .ui-link:hover {
	color: #2489CE /*{c-body-link-hover}*/;
}

.ui-body-t .ui-link:active {
	color: #2489CE /*{c-body-link-active}*/;
}

.ui-body-t .ui-link:visited {
    color: #2489CE /*{c-body-link-visited}*/;
}

.ui-btn-up-t {
	border: 1px solid 		#ccc /*{c-bup-border}*/;
	background: 			#17534F /*{c-bup-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #ffffff /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #17534F /*{c-bup-background-start}*/), to( #00B1B0 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #17534F /*{c-bup-background-start}*/, #00B1B0 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #17534F /*{c-bup-background-start}*/, #00B1B0 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #17534F /*{c-bup-background-start}*/, #00B1B0 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #17534F /*{c-bup-background-start}*/, #00B1B0 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #17534F /*{c-bup-background-start}*/, #00B1B0 /*{c-bup-background-end}*/);
}
.ui-btn-up-t a.ui-link-inherit {
	color: 					#2F3E46 /*{c-bup-color}*/;
}

.ui-btn-hover-t {
	border: 1px solid 		#bbb /*{c-bhover-border}*/;
	background: 			#23746E /*{c-bhover-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #ffffff /*{c-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #23746E /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #23746E /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #23746E /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #23746E /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #23746E /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #23746E /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/);
}
.ui-btn-hover-t a.ui-link-inherit {
	color: 					#2F3E46 /*{c-bhover-color}*/;
}
.ui-btn-down-t {
	border: 1px solid 		#bbb /*{c-bdown-border}*/;
	background: 			#082321 /*{c-bdown-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #082321 /*{c-bdown-background-start}*/), to( #23746E /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #082321 /*{c-bdown-background-start}*/, #23746E /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #082321 /*{c-bdown-background-start}*/, #23746E /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #082321 /*{c-bdown-background-start}*/, #23746E /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #082321 /*{c-bdown-background-start}*/, #23746E /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #082321 /*{c-bdown-background-start}*/, #23746E /*{c-bdown-background-end}*/);
}
.ui-btn-down-t a.ui-link-inherit {
	color: 					#2F3E46 /*{c-bdown-color}*/;
}
.ui-btn-up-t,
.ui-btn-hover-t,
.ui-btn-down-t {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* Active button */
.ui-page-theme-t .ui-btn.ui-btn-active,
html .ui-bar-t .ui-btn.ui-btn-active,
html .ui-body-t .ui-btn.ui-btn-active,
html body .ui-group-theme-t .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-t.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-t .ui-checkbox-on:after,
html .ui-bar-t .ui-checkbox-on:after,
html .ui-body-t .ui-checkbox-on:after,
html body .ui-group-theme-t .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-t:after,
/* Active flipswitch background */
.ui-page-theme-t .ui-flipswitch-active,
html .ui-bar-t .ui-flipswitch-active,
html .ui-body-t .ui-flipswitch-active,
html body .ui-group-theme-t .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-t.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-t .ui-slider-track .ui-btn-active,
html .ui-bar-t .ui-slider-track .ui-btn-active,
html .ui-body-t .ui-slider-track .ui-btn-active,
html body .ui-group-theme-t .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-t .ui-btn-active,
/* Active radio button icon */
.ui-page-theme-t .ui-radio-on:after,
.ui-bar-t .ui-radio-on:after,
.ui-body-t .ui-radio-on:after,
body .ui-group-theme-t .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-t:after,
/* Checkbox and radio slider */
.ui-body-t .ui-checkbox-on .ui-icon, .ui-body-t .ui-radio-on .ui-icon, 
.ui-body-t .ui-slider-mini span.ui-slider-label,
.ui-body-t .ui-slider span.ui-slider-label

 {
	background-color: #00693C /*{a-active-background-color}*/;
	border-color: #091b0b /*{a-active-border}  091b0b*/;
	color: #ffffff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #08683f /*{b-bup-background-start}*/), to( #00693C /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #08683f /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #08683f /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #08683f /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #08683f /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #08683f /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/);
}


/* h = black & little of gray for Target bcu footer, body not set
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-h {
	border: 1px solid 		#333 /*{a-bar-border}*/;
	background: 			#686868 /*{a-bar-background-color}*/;
	color: 					#ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3c3c3c /*{a-bar-background-start}*/), to( #686868 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #3c3c3c /*{a-bar-background-start}*/, #686868 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3c3c3c /*{a-bar-background-start}*/, #686868 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #3c3c3c /*{a-bar-background-start}*/, #686868 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #3c3c3c /*{a-bar-background-start}*/, #686868 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #3c3c3c /*{a-bar-background-start}*/, #686868 /*{a-bar-background-end}*/);
}
.ui-bar-h, 
.ui-bar-h input, 
.ui-bar-h select, 
.ui-bar-h textarea, 
.ui-bar-h button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-h .ui-link-inherit {
	color: #fff /*{a-bar-color}*/;
}

.ui-bar-h .ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-h .ui-link:hover {
	color: #2489CE /*{a-bar-link-hover}*/;
}

.ui-bar-h .ui-link:active {
	color: #2489CE /*{a-bar-link-hctive}*/;
}

.ui-bar-h .ui-link:visited {
    color: #2489CE /*{a-bar-link-visited}*/;
}
.ui-body-h,
.ui-overlay-h {
	border: 1px solid 		#444 /*{a-body-border}*/;
	background: 			#222 /*{a-body-background-color}*/;
	color: 					#fff /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #111 /*{a-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444 /*{a-body-background-start}*/), to( #222 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/);	
}
.ui-overlay-h {
	background-image: none;
	border-width: 0;
}
.ui-body-h,
.ui-body-h input,
.ui-body-h select,
.ui-body-h textarea,
.ui-body-h button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-h .ui-link-inherit {
	color: 	#fff /*{a-body-color}*/;
}

.ui-body-h .ui-link {
	color: #2489CE /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-h .ui-link:hover {
	color: #2489CE /*{a-body-link-hover}*/;
}

.ui-body-h .ui-link:active {
	color: #2489CE /*{a-body-link-active}*/;
}

.ui-body-h .ui-link:visited {
    color: #2489CE /*{a-body-link-visited}*/;
}



.ui-btn-up-h {
	border: 1px solid 		#111 /*{a-bup-border}*/;
	background: 			#8BA424 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #111 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444444 /*{a-bup-background-start}*/), to( #8BA424 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #444444 /*{a-bup-background-start}*/, #8BA424 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #444444 /*{a-bup-background-start}*/, #8BA424 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #444444 /*{a-bup-background-start}*/, #8BA424 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #444444 /*{a-bup-background-start}*/, #8BA424 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #444444 /*{a-bup-background-start}*/, #8BA424 /*{a-bup-background-end}*/);
}
.ui-btn-up-h a.ui-link-inherit {
	color: 					#fff /*{a-bup-color}*/;
}
.ui-btn-hover-h {
	border: 1px solid 		#000 /*{a-bhover-border}*/;
	background: 			#1DE328 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #111 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #555555 /*{a-bhover-background-start}*/), to( #1DE328 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #555555 /*{a-bhover-background-start}*/, #1DE328 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #555555 /*{a-bhover-background-start}*/, #1DE328 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #555555 /*{a-bhover-background-start}*/, #1DE328 /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #555555 /*{a-bhover-background-start}*/, #1DE328 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #555555 /*{a-bhover-background-start}*/, #1DE328 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-h a.ui-link-inherit {
	color: 					#fff /*{a-bhover-color}*/;
}
.ui-btn-down-h {
	border: 1px solid 		#000 /*{a-bdown-border}*/;
	background: 			#091b0b /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #111 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #1DE328 /*{a-bdown-background-start}*/), to( #091b0b /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #1DE328 /*{a-bdown-background-start}*/, #091b0b /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #1DE328 /*{a-bdown-background-start}*/, #091b0b /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #1DE328 /*{a-bdown-background-start}*/, #091b0b /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #1DE328 /*{a-bdown-background-start}*/, #091b0b /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #1DE328 /*{a-bdown-background-start}*/, #091b0b /*{a-bdown-background-end}*/);
}
.ui-btn-down-h a.ui-link-inherit {
	color: 					#fff /*{a-bdown-color}*/;
}
.ui-btn-up-h,
.ui-btn-hover-h,
.ui-btn-down-h {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

/* q = dark gray, body not set
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-q {
	border: 1px solid 		#333 /*{a-bar-border}*/;
	background: 			#5A5A5A /*{a-bar-background-color}*/;
	color: 					#ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #606B6B /*{a-bar-background-start}*/), to( #5A5A5A /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #606B6B /*{a-bar-background-start}*/, #5A5A5A /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #606B6B /*{a-bar-background-start}*/, #5A5A5A /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #606B6B /*{a-bar-background-start}*/, #5A5A5A /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #606B6B /*{a-bar-background-start}*/, #5A5A5A /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #606B6B /*{a-bar-background-start}*/, #5A5A5A /*{a-bar-background-end}*/);
}
.ui-bar-q, 
.ui-bar-q input, 
.ui-bar-q select, 
.ui-bar-q textarea, 
.ui-bar-q button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-q .ui-link-inherit {
	color: #fff /*{a-bar-color}*/;
}

.ui-bar-q .ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-q .ui-link:hover {
	color: #2489CE /*{a-bar-link-hover}*/;
}

.ui-bar-q .ui-link:active {
	color: #2489CE /*{a-bar-link-hctive}*/;
}

.ui-bar-q .ui-link:visited {
    color: #2489CE /*{a-bar-link-visited}*/;
}
.ui-body-q,
.ui-overlay-q {
	border: 1px solid 		#444 /*{a-body-border}*/;
	background: 			#222 /*{a-body-background-color}*/;
	color: 					#fff /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #111 /*{a-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444 /*{a-body-background-start}*/), to( #222 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/);	
}
.ui-overlay-q {
	background-image: none;
	border-width: 0;
}
.ui-body-q,
.ui-body-q input,
.ui-body-q select,
.ui-body-q textarea,
.ui-body-q button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-q .ui-link-inherit {
	color: 	#fff /*{a-body-color}*/;
}

.ui-body-q .ui-link {
	color: #2489CE /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-q .ui-link:hover {
	color: #2489CE /*{a-body-link-hover}*/;
}

.ui-body-q .ui-link:active {
	color: #2489CE /*{a-body-link-active}*/;
}

.ui-body-q .ui-link:visited {
    color: #2489CE /*{a-body-link-visited}*/;
}



.ui-btn-up-q {
	border: 1px solid 		#111 /*{a-bup-border}*/;
	background: 			#5F706F /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #111 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #828B8A /*{a-bup-background-start}*/), to( #5F706F /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #828B8A /*{a-bup-background-start}*/, #5F706F /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #828B8A /*{a-bup-background-start}*/, #5F706F /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #828B8A /*{a-bup-background-start}*/, #5F706F /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #828B8A /*{a-bup-background-start}*/, #5F706F /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #828B8A /*{a-bup-background-start}*/, #5F706F /*{a-bup-background-end}*/);
}
.ui-btn-up-q a.ui-link-inherit {
	color: 					#fff /*{a-bup-color}*/;
}
.ui-btn-hover-q {
	border: 1px solid 		#000 /*{a-bhover-border}*/;
	background: 			#A3BBBA /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #111 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #A3BBBA /*{a-bhover-background-start}*/), to( #A3BBBA /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #A3BBBA /*{a-bhover-background-start}*/, #A3BBBA /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #A3BBBA /*{a-bhover-background-start}*/, #A3BBBA /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #A3BBBA /*{a-bhover-background-start}*/, #A3BBBA /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #A3BBBA /*{a-bhover-background-start}*/, #A3BBBA /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #A3BBBA /*{a-bhover-background-start}*/, #A3BBBA /*{a-bhover-background-end}*/);
}
.ui-btn-hover-q a.ui-link-inherit {
	color: 					#fff /*{a-bhover-color}*/;
}
.ui-btn-down-q {
	border: 1px solid 		#000 /*{a-bdown-border}*/;
	background: 			#2B3B3B /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #111 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #202020 /*{a-bdown-background-start}*/), to( #2B3B3B /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #2B3B3B /*{a-bdown-background-start}*/, #2B3B3B /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #2B3B3B /*{a-bdown-background-start}*/, #2B3B3B /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #2B3B3B /*{a-bdown-background-start}*/, #2B3B3B /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #2B3B3B /*{a-bdown-background-start}*/, #2B3B3B /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #2B3B3B /*{a-bdown-background-start}*/, #2B3B3B /*{a-bdown-background-end}*/);
}
.ui-btn-down-q a.ui-link-inherit {
	color: 					#fff /*{a-bdown-color}*/;
}
.ui-btn-up-q,
.ui-btn-hover-q,
.ui-btn-down-q {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}