/*burgandy*/
.ui-bar-k {
	border: 1px solid 		#770237 /*{b-bar-border}*/;
	background: 			#5C0025 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5C0025 /*{b-bar-background-start}*/), to( #5C0025 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5C0025 /*{b-bar-background-start}*/, #5C0025 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5C0025 /*{b-bar-background-start}*/, #5C0025 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5C0025 /*{b-bar-background-start}*/, #5C0025 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #5C0025 /*{b-bar-background-start}*/, #5C0025 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5C0025 /*{b-bar-background-start}*/, #5C0025 /*{b-bar-background-end}*/);
}
.ui-bar-k,
.ui-bar-k input,
.ui-bar-k select,
.ui-bar-k textarea,
.ui-bar-k button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-k .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-k .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-k .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-k .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-k .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-k,
.ui-overlay-k {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-k {
	background-image: none;
	border-width: 0;
}
.ui-body-k,
.ui-body-k input,
.ui-body-k select,
.ui-body-k textarea,
.ui-body-k button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-k .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-k .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-k .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-k .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-k .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
/* Button up */
.ui-page-theme-k .ui-btn,
html .ui-bar-k .ui-btn,
html .ui-body-k .ui-btn,
html body .ui-group-theme-k .ui-btn,
html head + body .ui-btn.ui-btn-k,
/* Button visited */
.ui-page-theme-k .ui-btn:visited,
html .ui-bar-k .ui-btn:visited,
html .ui-body-k .ui-btn:visited,
html body .ui-group-theme-k .ui-btn:visited,
html head + body .ui-btn.ui-btn-k:visited {
	border: 1px solid 		#044062 /*{b-bup-border}*/;
	background: 			#770237 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #770237 /*{b-bup-background-start}*/, #770237 /*{b-bup-background-end}*/);
}
.ui-btn-up-k a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
/* Button hover */
.ui-page-theme-k .ui-btn:hover,
html .ui-bar-k .ui-btn:hover,
html .ui-body-k .ui-btn:hover,
html body .ui-group-theme-k .ui-btn:hover,
html head + body .ui-btn.ui-btn-k:hover {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#700230 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #700230 /*{b-bhover-background-start}*/), to( #700230 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #700230 /*{b-bhover-background-start}*/, #700230 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #700230 /*{b-bhover-background-start}*/, #700230 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #700230 /*{b-bhover-background-start}*/, #700230 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #700230 /*{b-bhover-background-start}*/, #700230 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #700230 /*{b-bhover-background-start}*/, #700230 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-k a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
/* Button down */
.ui-page-theme-k .ui-btn:active,
html .ui-bar-k .ui-btn:active,
html .ui-body-k .ui-btn:active,
html body .ui-group-theme-k .ui-btn:active,
html head + body .ui-btn.ui-btn-k:active {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#511010 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #511010 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #511010 /*{b-bdown-background-start}*/), to( #511010 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #511010 /*{b-bdown-background-start}*/, #511010 /*{b-bdown-background-end}*/);
}
.ui-btn-down-k a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-k,
.ui-btn-hover-k,
.ui-btn-down-k {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}







/* ====================================================== */
/* This S swatch   - green bar, content is not set     */
/* ====================================================== */
.ui-bar-s {
	border: 1px solid 		#03543C /*{b-bar-border}*/;
	background: 			#003728 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #003728 /*{b-bar-background-start}*/), to( #003728 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #003728 /*{b-bar-background-start}*/, #003728 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #003728 /*{b-bar-background-start}*/, #003728 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #003728 /*{b-bar-background-start}*/, #003728 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #003728 /*{b-bar-background-start}*/, #003728 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #003728 /*{b-bar-background-start}*/, #003728 /*{b-bar-background-end}*/);
}
.ui-bar-s,
.ui-bar-s input,
.ui-bar-s select,
.ui-bar-s textarea,
.ui-bar-s button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-s .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-s .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-s .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-s .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-s .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-s,
.ui-overlay-s {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
.ui-overlay-s {
	background-image: none;
	border-width: 0;
}
.ui-body-s,
.ui-body-s input,
.ui-body-s select,
.ui-body-s textarea,
.ui-body-s button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-header-s .ui-title-o { min-height: 1.1em; text-align: center; font-size: 10px; display: block; margin: .6em 30% .8em;  padding: 0;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; } 


.ui-body-s .ui-link-inherit {
	color: 	#333333 /*{b-body-color}*/;
}
.ui-body-s .ui-link {
	color: #2489CE /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-s .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-s .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-s .ui-link:visited {
    color: #2489CE /*{b-body-link-visited}*/;
}
/* Button up */
.ui-page-theme-s .ui-btn,
html .ui-bar-s .ui-btn,
html .ui-body-s .ui-btn,
html body .ui-group-theme-s .ui-btn,
html head + body .ui-btn.ui-btn-s,
/* Button visited */
.ui-page-theme-s .ui-btn:visited,
html .ui-bar-s .ui-btn:visited,
html .ui-body-s .ui-btn:visited,
html body .ui-group-theme-s .ui-btn:visited,
html head + body .ui-btn.ui-btn-s:visited {
	border: 1px solid 		#103615 /*{b-bup-border}*/;
	background: 			#103615 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #194b7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #03543C /*{b-bup-background-start}*/), to( #103615 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #03543C /*{b-bup-background-start}*/, #103615 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #03543C /*{b-bup-background-start}*/, #103615 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #03543C /*{b-bup-background-start}*/, #103615 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #03543C /*{b-bup-background-start}*/, #103615 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #03543C /*{b-bup-background-start}*/, #103615 /*{b-bup-background-end}*/);
}
.ui-btn-up-s a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
/* Button hover */
.ui-page-theme-s .ui-btn:hover,
html .ui-bar-s .ui-btn:hover,
html .ui-body-s .ui-btn:hover,
html body .ui-group-theme-s .ui-btn:hover,
html head + body .ui-btn.ui-btn-s:hover {
	border: 1px solid 		#00415e /*{b-bhover-border}*/;
	background: 			#0C7E1B /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #0BA91F /*{b-bhover-background-start}*/), to( #0C7E1B /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #0BA91F /*{b-bhover-background-start}*/, #0C7E1B /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #0BA91F /*{b-bhover-background-start}*/, #0C7E1B /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #0BA91F /*{b-bhover-background-start}*/, #0C7E1B /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #0BA91F /*{b-bhover-background-start}*/, #0C7E1B /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #0BA91F /*{b-bhover-background-start}*/, #0C7E1B /*{b-bhover-background-end}*/);
}
.ui-btn-hover-s a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
/* Button down */
.ui-page-theme-s .ui-btn:active,
html .ui-bar-s .ui-btn:active,
html .ui-body-s .ui-btn:active,
html body .ui-group-theme-s .ui-btn:active,
html head + body .ui-btn.ui-btn-s:active {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#014209 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #194b7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #1F5C0F /*{b-bdown-background-start}*/), to( #014209 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #1F5C0F /*{b-bdown-background-start}*/, #014209 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #1F5C0F /*{b-bdown-background-start}*/, #014209 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #1F5C0F /*{b-bdown-background-start}*/, #014209 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #1F5C0F /*{b-bdown-background-start}*/, #014209 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #1F5C0F /*{b-bdown-background-start}*/, #014209 /*{b-bdown-background-end}*/);
}
.ui-btn-down-s a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-s,
.ui-btn-hover-s,
.ui-btn-down-s {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

