/* ====================================================== */
/* This t swatch is for washington state employee  - green navy bluebar,   */
/* ====================================================== */
.ui-bar-t {
	border: 1px solid 		#00a950 /*{b-bar-border}*/;
	background: 			#008576 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #269494 /*{b-bar-background-start}*/), to( #008576 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #269494 /*{b-bar-background-start}*/, #008576 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #269494 /*{b-bar-background-start}*/, #008576 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #269494 /*{b-bar-background-start}*/, #008576 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #269494 /*{b-bar-background-start}*/, #008576 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #269494 /*{b-bar-background-start}*/, #008576 /*{b-bar-background-end}*/);
}

.ui-bar-t,
.ui-bar-t input,
.ui-bar-t select,
.ui-bar-t textarea,
.ui-bar-t button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-t .ui-link-inherit {
	color: 	#fff /*{b-bar-color}*/;
}
.ui-bar-t .ui-link {
	color: #ddf0f8 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-t .ui-link:hover {
	color: #ddf0f8 /*{b-bar-link-hover}*/;
}
.ui-bar-t .ui-link:active {
	color: #ddf0f8 /*{b-bar-link-active}*/;
}
.ui-bar-t .ui-link:visited {
    color: #ddf0f8 /*{b-bar-link-visited}*/;
}
.ui-body-t,
.ui-overlay-t {
	border: 1px solid 		#aaa /*{c-body-border}*/;
	color: 					#333333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	background: 			#f9f9f9 /*{c-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{c-body-background-start}*/), to( #eeeeee /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #eeeeee /*{c-body-background-end}*/);
}
.ui-overlay-t{
	background-image: none;
	border-width: 0;
}
.ui-body-t,
.ui-body-t input,
.ui-body-t select,
.ui-body-t textarea,
.ui-body-t button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-body-t .ui-link-inherit {
	color: 	#333333 /*{c-body-color}*/;
}

.ui-body-t .ui-link {
	color: #2489CE /*{c-body-link-color}*/;
	font-weight: bold;
}

.ui-body-t .ui-link:hover {
	color: #2489CE /*{c-body-link-hover}*/;
}

.ui-body-t .ui-link:active {
	color: #2489CE /*{c-body-link-active}*/;
}

.ui-body-t .ui-link:visited {
    color: #2489CE /*{c-body-link-visited}*/;
}

/* Button up */
.ui-page-theme-t .ui-btn,
html .ui-bar-t .ui-btn,
html .ui-body-t .ui-btn,
html body .ui-group-theme-t .ui-btn,
html head + body .ui-btn.ui-btn-t,
/* Button visited */
.ui-page-theme-t .ui-btn:visited,
html .ui-bar-t .ui-btn:visited,
html .ui-body-t .ui-btn:visited,
html body .ui-group-theme-t .ui-btn:visited,
html head + body .ui-btn.ui-btn-t:visited {
	border: 1px solid 		#ccc /*{c-bup-border}*/;
	background: 			#17534F /*{c-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #ffffff /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #17534F /*{c-bup-background-start}*/), to( #00B1B0 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #17534F /*{c-bup-background-start}*/, #00B1B0 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #17534F /*{c-bup-background-start}*/, #00B1B0 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #17534F /*{c-bup-background-start}*/, #00B1B0 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #17534F /*{c-bup-background-start}*/, #00B1B0 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #17534F /*{c-bup-background-start}*/, #00B1B0 /*{c-bup-background-end}*/);
}
.ui-btn-up-t a.ui-link-inherit {
	color: 					#2F3E46 /*{c-bup-color}*/;
}

/* Button hover */
.ui-page-theme-t .ui-btn:hover,
html .ui-bar-t .ui-btn:hover,
html .ui-body-t .ui-btn:hover,
html body .ui-group-theme-t .ui-btn:hover,
html head + body .ui-btn.ui-btn-t:hover {
	border: 1px solid 		#bbb /*{c-bhover-border}*/;
	background: 			#23746E /*{c-bhover-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #ffffff /*{c-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #23746E /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #23746E /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #23746E /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #23746E /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #23746E /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #23746E /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/);
}
.ui-btn-hover-t a.ui-link-inherit {
	color: 					#2F3E46 /*{c-bhover-color}*/;
}

/* Button down */
.ui-page-theme-t .ui-btn:active,
html .ui-bar-t .ui-btn:active,
html .ui-body-t .ui-btn:active,
html body .ui-group-theme-t .ui-btn:active,
html head + body .ui-btn.ui-btn-t:active {
	border: 1px solid 		#bbb /*{c-bdown-border}*/;
	background: 			#082321 /*{c-bdown-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #082321 /*{c-bdown-background-start}*/), to( #23746E /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #082321 /*{c-bdown-background-start}*/, #23746E /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #082321 /*{c-bdown-background-start}*/, #23746E /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #082321 /*{c-bdown-background-start}*/, #23746E /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #082321 /*{c-bdown-background-start}*/, #23746E /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #082321 /*{c-bdown-background-start}*/, #23746E /*{c-bdown-background-end}*/);
}
.ui-btn-down-t a.ui-link-inherit {
	color: 					#2F3E46 /*{c-bdown-color}*/;
}
.ui-btn-up-t,
.ui-btn-hover-t,
.ui-btn-down-t {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* Active button */
.ui-page-theme-t .ui-btn.ui-btn-active,
html .ui-bar-t .ui-btn.ui-btn-active,
html .ui-body-t .ui-btn.ui-btn-active,
html body .ui-group-theme-t .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-t.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-t .ui-checkbox-on:after,
html .ui-bar-t .ui-checkbox-on:after,
html .ui-body-t .ui-checkbox-on:after,
html body .ui-group-theme-t .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-t:after,
/* Active flipswitch background */
.ui-page-theme-t .ui-flipswitch-active,
html .ui-bar-t .ui-flipswitch-active,
html .ui-body-t .ui-flipswitch-active,
html body .ui-group-theme-t .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-t.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-t .ui-slider-track .ui-btn-active,
html .ui-bar-t .ui-slider-track .ui-btn-active,
html .ui-body-t .ui-slider-track .ui-btn-active,
html body .ui-group-theme-t .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-t .ui-btn-active,
/* Active radio button icon */
.ui-page-theme-t .ui-radio-on:after,
.ui-bar-t .ui-radio-on:after,
.ui-body-t .ui-radio-on:after,
body .ui-group-theme-t .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-t:after,
/* Checkbox and radio slider */
.ui-body-t .ui-checkbox-on .ui-icon, .ui-body-t .ui-radio-on .ui-icon, 
.ui-body-t .ui-slider-mini span.ui-slider-label,
.ui-body-t .ui-slider span.ui-slider-label

 {
	background-color: #00693C /*{a-active-background-color}*/;
	border-color: #091b0b /*{a-active-border}  091b0b*/;
	color: #ffffff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #08683f /*{b-bup-background-start}*/), to( #00693C /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #08683f /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #08683f /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #08683f /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #08683f /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #08683f /*{b-bup-background-start}*/, #00693C /*{b-bup-background-end}*/);
}

