<div style="font-size: 0.9em; margin: 20px 10px; font-weight: 700;">
    <p>By clicking 'Prefill My Data', you authorize your wireless carrier to disclose your mobile number to our third party service providers.</p>
    <p>Additionally, you authorize MeridianLink and its service providers to obtain your name, address, email from Equifax in order to validate your identity and/or populate this form. See our <a href="https://www.meridianlink.com/privacy-policy" target="_blank">Privacy Policy</a> for how we handle your data.</p>
</div>