﻿div.btn-rename{
	text-align: right;
	height: 20px;
}
div.btn-rename+b {
	display: inline-block;
}
div.btn-rename>div{
	float: right;
	background: #ff8c00;
	border-radius: 6px 6px 0 0;
	padding: 4px 0;
	/*margin-bottom: -5px;*/
	margin-right: 4px;
}
.div-continue div.btn-rename>div {
	margin-bottom: -5px;
}
div.btn-rename > div img{
	margin: 0 5px;
	cursor: pointer;
}

.ui-input-horizal div.btn-rename>div {
	margin-top: -9px;
}
showfield-section, .validation-section {
	border: 2px dashed #ccc;
	padding: 20px 6px;
}
div.btn-showfield, div.btn-validation {
	height: 27px;
	margin-bottom: 20px;
	margin-top: 40px;
	position: relative;
}
div.btn-showfield + div.showfield-section, div.btn-validation + div.validation-section {
	margin-bottom: 20px;
	margin-top: -20px;
}
div.btn-showfield>div:not(:first-child), div.btn-validation>div:not(:first-child) {
	float: right;
	background: #ccc;
	border-radius: 6px 6px 0 0;
	padding: 7px 0 2px;
	margin-right: 4px;
	height: 26px;
	width: 30px;
	text-align: center;
	cursor: pointer;
}
div.btn-showfield > div img, div.btn-validation > div img {
	vertical-align: inherit;
}
div.btn-showfield > div:not(:first-child) i.fa, div.btn-validation > div:not(:first-child) i.fa {
	color: #fff;
	font-size: 1.2em;
}
div.btn-showfield>div.active, div.btn-validation>div.active {
	background-color: #ff8c00;
}
div.btn-showfield>div:first-child, div.btn-validation>div:first-child {
	float: left;
	padding: 4px 10px 2px;
	color: #fff;
	border-radius: 0;
	background-color: #ff8c00;
}
div.btn-showfield.section-off:after{
	content: "";
	height: 20px;
	border: 2px dashed #ccc;
	display: block;
	width: 100%;
	top: 27px;
	position: absolute;
}
div.btn-showfield div.default-state, div.btn-validation div.default-state {
	background: none;
	border-radius: 0;
	cursor: default;
	font-size: 0.6em;
	padding-left: 6px;
	padding-top: 8px;
}
div.btn-showfield div.default-state i.fa, div.btn-validation div.default-state i.fa{
	color: #0de32f;
}
div.btn-showfield div.default-state.off i.fa, div.btn-validation div.default-state.off i.fa {
	color: #c5c5c5;
}
div.btn-showfield div.default-state .go-grey, div.btn-validation div.default-state .go-grey{
	display: none;
}
div.btn-showfield div.default-state .go-green, div.btn-validation div.default-state .go-green{
	display: block;
}
div.btn-showfield div.default-state.off .go-grey, div.btn-validation div.default-state.off .go-grey{
	display: block;
}
div.btn-showfield div.default-state.off .go-green, div.btn-validation div.default-state.off .go-green{
	display: none;
}