﻿body {
    font-family: "Roboto-light", sans-serif;
    font-weight: lighter;
}
div.ui-content {
	overflow: visible;
}
div.Title
{
    margin: 10px 0 5px 0;
}
div.SectionTitle
{
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

div.RoundedSection
{
    padding: 5px 5px 5px 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #F2FFE1;
}

.ui-body-c, .ui-overlay-c
{
   background: #fff none repeat;
}
.ui-page-theme-a
{
    text-shadow:none;
    background: #fff none repeat;
}
 .ui-header .ui-title{
     margin: 0.6em auto 0.8em;  /*override the original margin: 0.6em 30% 0.8em;*/
  }
.lpq_container {
		margin: 0% auto;   /*outside_top, left&right*/
		max-width: 960px;
		position: relative;
		width: 100%;	
        height:100%;
	}

/*Change style base on screen size*/
    @media (max-width: 360px) { /*less or equal than iphone 5*/
	.page_title .section-title {
        font-size: 23px;
		padding-top: 12px;
    }
    .sub_section_header .section-title {
        font-size: 21px;
        padding-top: 2px;
    }
    .sub_section_header .svg-icon {
            width: 30px;
    }
    .sub_section_header .svg-icon svg {
        /*width: 30px;*/
        height: 30px;
        float: left;
    }

}
@media (min-width: 360px) { /*greater equal than iphone 5*/
	.page_title .section-title {
        font-size: 26px;
		padding-top: 10px;
    }
    .sub_section_header .section-title {
        font-size: 25px;
        padding-top: 2px;
    }
    .sub_section_header .svg-icon {
            width: 35px;
    }
    .sub_section_header .svg-icon svg {
        /*width: 35px;*/
        height: 35px;
        float: left;
    }
}

@media (max-width: 400px) {    /*less or equal than iphone 6*/
.lpq_container {
		margin: 1% auto 1% auto; /*outside_top, left&right*/
		width: 97%;
        position:relative;
	}
    .center{  
            width: 100%;
            position: relative;            
    }
        .table-format
    {
        width: 100%;
        position: relative; 
        font-size:11px;
    }
    /*.sub_section_header svg {
        width: 120%;
        height: 100%;
    }
    .page_title svg {
        width: 140%;
        height: 100%;
    }*/
}
@media (min-width: 400px) {  /*iphone 6 plus*/
	.lpq_container {
        margin: 4% auto; /*outside_top, left&right*/
        margin-bottom:4%;
		width: 92%;
            position:relative;
	}
    .center{
        width: 100%;    
            position: relative; 
    }
        .table-format
    {
        width: 100%;
        position: relative; 
        font-size:14px;
    }
        .page_title .section-title {
        font-size: 30px;
            padding-top: 6px;
    }
    .sub_section_header .section-title {
        font-size: 24px;
        padding-top: 8px;
    }
    label {
        font-size: 18px!important;
    }
    .sub_section_header .svg-icon {
            width: 35px;
            padding-top: 5px;
            float: left;
    }
    .sub_section_header .svg-icon svg {
        /*width: 35px;*/
        height: 35px;
    }
	.ssn-ico svg, .taxid-ico svg {
		width: 18px;
		height: 18px;
	}
}
@media (max-width: 440px) { /*mobile version*/
    .scandocs-box {
        width: 285px !important;
    }
    .uploaddocs-box {
        width: 260px !important;
        height: 75px !important;
    }
	.uploaddocs-box svg {
        width: 60px!important;
        height: 60px!important;
    }
    .uploaddocs-box.svg-img .avatar {
        width: 60px!important;
        height: 60px!important;
    }

    label {
        font-size: 21px!important;
    }
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], 
    input[type="datetime-local"], input[type="date"], input[type="month"], 
    input[type="time"], input[type="week"], input[type="number"], 
    input[type="email"], input[type="url"], input[type="search"], 
    input[type="tel"], input[type="color"], .ui-select .ui-btn span {
        font-size: 21px;
    }
	.ui-select .ui-btn{
		padding: 7px 36px 7px 14px;
	}
    .ui-input-text, .ui-field-contain .ui-input-text {
        padding-top: 0;
    }
               
    #popUpAccountType {
        width: 300px;
    }
	#popVerifyDeposit {
        width: 300px;
    }
	#popSecurityCodeEmailNotify {
        width: 300px;
    }
	.ssn-ico svg, .taxid-ico svg {
		width: 21px!important;
		height: 21px!important;
	}
}
@media (min-width: 441px) {
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], 
    input[type="datetime-local"], input[type="date"], input[type="month"], 
    input[type="time"], input[type="week"], input[type="number"], 
    input[type="email"], input[type="url"], input[type="search"], 
    input[type="tel"], input[type="color"], .ui-select .ui-btn span {
        font-size: 16px;
    }
    .ui-input-text, .ui-field-contain .ui-input-text {
        padding-top: 7px;
    }
    #popUpAccountType {
        width: 300px;
    }
	#popVerifyDeposit {
        width: 300px;
    }
	#popSecurityCodeEmailNotify {
        width: 300px;
    }
}
           
@media (min-width: 550px) {  /*ipad*/
    .scandocs-box {
        margin-left: inherit!important;
        margin-right: inherit!important;
    }
                
    .lpq_container {
    margin: 0% auto; /*outside_top, left&right*/
    	width: 80%;
        position:relative;
    }
	.center {
        width: 100%;    
        position: relative; 
    } 
        .table-format
    {
        width: 100%;
        position: relative; 
        font-size:16px;
    }
    .product-selection-pool .product-item > div {
        font-size: 18px;
        width: 60%;
        margin-left: 10%;
    }
                
    #popUpAccountType {
        width: 400px;
    }
	#popVerifyDeposit {
        width: 400px;
    }
	#popSecurityCodeEmailNotify {
        width: 400px;
    }
	.ssn-ico svg, .taxid-ico svg {
		width: 18px;
		height: 18px;
	}
}

	@media (min-width: 768px) { /*768 is the start of sm*/
    .logo-container {
        text-align: left;
    }

    .ui-joinapplicant {
        padding-top: 30px;
    }
	.text-center-sm {
		text-align: center;
	}

}

@media (min-width: 1024px) { /*desktop*/
    .page_title .section-title {
        font-size: 36px;
        padding-top: 0px;
    }
    .sub_section_header .section-title {
        font-size: 26px;
        padding-top: 5px;
    }
    label {
        font-size: 16px!important;
    }
    .product-selection-pool .product-item > div {
        font-size: 20px;
        width: 40%;
        margin-left: 20%;
    }
	#popSecurityCodeEmailNotify {
        width: 600px;
    }
	.ssn-ico svg, .taxid-ico svg {
		width: 16px;
		height: 16px;
	}
}
   /*handle header logo and header menu using media query*/
      @media (max-width: 640px){
      .lpq_container .div-continue{ width: 90%; position: static; } 
	  .lpq_container #popConfirmRemove .div-continue, .lpq_container #popUpUndefineCard .div-continue{ width: 100%;} 
      .lpq_container .divheader-logo{ width:100%;position: relative; }
      .lpq_container .divheader-menu{ width:100%;position: relative; }  
      .lpq_container .divheader-menu .div-menu {  max-width :480px;width:100%;position:relative;}    
      .lpq_container .divfooterlabel a:nth-child(1){ display:block;padding:8px 4px 6px 4px; font-size:14px;}
      .lpq_container .divfooterlabel a:nth-child(2){display:block;padding:2px 4px 6px 4px; font-size:14px;}
      /*footer left content*/
      /*.lpq_container .divfooterleft{width:100%; }
      .lpq_container .divfooterleft-content{font-weight:normal !important; text-align:center;margin:4px auto 0px auto;}  
       */
       /*footer right content*/
     /* .lpq_container .divfooterright{ width:100%; }    
      .lpq_container .divfooterright-content { width:100% !important; font-weight:normal !important; text-align:center;margin:0px auto; }
      .lpq_container .divfooterright-logo { width:100% !important; font-weight:normal !important;text-align:center;margin:4px auto; }   
      .lpq_container .divfooterright-content-style { margin:0px auto; text-align :center; width:100% !important; }   
      .lpq_container .divfooterright-logo-style { font-weight:normal !important; margin:0px auto 4px auto;  text-align :center; width:100% !important; }  
      .lpq_container .divfooterright-content-color{font-weight:normal !important;}
         */
      } 
           
    @media (min-width: 641px){
      .lpq_container .divfooterlabel{ padding:8px;}   
      .lpq_container .divfooterlabel a{ font-size :14px;}        
      .lpq_container .div-continue{ width: 75%; position: static; }
    /* .lpq_container .divfooter{ width:100%;}
      .lpq_container .divfooterleft{ float:left;}
      .lpq_container .divfooterleft-content{ font-weight:normal !important;max-width:260px;text-align:left; margin:4px 4px 0px 6px;}
      .lpq_container .divfooterright{float: right;max-width:250px;}
      .lpq_container .divfooterright-content{ float:left;}
      .lpq_container .divfooterright-logo{float:right;margin-top:2px;} 
      .lpq_container .divfooterright-content-style{ text-align:right;margin:4px 2px auto 2px;width:100%;}                           
      .lpq_container .divfooterright-logo-style{ text-align:center;font-weight:normal !important;margin:2px auto auto 2px;width:100%;}
      .lpq_container .divfooterright-content-color{font-weight:normal !important;}
        */ 
      }           
    @media (min-width: 800px)
    {
      .lpq_container .div-continue{ width: 50%; position: static; } 
	  .lpq_container #popConfirmRemove .div-continue, .lpq_container #popUpUndefineCard .div-continue{ width: 100%;} 
      .lpq_container .divheader-logo{ width:75%; float:left; position: relative;}
      .lpq_container .divheader-menu{ width:25%;float: right;position: relative;}    
    }   
   /*header logo and menu*/
.divheader{ width:100%;position: relative; }
.divheader-logo{ width:80%;float:left;position: relative;}
.divheader-menu{ width:20%;float: right;position: relative; }
.divheader-menu .div-menu{ max-width :145px;text-align:left;margin :5px 5px 5px 0px;width:100%;  position:relative; }    
/*divfooter*/
/*.divfooter{ width:100% }
.divfooterleft{float: left;}
.divfooterright{ float:right;}
.divfooterleft-content{ font-weight:normal !important;max-width:480px;text-align:left; margin:4px 4px 0px 6px;}
.divfooterright-content-style{ text-align:right;margin:4px auto;width:100%;}                           
.divfooterright-logo-style{ text-align:left;font-weight:normal !important;margin:2px auto auto 2px;width:100%;}
*/
.footerimage-style{width:75px;height:65px;}
/*.divfooterright-content-color{font-weight:normal !important;}*/

.divfooter_intro{
     width :100%;
     text-align :center; 
     margin :4px auto 0px auto; 
     font-weight :bold;
     font-size : 18px;
}
.divfooter_contact{
    width:100%;
    text-align :center;
    font-weight :bold ;
    margin:6px auto 0px auto;
}
.divfooter_contact hr{
   margin :6px auto;
 }
.divfooter_contact a{
    text-decoration :underline ;
    color :white;
    font-weight :normal ;
 }

/*end divfooter*/
/*minor account*/
#btnSelectionContainer .col-sm-6, #btnSelectionContainer .col-md-6, #btnSelectionContainer .col-sm-12
{
    padding:2px;
}
.HiddenProduct, .HiddenElement
{
    display:none;
}
/*end minor account*/

/*new ui footer */
@media (max-width: 750px)
{
    .divfooterleft .footerTextAlign, .divfooterright-content.footerTextAlign, .divfooterright-logo.footerTextAlign{
        text-align:center;
    }
    .divfooterright .col-sm-12.footerTextAlign, .divfooterright .col-md-12.footerTextAlign{
        text-align:center;
    }
}
@media (min-width: 750px)
{   
   .divfooterright-content.footerTextAlign, .divfooterright .col-sm-12.footerTextAlign, .divfooterright .col-md-12.footerTextAlign{
        text-align:right;
    }
    .divfooterright-logo.footerTextAlign{
        text-align:center;  
    }       
}
.divfooter [class^="col-"], .divfooter .col-sm-9, .divfooter .col-sm-3,.divfooter .col-md-10, .divfooter .col-md-2,
.divfooter .col-sm-12, .divfooter .col-md-12{
    padding-left:0px;
    padding-right:0px;
}
.divfooterleft
{
    padding-bottom:4px;
}
.divfooter{ 
    padding:8px 3px 8px 8px;
}
.divfooter a,.divfooter span {
	color: #ffffff!important;
}
/*verify Minor*/
.eSignature .col-sm-5
{
    padding-left:0px;
}
.VerifyMinor
{
    padding:4px 8px;
    background-color:#e6e6e6;
    font-style :italic ;  
}
/*end verify minor*/

/*end new ui footer*/
 /*continue or go back button*/
 .goback-prevpage {
     border: 0;
 }
.div-continue{ margin: 15px auto;text-align: center;width: 60%;color:black;font-weight :normal ; align-content :center ; position:relative; font-size :17px;border: 0;}    

.div-continue .div-goback, .div-button {
    position:relative;
    line-height: 18px!important;
    font-size: 20px;
    background-image: none!important;
    -ms-border-radius: 4px;
    border-radius: 4px;
    height: 40px;
}

.hover-goback, .hover-div-button {
    font-size :16px; 
    /*font-weight:bold;*/ 
    /*color: #2489CE;*/
    margin-bottom:0px;
    position:relative;
    padding :4px 4px;
}

#reviewpage .div-goback, #finalreviewpage .div-goback
{
   /*background-color:white !important;*/
}
.div-continue.ui-footer {
	height: auto;
}
.div-continue .ui-btn-text{
  font-size :16px;
  font-weight:bold;
}
.div-goback.ui-btn span, .div-button.ui-btn span
{
    font-weight:normal;
}

.div-continue a.ui-btn {
	vertical-align: middle;
}
.div-continue .div-goback {
	display: inline-block;
}

/*override padding for go back button*/
.div-goback.ui-btn
{
    padding:10px;
}

.lpq_container .ui-page-active, .lpq_container .ui-page {      
        width: 100%;
		height: 100%;
        position: relative;
 }

   /*override checkbox background --old version
.ui-icon-checkbox-off{
    background-color: darkgray !important;
}*/
/*override checkbox background --new version*/
.ui-btn.ui-checkbox-off:after
{
   opacity:1;
}
.ui-select span.ui-btn-text
{
    text-align: left;
}

.NavIconLeft
{
    margin: 0.2em 0.4em 0.2em 0 !important; 
    float: left;
}

/*.NavIconRight
{
    margin: 0.2em 0 0.2em 0.4em !important;
    float: right;
}*/
/*adding css*/
.LineSpace
{
    margin-top:7px;
    margin-bottom:4px;
}
.MemLabel-Indent
{
     margin-left:25px;
}

/*deprecated, som ELIGIBILITY_MESSAGE may still be using this */
.ProductCQ-Font
{
    font-size:18px;
    font-weight:bold;
}
/*override jquery library*/
.divFomQuestions .ui-btn-text{
    font-weight:normal;
}
/*remove underline of link*/
a { 
    text-decoration: none;
}
.RequiredIcon:after
{
	content: '*';
	color: #E00000;
	font-size: 24px;
	line-height: 0.8em;
}
.abort-require .RequiredIcon:after
{
	display: none;
}
.CheckMark:before {
  text-indent:each-line;
  margin-right: .3em;
  text-align: center;
  content: '✔';
  color: green;
}

.CheckMarkBlue:before {
  text-indent:each-line;
  margin-right: .3em;
  text-align: center;
  content: '✔';
  color: #24b8e1;
}

.CheckBoxIcon:before{
  width: 16px;
  height: 16px;
  border-radius:3px;
  margin:5px;
  position:relative ;
  content:'✔ ';
  color: #fbfaf9;
  background-color :#91BDD3;
}
.labeltext-bold
{
    /*font-weight :bold;*/
}
.labeltext-bold p
{
   /* margin-bottom :3px;*/
}
.pq-wrapper
{
    margin-bottom : 20px;
}

/*jquery by default .ui-btn-text is bold 
  now make it unbold in specific location*/
#pageFS .ui-content #divFundingSource .ui-btn-text
{
    font-weight:normal;
}

#divSpecialAccountType .ui-btn
{
    min-height :49px;
}
#page1 .ui-content #divContentPQ .ui-btn-text, #page2 .ui-content .ui-btn-text, #pageMinorInfo .ui-btn-text, #divSpecialAccountType .ui-btn-text
{
    font-weight:normal;
}
#page3 .ui-content .ui-btn-text
{
    font-weight:normal;
}
#page4 .ui-content .ui-btn-text
{
      font-weight:normal;
}
#page5 .ui-content .ui-btn-text
{
    font-weight:normal;
}
#page6 .ui-content .ui-btn-text
{
    font-weight:normal;
}
#page7 .ui-content .ui-btn-text
{
    font-weight:normal;
}
#page8 .ui-content .ui-btn-text
{
    font-weight:normal;
}
#page9 .ui-content .ui-btn-text
{
    font-weight:normal;
}



.panel-text-format
{
    margin-left:20px;
    margin-right:20px;
    margin-top:15px;
    margin-bottom:15px;
    color :#292929;
    font-weight :normal ;
}
#reviewPanels a
{
   color:#2489CE;
    font-weight:normal;
}
#co_reviewPanels a
    {
     color:#2489CE;
     font-weight:normal;
    }
.message-position
{
    margin-left:20px;
}


.panel-title-font
{
     font-size:16px;
     font-weight:bold;
}
.panel-label-font
{
    font-size:17px;
    font-weight:bold;
}
.ProductDescription
{
    width:90%;
    margin-left:45px;
}
.ProductQuestionWidth{
    width:96%;
    float:left;
}
.ui-grid-a
{
    width:100%;
	color: #333333!important;
	text-shadow: none !important;
}
.ui-grid-a > .ui-block-a.ProductLabel { 
        width: 90% ;
       font-size:16px; 
}
.ui-grid-a > .ui-block-b.ArrowIcon
{
         width:  10%;
         max-width:30px;
         min-width:21px;
         font-size: 16px;
}
.ArrowIcon .ui-btn-icon-notext
{
   padding:0.8em;
}
.ui-select .ui-shadow {
    min-height:38px;
}
/*restart button in header*/
.restart-btn{   
        height:28px;
        width:60px;
        font-size:12px;
        padding:5px;
        margin: 0.2em 0 0.2em 0 !important; 
        position:relative;

 }

.headertext-margin
{
    margin-right:70px !important;
}
div.continue-button{
    width :130px;
}
/*end adding css */
/*div.SelectionTitle
{
    float: left;
    width: 70%;
    font-weight :bold;
    font-size:16px;
}
div.SelectionValue
{
    float: right;
    width: 30%; 
}*/
.cqTitle
{
    margin-top:10px;
    font-size:18px;
    font-weight:bold;
}
#div_custom_questions .ui-btn-text,#div_custom_questions_HE .ui-btn-text,#div_custom_questions_HELOC .ui-btn-text {
	 font-weight:normal;
}
/*declarations for he*/
.declaration-wrapper .declaration-font {
	font-weight:normal;
	margin-right:4px;
}
.declaration-wrapper .ui-radio.ui-mini {
	width: 84px;
}
.declaration-wrapper .ui-radio.ui-mini>label {
	text-align: center;
}
.declaration-wrapper .ui-radio.ui-mini>label.ui-radio-on:before {
	text-align: center;
	content: '\2714';
	color: #fff;
}
.declaration-wrapper .ui-field-contain {
	padding: 0.2em;
}
.declaration-wrapper .ui-field-contain >label {
	font-size: 16px!important;
}
.declaration-wrapper .Title > div + div {
	margin-right: 2px;
}
.declaration-wrapper .Title+.add-questions {
	display: none;
}
.declaration-wrapper .Title.say-yes+.add-questions {
	display: block;
}
@media(min-width: 767px) {
	.declaration-wrapper .Title {
		min-height: 100%;
		display: flex;
		align-items: center;
	}
	.declaration-wrapper .Title>div+div {
		text-align: right;
	}
}

div.CompanyLogo
{
    text-align: left;
    margin-bottom: 10px;
}
div.CompanyLogo img
{
    max-width: 250px; 
	max-height: 100px;
}
div.LogoImage {
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
}
div.ProductLinkImage 
{
	text-align: center;
	margin-left:0 auto;
	margin-right:0 auto;
	
}
a.scroll
{
    float: right;
    margin: 4px 5px 0 0 !important;
}
a.scroll:after
{
    clear: both;
}

div.SeparatorLine
{
    border-top: 1px solid #777;
    border-bottom: 1px solid #ccc;
}

.chkDisclosure
{
    cursor: pointer;
}
p.Agreement
{
    font-size: 90%;
    text-align: justify;
}
 .center {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        background-color:Wheat ;  
        text-align :center;
        position: relative; 
      
    }
.justify-text
{
    text-align:justify ;
    margin:0 auto ;
    width:100%;
    position :relative;
}
.table-format {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        background-color:Wheat ;  
        text-align :center;
        position: relative; 
}
a {
  color: #2489CE;
}
a:hover,
a:focus {
  color: #059;
  text-decoration: none;
}


#decisionPage a:hover, #decisionPage a:focus
{
    /*color:deepskyblue;*/
    text-decoration: underline;
}
/* -- Override jquery mobile ui -- */
.ui-footer
{
    height: 42px;
}
.watermask
{
    color: #ccc;
}

.numeric
{
}
.indate
{
}
.inmonth
{
}
.inyear
{
}
.inphone
{
}
.inssn
{
}
.ui-btn.agree-margin{
    margin-left:4px;
}
h1 {
  font-weight: bold;
  color: #fff;
  font-size: 32px;
}
.ui-icon-blackhills-vehicle 
{
	background: url("images/Button%20-%20Vehiclez.png");	
	
}
#decisionPage hr { 
    border-top: 2px solid lightgrey;
   
}
.DialogMessageStyle{
     font-size :1.5em;
     color:#E00000;
}
body{ text-rendering: optimizeLegibility ;}

/*Base64 icons*/
.questionMark {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACe0lEQVQ4T32TP2gUQRTGv/f2cjEkrY2cuzt3i4oBQ8BCVDAkIhGJhVrZCCoRY8RgNIWFjRYKFmqixkTQVkELBTFIYgQtbKIiKXLe7e2uwUIEURHyb+bJLmy8nOJ0M9/3fvMe3wyhZnmO0yoix8DcbrRxYpmZAghNGIuGK5XK++oSSje5XK4ha9UNEuSIgcwS+DFEigmAsN4AewlYAzEjmrkvCIK5WEsAcXF9JjMGwWaCnM2F6vYkJpeqb2pDW+aTHfRAcBksbzRRZwxJAHlH3SHIQRHe5Uf+q9qxqvee6+7Q2owx8d1yFBynZGbQFEF6S2F4IzUrpVog0sMiDQDulcNwItU8xzktoCuGqZUKtj1siPY4oVJp2/l8fh1p8w6CF0RiNNBJ2troz/ofY0hzc3N27sfPSNh6SAXXLYrQcz+snEhvKNj2NgIfKEVBv+d5TbK49F0g+/0wfLTscZxR0rSd1Fp7nogH/Ci49q/Z844aIsg+azG7qfi5+PUPQJ0xRl/8L8Bz1FEt+jxlMjt9308i/QtQcJwZAo2XwqCntoOCrU7GZ+WoMlirJckZ2UoF270lhC47dN3a7POOc5iIfpWD4P6KKD2vXuYWIlj0gOK42MhbCPrKUXC92qhy7hRb+FYOg44V7dvuAAiXRHNL8pDiKCF8iCx0loLgZWp2XXdVY2OjmZ6eXkjP8rbdIYKnxNaoH1Z6E0BstESeGSNbLKZz9U1NQ9VFsceL215YOmXEXCDi15zN7C6VSvPLnymBGHMVxN0w5guYngA8ExcLsIG07oLFqwV0k+us/rh4+TOtmFupFjLoZi3tmoyKNQb7YBkXbY34s/6Hav9vpfYfP8HDpVYAAAAASUVORK5CYII=');
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}   

.hide-button {
    display: none !important;
}
.show-button {
    display: block !important;
}

/************************************************************************************
NAV
*************************************************************************************/
/* menu icon */
.menu-icon {
	display: none; /* hide menu icon initially */
}

#nav, #nav li, 
#co_nav, #co_nav li {
	margin: 0;
	padding: 0;
}
#nav li,
#co_nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

/* nav link */
#nav a, 
#co_nav a {
	padding: 4px 15px;
	display: block;
	color: #000;
	background: #ecebeb;
}
#nav a:hover, 
#co_nav a:hover {
	background: #f8f8f8;
}

/* nav dropdown */
#nav ul, 
#co_nav ul {
	background: #fff;
	padding: 2px;
	position: absolute;
	border: solid 1px #ccc;
	display: none; /* hide dropdown */
	width: 200px;
}
#nav ul li, 
#co_nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#nav li:hover > ul,
#co_nav li:hover > ul {
	display: block; /* show dropdown on hover */
}

/************************************************************************************
MOBILE
*************************************************************************************/



/* menu icon */
.menu-icon {
	color: #000;
	width: 42px;
	height: 30px;
	background: url(/images/menu-icon.png) no-repeat 10px center;
	cursor: pointer;
	display: block;
	margin-top: 5px;
}
/* main nav */
#nav, 
#co_nav {
	clear: both;
	position: absolute;
	top: 38px;
	width: 160px;
	z-index: 10000;
	padding: 5px;
	background: #f8f8f8;
	border: solid 1px #999;
	display: none; /* visibility will be toggled with jquery */
}
#nav li,
#co_nav li {
	clear: both;
	float: none;
	margin: 5px 0 5px 10px;
}
#nav a, #nav ul a, 
#co_nav a, #co_nav ul a {
	font: inherit;
	background: none;
	display: inline;
	padding: 0;
	color: #666;
	border: none;
}
#nav a:hover, #nav ul a:hover, 
#co_nav a:hover, #co_nav ul a:hover {
	background: none;
	color: #000;
}
	
/* dropdown */
#nav ul, 
#co_nav ul {
	width: auto;
	position: static;
	display: block;
	border: none;
	background: inherit;
}
#nav ul li, 
#co_nav ul li {
	margin: 3px 0 3px 15px;
}
.active_menu {
    font-weight: bold !important;
}
/*minor applicant infor*/
.minor-margin-left
{
    margin-left: 13px;
}

/*fix for ajax loading*/
.ui-loader-textonly {
    background-color: #808080;
}

.ui-loader-textonly h1 {
    text-shadow: 0 1px 0 #333;
	color: #ffffff;
}

.ui-select span {
    text-align: left !important;
    margin-top: -3px;
}

.intl-tel-input.allow-dropdown.separate-dial-code .selected-flag {
    background-color: transparent !important;
}

.ui-checkbox input, .ui-radio input {
    margin: -11px 0 0 4px;
}

.ui-radio .ui-btn.ui-radio-on::after {
    height: 18px;
    width: 18px;
}

.ui-header .ui-title, .ui-footer .ui-title {
    padding: 0;
    font-size: 1.2em;
}

.ui-footer .ui-btn {
    font-size: 16px;
    line-height: 16px;
}

.ui-btn span {
    font-weight: 400;
}

.required-field-notation {
    margin-bottom: 10px;
    color: #504949;
}

 span.require-span, sup.require-span, div.require-span {
	 /*color: #a92020;*/
	 font-size: 24px;
	 line-height: 18px;
	 color: #E00000;
 }

.ui-input-date,.ui-input-cc,.ui-input-ccdate,.ui-input-tax-id,.ui-input-ssn,.ui-input-inline-group {
    text-align: left;
}

.ui-input-date .ui-input-text,.ui-input-cc .ui-input-text,.ui-input-ccdate .ui-input-text,.ui-input-tax-id .ui-input-text,.ui-input-ssn .ui-input-text,.ui-input-inline-group .ui-input-text{
	margin-bottom: 0px;
	/*float: left;
    width: 50px;
    margin-right: 8px;*/
}
.ui-input-date>div,.ui-input-cc>div,.ui-input-ccdate>div,.ui-input-ssn>div,.ui-input-taxid>div,.ui-input-inline-group>div {
    padding-right: 5px;
    padding-left: 0px;
    margin-top: 0px;
}
.dob-label img.ui-datepicker-trigger, .combine-field-value+img.ui-datepicker-trigger{
    width: 24px;
    float: right;
}
.combine-field-value+img.ui-datepicker-trigger{
    width: 26px;
    float: right;
	padding-top: 4px;
}

.ui-input-date>div>div,.ui-input-cc>div>div,.ui-input-ccdate>div>div,.ui-input-ssn>div>div,.ui-input-taxid>div>div,.ui-input-inline-group>div>div {
    margin-top: 0px;
}

.ui-input-date .ui-datepicker-trigger {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    background-image: url(../images/calendar.png) !important;
    border: none !important;
    background-color: transparent !important;
    text-shadow: 0 0 0 transparent !important;
}
.ui-input-horizal .ui-select{
	margin-bottom: 0px;
}

.ui-input-horizal>div {
    padding-left: 0px;
    padding-right: 3px;
}
.ui-input-horizal>div:last-child{
    padding-right: 0px; 
}
.ui-input-horizal>div>div{
    margin-top: 0px;
}


/* override jquery mobile css */

.ui-field-contain {
    border-bottom: none !important;
}

.ui-field-contain > label {
    /*font-weight: normal;*/
    width: 100%;
}

.ui-field-contain > div.intl-tel-input,
.ui-field-contain > label ~ [class*="ui-"], 
.ui-field-contain .ui-controlgroup-controls {
    width: 100%;
}

@media (min-width: 448px) {
    /*.ui-field-contain > label {
        font-weight: bold;
        width: 35%;
    }
    .ui-field-contain > div.intl-tel-input,
    .ui-field-contain > label ~ [class*="ui-"], 
    .ui-field-contain .ui-controlgroup-controls {
        width: 63%;
    }*/
    .ui-field-contain > .ui-checkbox {
        margin-bottom: 5px !important;
    }
}

.ui-input-text, 
.ui-select .ui-btn {
    height: 38px;
}

.ui-datepicker { width: 17em; padding: .2em .2em 0; z-index: 9999 !important; left: 10% !important }

.section-logo-steps {
    text-align: center;
    margin-top: -10px;
}
.section-logo-steps svg{
    margin-top: -20px;
}
.section-logo-steps div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.section_header svg
{
	height:86px; /*set to be the same as default height of the image so to crop out the bottom pad*/
    /*font-size: 3em;*/
    font-weight: normal !important;
}




.ui-btn-corner-all {
   border-radius: 0 !important;
}
/* end */

.date-selector div {
    float: left;
}
.date-selector .ui-select{
    width: 38% !important;
}

.date-selector .ui-select .ui-btn {
    width: 100%;
}

.date-selector .ui-input-text {
    width: 20% !important;
    margin-left: 2%;
    margin-right: 2%;
}

.reviewpage-panel
{
    width:95%;
    margin:10px auto;
    border-radius:20px;
    background-color:white;
    border-color:gray;
    border-width:thick;
    padding:2px ;
    position: relative; 
}
.reviewpage-style
{
     width:100%;
     margin:0px;
     background-color:#91BDD3;
     padding:0px;
}

.review-container {
    font-size: 14px;
}
.review-container .row-title{
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
}
.review-container .group-heading{
    font-weight: bold;
}

.review-container .section-heading {
    padding-top: 25px;
    padding-bottom: 5px;
}

.review-container .row-title label{
    font-weight: bold;
    margin-bottom: 0px;
}
.review-container .row-data {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.review-container .row-data label{
    margin-bottom: 0px;
}
.review-container .panel{
    background-color: #f8f8f8;
    padding: 5px;
}
.review-container .panel.custom-question-group{
    margin-bottom: 0px;
}

.logo-image {
    max-width:100%;
    max-height:150px;
    width: auto;
    height: auto;
}
.header-steps {
    width: 100%;
    max-width: 300px;
    height: 60px;
}
.header-steps-icon {
    width: 90%;
    max-width: 250px;
    height: 50px;
}

.scandocs-box {
    width: 320px;
    border: 1px #ccc solid; 
    background-color: #fff;
	margin-bottom: 0px; 
	margin-top: 0px;
	padding: 6px;
	height: auto!important;
}

.scandocs-box:hover , .fileupload-new.img-responsive:hover{
    -ms-opacity: 0.7;
    opacity: 0.7;
    cursor: pointer;
}

.scandocs-box.svg-img {
    height: 154px;
    position: relative;
}

.scandocs-box .caption {
    width:49%;
    margin-top: 40px;
	margin-right: 1px;
}

.scandocs-box.svg-img .caption {
    width:47%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    padding-left: 8px;
}

.scandocs-box .avatar {
    width: 50%;
    border: 1px #ccc solid;
}

.scandocs-box.svg-img .avatar {
    width: 137px;
    text-align: center;
    height: 140px;
    border: none;
    margin-top: -3px;
}

.scandocs-box .caption-text {
	display: flex;
}
.scandocs-box .caption{
	margin: auto; 
	width: 55%;
}
.scandocs-box .avatar{
	border: none;
	width: 45%;
}
/*uploaddoc box*/
.uploaddocs-box {
    width: 320px;
    height: 170px; 
    border: 1px #ccc solid; 
    padding:10px;
    /*margin-left: auto;
    margin-right: auto;*/
    /*margin-top: 10px;
    margin-bottom: 10px;*//*comment these line to make the div focusable*/
    background-color: #fff;
}
.uploaddocs-box svg {
    width: 80px;
    height: 80px;
}
.uploaddocs-box.svg-img {
    height: 95px;
    position: relative;
}
.uploaddocs-box.svg-img:hover {
    -ms-opacity: 0.7;
    opacity: 0.7;
    cursor: pointer;
}

.uploaddocs-box .caption {
    width:50%;
    margin-top: 40px;
}

.uploaddocs-box.svg-img .caption {
    width:70%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    padding-left: 8px;
}

.uploaddocs-box .avatar {
    width: 50%;
    border: 1px #ccc solid;
}

.uploaddocs-box.svg-img .avatar {
    width: 80px;
    text-align: center;
    height: 80px;
    border: none;
    margin-top: -3px;
}

/*end uploaddoc box*/

.cc-options .header_theme2 {
    position: relative; 
    width: 270px; 
    margin: 0 auto;
    -ms-opacity: 1;
    opacity: 1;
}
.cc-options .header_theme2>div:first-child:hover{
    -ms-opacity: 0.5;
    opacity: 0.5;
}

/*this doesn't work so make inactive opacity =1 */
.cc-options .header_theme2.active {
    -ms-opacity: 1;
    opacity: 1;
}
.cc-options > div >div .overlay-card-name{
    text-align: right;
    position: absolute; 
    top:14px;
    left: 105px; 
    width: 150px; 
    z-index: 99999; 
    font-size: 17px; 
    font-weight: normal;
    color: #fff;
}

.sub_section_header {
    padding-top: 40px;
}

.sub_section_header .svg-text {
    font-weight: normal;
}

.text-align-center .btn-header-theme
{
    padding-left:0 !important;
    text-align:center !important;
}

.page_title {
    margin-bottom: 0px;
}
.page_title .section-title {
    /*margin-left: 45px;*/
}
.page_title .svg-icon {
     width: auto;
     padding-top: 5px;
     float: left;
}
.sub_section_header .section-title {
    /*margin-left: 30px;*/
    font-weight: bold;
}
.productLabel {
  padding-top: 20px;
}
label {
    color: #595959;
    font-family: "Roboto-light", sans-serif;
    font-weight: lighter;
}
.product-selection-pool {
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.product-selection-pool .product-item {
    padding: 10px 5px 10px 10px;
    /*-ms-border-radius: 3px; 
    border-radius: 3px;
    margin-bottom: 5px;*/
    min-height: 40px;
    font-weight: normal;
    font-size:18px;
}
/*.product-selection-pool .product-item sup {
    font-size: 14px;
}*/
.product-selection-pool .product-item .inactive {
    -ms-opacity: 0.2;
    opacity: 0.2;
}

.product-selection-pool .product-item > div {
    padding-right: 40px;
    font-size: 18px;
    position: relative;
}
.product-selection-pool .product-item > div > span {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top:1px;
}
.service-item {
	margin-left:30px;
}

#productDetail, #fundingDialog{
   font-family: "Roboto-regular", sans-serif;
   font-weight: normal;
}

#productDetail .LineSpace{
    margin-top: 5px;
    margin-bottom: 4px;
}
#productDetail legend,#fundingDialog legend{
    border: none;
    margin-bottom: 6px; 
    font-weight: lighter;
}
/*#productDetail .labeltext-bold {
    font-weight: normal;
}
#productDetail .labeltext-bold a.ui-link {
    font-weight: normal;
}*/
#productDetail .ui-controlgroup-label,#fundingDialog .ui-controlgroup-label{
    margin: 0px;
}
#productDetail .ui-checkbox,#fundingDialog .ui-checkbox {
	margin-bottom: 4px;
}
.xsell-selection-panel .xsell-item {
    margin:0px;
}

.xsell-selection-panel .xsell-item p.desc {
    font-size: 16px; 
    margin:0px;
	margin-bottom:5px;
	margin-top: 4px;
	font-family: "Roboto-regular", sans-serif;
    font-weight: normal;
    color: #666; 
}
.account-role-item-wrapper .account-role-item{
	margin: 0 70px 0 0;
	padding: 0; 
	border: none;
}
.pool-item-option-wrapper .pool-item-option, .account-role-item-wrapper .account-role-item{
	margin: 0 110px 0 0;
	padding: 0; 
	border: none;
}
.pool-item-option-wrapper .service-item {
	padding: 0px 0 0 40px;
	margin: 10px 70px 0 10px;
	border: none;
}
.account-role-item-wrapper .role-attr-item {
	padding: 0px 0 0 40px;
	margin: 4px 40px 0 4px;
	border: none;
}
.pool-item-option-wrapper .service-item label:hover, .account-role-item-wrapper .role-attr-item label:hover {
	cursor: pointer;
}
.pool-item-option-wrapper .service-item.required-item label:hover, .account-role-item-wrapper .role-attr-item.required-item label:hover {
	cursor: default;
}
.pool-item-option-wrapper .pool-item-option a, .account-role-item-wrapper .account-role-item a {
	margin-left:4px;
}
.pool-item-option-wrapper .service-item label.custom-checkbox, .account-role-item-wrapper .role-attr-item label.custom-checkbox{
	top:50%;
	left: 26px; 
	transform: translate(-53%, -50%);
	position: absolute;
	width: 20px;
	height: 20px;
}
.pool-item-option-wrapper .service-item.required-item label.custom-checkbox + label, .account-role-item-wrapper .role-attr-item.required-item label.custom-checkbox + label {
	color: #666;
}
.pool-item-option-wrapper .service-item label.custom-checkbox>input[type='checkbox'], .account-role-item-wrapper .role-attr-item label.custom-checkbox>input[type='checkbox']{
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	outline: none !important;
	opacity: 0;
}
.pool-item-option-wrapper .service-item label.custom-checkbox>span, .account-role-item-wrapper .role-attr-item label.custom-checkbox>span {
	border: 1px solid #666;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 4px;
}
.pool-item-option-wrapper .service-item.required-item label.custom-checkbox>span, .account-role-item-wrapper .role-attr-item.required-item label.custom-checkbox>span {
	border: 1px solid #8a8a8a;
}
.pool-item-option-wrapper .service-item label.custom-checkbox>input[type="checkbox"]+span:after, .account-role-item-wrapper .role-attr-item label.custom-checkbox>input[type="checkbox"]+span:after {
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	background: none;
	cursor: pointer;
}
.pool-item-option-wrapper .service-item.required-item label.custom-checkbox > input[type="checkbox"] + span:after, .account-role-item-wrapper .role-attr-item.required-item label.custom-checkbox > input[type="checkbox"] + span:after {
	cursor: default;
}
.pool-item-option-wrapper .service-item.required-item label.custom-checkbox>input[type="checkbox"]+span:after, .account-role-item-wrapper .role-attr-item.required-item label.custom-checkbox>input[type="checkbox"]+span:after {
	background-color: #a09a9a!important;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2214%2C4%2011%2C1%205.003%2C6.997%203%2C5%200%2C8%204.966%2C13%204.983%2C12.982%205%2C13%20%22%2F%3E%3C%2Fsvg%3E');
	background-position: center center;
	background-repeat: no-repeat;
}
.xsell-selection-panel .xsell-item-option {
    margin-bottom: 2px;
    padding-left: 10px;
    height: auto!important;
}

@media(max-width: 500px) {
	.account-role-item-wrapper .account-role-item {
		margin: 0 60px 0 0;
	}
	.account-role-item-wrapper .role-attr-item {
		padding: 0 0 0 30px;
		margin: 4px 60px 0 4px;
	}
	.account-role-item-wrapper .role-attr-item label.custom-checkbox {
		left: 16px;	
	}
}

.xsell-selection-panel .xsell-item-option.btnHover p.desc {
    color: #ffffff;
}
.xsell-selection-panel .xsell-item-option.btnActive_on p.desc {
    color: #ffffff;
}
.HoverMinorSelection
{
    color:#ffffff !important;
}
a.btn-header-theme.show-arrow div {
	/*background-color: transparent !important;
    background-image: url(/images/svg/20.svg);
    -ms-background-size: 20px 20px;
    background-size: 20px 20px;*/
	position: absolute;
	right: 10px;
	width: 20px;
	height: 20px;
	top: 35%;
}

a.btn-header-theme.show-arrow.btnHover svg {
	fill: #fff!important;
}

/*=====================*/
/*APPLICATION STYLE  GUIDE 2016*/
.ui-field-contain {
    margin-top: 0px;
    margin-bottom: 5px;
}
.ui-field-contain label,
.ui-field-contain .ssn-ico
 {
    margin-top: 6px;
    margin-bottom: 4px;
    line-height: 26px;
}
.ui-input-text, .ui-field-contain .ui-input-text, .ui-select .ui-btn {
    background-color: #eaeaea!important;
    border: solid 1px #dddddd!important;
    -ms-border-radius: 3px;
    border-radius: 3px;
    height:46px;
    font-family: "Roboto-light", sans-serif;
    font-weight: lighter;
}

.ui-input-text.ui-state-disabled {
	-ms-opacity: .8;
	opacity: .8;
	background-color: #f7f7f7 !important;
}

.ui-input-text.ui-state-disabled input {
	/*webkit is required for iOS*/
   -webkit-text-fill-color: rgba(80, 80, 80, 1); 
   -webkit-opacity: .8;  
}

.ui-checkbox{
	background-color: #eaeaea!important;
	border: solid 1px #dddddd!important;
	-ms-border-radius: 3px;
    border-radius: 3px;
}

.ui-checkbox .ui-checkbox-off {
	background-color: #eaeaea!important;
}
.ui-checkbox label{
	border: none !important;
	background-color: #eaeaea;
}

.ui-radio {
	background-color: #eaeaea;
}

.ui-radio label.ui-first-child {
	border: 1px solid #dddddd;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.ui-radio label.ui-last-child {
	border: 1px solid #dddddd;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.ui-radio label {
	padding-right: 12px;
	background-color: #eaeaea;
}

.ui-radio.ui-mini label {
	padding-left: 12px;
}


.ui-input-text input {
	padding-bottom: 12px;
}

.ui-shadow-inset {
	-webkit-box-shadow: inset 0 0px 0px ;
	-moz-box-shadow: inset 0 0px 0px;
	box-shadow: inset 0 0px 0px;
}

/*.ui-input-text.ui-focus, .ui-field-contain .ui-input-text.ui-focus,
.ui-select .ui-btn.ui-focus {
    -webkit-box-shadow: none!important;
    -ms-box-shadow: none!important;
    box-shadow: none!important;
}*/

.ui-icon-carat-d::after {
    background-color: transparent !important;
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M10,10 H90 L50,70'/%3e%3c/svg%3e");*/
	margin-top: -8px;
    -ms-background-size: 20px 20px;
    background-size: 20px 20px;
}
.header-theme-dropdown-btn .ui-icon-carat-d:after {
	display: none;
}
.header-theme-dropdown-btn .ui-icon-carat-d:before {
    background-color: transparent !important;
    margin-top: -8px;
    -ms-background-size: 20px 20px;
    background-size: 20px 20px;
}
.header-theme-dropdown-btn .ui-btn-icon-right:before {
	right: .5625em;
	top: 50%;
	content: "";
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	background-position: center center;
	background-repeat: no-repeat;

}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], 
input[type="datetime-local"], input[type="date"], input[type="month"], 
input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"],
.ui-select .ui-btn span {
    color: #444444;
    font-family: "Roboto-light", sans-serif;
    font-weight: lighter;
}
.ui-btn-corner-all,
.ui-btn.ui-corner-all{
    -webkit-border-radius: 3px!important;
    -ms-border-radius: 3px!important;
    border-radius: 3px!important;
}
.ui-btn, .ui-btn-inline{
    /*height:36px;*/
    height: auto;
    -moz-text-overflow: initial;
    text-overflow: initial;
    word-wrap: break-word;
    white-space: normal;
    font-family: "Roboto-light", sans-serif;
    font-weight: lighter;
    font-size:18px;
    padding-top: 12px;
    font-weight: normal!important;
    padding-bottom: 12px;
    padding-right: 18px;
	
}

.ui-select .ui-btn{
    height: auto;
    padding: 10px 36px 10px 14px;
	overflow: visible;
}
@media(max-width: 440px) {
	.ui-select .ui-btn{
		padding: 7px 36px 7px 14px;
	}
}
.ui-select .ui-btn span {
    -moz-text-overflow: initial!important;
    text-overflow: initial!important;
    white-space: normal!important;
    word-wrap: break-word
}

.ui-select span {
    text-align: left !important;
    margin-top: 2px;
}
.div-continue-button, .div-continue-button-reverse {
    height: 50px; 
    width: 100%;
    text-align: center;
    font-weight: normal ;
    margin: 5px auto 7px auto;
    position:relative;
    padding-top: 12px;
    line-height: 25px!important;
    font-size: 20px!important;
}
.div-continue-button.div-continue-coapp-button{
        font-size: 17px!important;
 }
.disclosure-section .ui-checkbox label {
    height: auto;
}

.disclosure-section .ui-checkbox label.ui-btn >p {
	margin: 0;
}

.ui-controlgroup-vertical .ui-controlgroup-controls .ui-btn {
	border-bottom-width: 1px;
}
.no-funding svg.header-steps-icon .dollar {
    display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #eaeaea inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #444444;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/0 0 0 50px #eaeaea inset;
    -webkit-text-fill-color: #444444;
} 

 .btn-header-theme {
                    padding-left:  10px; 
                    padding-right: 4px;
                    text-align: left;
 }
/*=====================*/
.product-questions .yesno-group>div {
	border: 2px solid #ccc;
	width: 60px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-ms-border-radius: 4px;
	border-radius: 4px;
	float: left;
	margin-left: 4px;
	cursor: pointer;
}
.product-questions .yesno-group>div.yes-opt {
	border-color: #52bc71;
}
.product-questions .yesno-group>div.yes-opt:focus {
	-webkit-box-shadow: 0 0 6px #52bc71;
	-ms-box-shadow: 0 0 6px #52bc71;
	box-shadow: 0 0 6px #52bc71;
	outline: none;
}
.product-questions .yesno-group>div.yes-opt.active {
	background-color: #52bc71;
	color: #fff;
}
.product-questions .yesno-group>div.yes-opt:hover {
	background-color: #52bc71;
	color: #fff;
}
.product-questions .yesno-group>div.no-opt {
	border-color: #ce0a0a;
}
.product-questions .yesno-group>div.no-opt:focus {
	-webkit-box-shadow: 0 0 6px #ce0a0a;
	-ms-box-shadow: 0 0 6px #ce0a0a;
	box-shadow: 0 0 6px #ce0a0a;
	outline: none;
}

.product-questions .yesno-group>div.no-opt:hover {
	background-color: #ce0a0a;
	color: #fff;
}
.product-questions .yesno-group>div.no-opt.active {
	background-color: #ce0a0a;
	color: #fff;
}

:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}
@-moz-document url-prefix() {
    .mask-password {
        font-family: "text-security-disc" !important;
    }
    .mask-password::-webkit-input-placeholder {
        font-family: "Roboto-light", sans-serif;
    }
    .mask-password:-ms-input-placeholder {
        font-family: "Roboto-light", sans-serif;
    }
    .mask-password:-moz-placeholder {
        font-family: "Roboto-light", sans-serif;
    }
    .mask-password::-moz-placeholder {
        font-family: "Roboto-light", sans-serif;
    }
}
.mask-password {
	-webkit-text-security: disc;
    -moz-webkit-text-security: disc;
    -moz-text-security: disc;
	text-security: disc;
}

.header-theme-checkbox {
	background: none !important;
	color: #333!important;
	-ms-text-shadow: none!important;
	text-shadow: none!important;
	padding-top: 13px;
}

.header-theme-checkbox:after {
	width: 22px!important;
	height: 22px!important;
	margin: -12px 0px 0px!important;
	background: none;
	background-color: transparent!important;
}
.fieldset-container fieldset {
	margin-top: 30px;
}
.fieldset-container {
	margin-top: -30px;
}
.ui-footer.ui-bar-inherit {
	background-color: transparent!important;
	font-weight: inherit!important;
	-ms-text-shadow: inherit!important;
	text-shadow: inherit!important;
	border-color: inherit!important;
}
.intl-tel-input input, .intl-tel-input input[type=text] {
	padding-bottom: 5px;
}
.intl-tel-input div.ui-input-text {
	margin-bottom: 0px;
	margin-top: 0px;
}
label.checkbox-btn:after {
	display: none!important;
}
label.checkbox-btn.btnHover + input {
	-ms-opacity: 0;
	opacity: 0;
}
label.checkbox-btn.ui-checkbox-on:after {
	background: none;
	background-image: none;
}
.selected-flag:focus {
	outline: none;
}

.androidFix {
    overflow:hidden !important;
    overflow-y:hidden !important;
    overflow-x:hidden !important;
}
#productDetail .ui-dialog-contain, #fundingDialog .ui-dialog-contain{
    max-width: 650px;
}
.rates-table {
    border:1px solid #ddd;
    -ms-border-radius: 12px;
    border-radius: 12px; 
    margin-top:6px;
    padding: 10px 0px;
}
.rates-table > div {
    padding-left: 0px; 
    padding-right: 0px;
}
.rates-table table.horizontal-table label.custom-radio-button {
    padding-left: 10px; 
    padding-right: 24px;
}

.rates-table table.horizontal-table>tbody>tr {
    cursor: pointer;
}
.rates-table.hide-radio table.horizontal-table>tbody>tr {
    cursor: default;
}

.rates-table > div table thead th {
    font-weight: bold;
}
.rates-table > div table.horizontal-table tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.rates-table > div table.horizontal-table td:not(:first-child), .rates-table > div table th:not(:first-child) {
    padding: 10px;
}
.rates-table table.vertical-table label.custom-radio-button {
    padding-left: 18px; 
    padding-right: 18px;
}


.rates-table.hide-radio > div table.horizontal-table td, .rates-table.hide-radio > div table th {
	padding: 10px;
}
.rates-table.hide-radio > div table.horizontal-table td:first-child, .rates-table.hide-radio > div table th:first-child {
	display: none;
}
.rates-table.hide-radio > div table.horizontal-table td:nth-child(2), .rates-table.hide-radio > div table th:nth-child(2) {
    padding-left: 20px;
}
.rates-table.hide-radio > div table.horizontal-table td:last-child, .rates-table.hide-radio > div table th:last-child {
    padding-right: 20px;
}
.rates-table table.vertical-table {
    margin: 10px 0px;
    cursor: pointer;
}
.rates-table.hide-radio table.vertical-table {
	cursor: default;
}
.rates-table table.vertical-table table td {
    padding: 4px;
    width: 50%;
    word-wrap: break-word;
}
.rates-table.hide-radio table.vertical-table .radio-col {
	display: none;
}
.rates-table table.vertical-table table td:first-child {
    font-weight: bold;
    text-align: right;
}
.rates-table div.separator:not(:last-child) {
    margin: 10px 0;
    height: 1px;
    border-bottom: 1px solid #dddddd;
}

#divPageLoading {
	width:100%; 
	height: 100%;
	position: fixed;
	top: 0;left: 0;
	z-index: 99998; 
	background: #cbccc7; 
	background: rgba(203, 204, 199, 0.2);
	display: none;
}
#divPageLoading >div:first-child {
	position: fixed;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	z-index: 99999;
}
#divPageLoading > div:first-child img {
	width: 100px;
	height: 100px;
}
#divPageLoading > div:first-child .text {
	font-size: 1em;
	margin-left: 15px; 
	margin-top: -10px;
	font-family: Roboto-light, sans-serif;
	font-weight: bold;
	color: rgb(86, 94, 150);
}
/*ajax loading bar*/
.loading-bar-overlay {
	position: fixed;
	z-index: 99999;	
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;	
}

.loading-bar-overlay.show-loading {
	display: block;
}
.loading-bar-overlay.show-loading .loading-bar {
	-webkit-animation: loading-bar-moving 1.5s steps(100);
	-moz-animation: loading-bar-moving 1.5s steps(100);
	-ms-animation: loading-bar-moving 1.5s steps(100);
	-o-animation: loading-bar-moving 1.5s steps(100);
	animation: loading-bar-moving 1.5s steps(100);
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes loading-bar-moving {
   from { transform: translate3d(0%, 0, 0)  }
    to { transform: translate3d(200%, 0, 0) }
}

@-moz-keyframes loading-bar-moving {
   from { transform: translate3d(0%, 0, 0)  }
     to { transform: translate3d(200%, 0, 0) }
}

@-ms-keyframes loading-bar-moving {
   from { transform: translate3d(0%, 0, 0)  }
     to { transform: translate3d(200%, 0, 0) }
}

@-o-keyframes loading-bar-moving {
   from { transform: translate3d(0%, 0, 0)  }
     to { transform: translate3d(200%, 0, 0) }
}

@keyframes loading-bar-moving {
   from { transform: translate3d(0%, 0, 0)  }
     to { transform: translate3d(200%, 0, 0) }
}

.loading-bar-wrapper {
	margin: auto;
	height: 112px;
	max-width: 400px;
	width: 90%;
	overflow:hidden;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	color: #444444;
	font-size: 20px;
	background-color:#f9f9f9;
	background-color: rgba(249, 249, 249, 1.0);
	-ms-border-radius: 2px;
	border-radius: 2px;
	padding: 20px 0;
	border: 1px solid #cabcbc;
	-webkit-box-shadow: 11px 12px 32px -13px rgba(51,51,51,1);
-moz-box-shadow: 11px 12px 32px -13px rgba(51,51,51,1);
box-shadow: 11px 12px 32px -13px rgba(51,51,51,1);
}

.loading-bar-wrapper>div {
	width: 90%;
	position: relative;
	margin: auto;
	height: 72px;
}

.loading-bar-wrapper .annotation-text {
	position: absolute;
	color: black;
	font-size: 14px;
	padding-top: 4px;
}

.loading-bar-wrapper .main-text {
	font-weight: 600;
}

.loading-bar-container {
	height: 20px;
	max-width: 400px;
	border: 1px solid #29d; 
	overflow:hidden;
	-ms-border-radius: 3px;
	border-radius: 3px;	
}

.loading-bar-container .loading-bar {
	 -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -ms-box-sizing: border-box;
	  -o-box-sizing: border-box;
	  box-sizing: border-box;
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  display: block;
	  position: relative;
	  right: 100%;
	  height: 18px;
	  width: 100%;
	  background: #29d;	 
}
/*end ajax loading bar*/

#divPreviewNoty {
    position: fixed;
    top: 0;
    height: 40px;
    background-color: #e60404;
    z-index: 1;
    text-align: center;
    line-height: 40px;
    color: #000;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	color: #ffffff;
	font-weight: bold;
}
/*comments field*/
#divComments
{
    padding-top:25px;
}
#divComments a{
    cursor :pointer;
    font-weight :bold;
}
#divComments textarea{
    background-color :#f2f2f2;
    min-height:85px;
}

 #zipCodePage .divfooter, #errorProductPage .divfooter, #openAccountPage .divfooter{
    bottom:0;
    width:100%; 
    position :absolute;
}
#divEstimatePayment>div:first-child {
	padding: 10px 0; 
	margin-top: 20px; 
	text-align: center;
	background: #eaeaea;
	border: 1px solid #ddd;
	border-radius: 4px;
}
#divEstimatePayment > div:first-child+div {
	margin-top: 8px;
}
#divEstimatePayment>div:first-child div {
	display: inline-block;
	vertical-align: middle;	
	font-size: 1.5em;
}

#divEstimatePayment>div:first-child .est-payment-value {
	font-weight: bold;
	font-size: 1.7em;
}
#divEstimatePayment>div:first-child span.calculator-btn {
	display: inline-block;
	margin-left: 10px; 	
	padding: 6px 30px 6px 10px; 
	border: 1px solid #ababab;
	border-radius: 4px;
	position: relative;
	right: 4px;
	top: -10px;

}
#divEstimatePayment>div:first-child span.calculator-btn:hover {
	background: #ccc8c8;
	cursor: pointer;
}
#divEstimatePayment>div:first-child span.calculator-btn:after {
	content: '\f0d7';
	font-family: FontAwesome;
	float: right;
	position: absolute;
	right: 8px;
	top: 5px;
}
@media (min-width: 767px) {
	#popEstimatePaymentCalculator {
		min-width: 600px;
	}
}
@media (max-width: 414px) {
	#divEstimatePayment>div:first-child>div.est-payment-value_container {
		/*display: block;*/
	}
}
.div_gmi_section .gmi-input-group {
	margin: 35px 0 20px;
}
.div_gmi_section .gmi-input-group .droplist:before {
	content: '\f0d7';
	font-family: FontAwesome;
	float: right;
	position: absolute;
	right: 18px;
	top: 20%;
	font-size: 1.5em;
}
.div_gmi_section .gmi-input-group>p:first-child {
	margin: 15px 0 0;
}
.div_gmi_section .ui-input-search, .ui-input-text {
	margin: 0;
}
.ml20 {
	margin-left: 20px;
}
.ml40 {
	margin-left: 40px;
}
.div_gmi_section .gmi-input-group>p:first-child {
	color: #666;
	font-family: "Roboto-light", sans-serif;
	font-weight: lighter;
}
.divScanDocs.laser-scan, .divScanDocs.vin-laser-scan {
	margin: 30px 0 0;
	border: none;
	min-height: 200px;
}
.divScanDocs.laser-scan .scan-result-wrapper {
	background-color: #000; 
	opacity: 0.9; 
	position: absolute; 
	top:0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	z-index: 9;
	padding: 12px 10px 10px;
	color: #fff;
	display: none;
}
.divScanDocs.laser-scan.open {
	min-height: 400px;
}
.divScanDocs.laser-scan.open .scan-result-wrapper {
	display: block;
}
.divScanDocs.laser-scan .scan-result-wrapper .scan-result-title {
	text-align: center;
	margin: 10px;
}
.divScanDocs.laser-scan .scan-result-wrapper .scan-result-title img {
	margin-bottom: 6px;
	width: 10%;
}

.divScanDocs.laser-scan .scan-result-wrapper .scan-result-list {
	overflow: auto;
	height: calc(100% - 140px);
}
.divScanDocs.laser-scan .scan-result-wrapper .scan-result-list>div {
	display: flex;
	flex-direction: row;
	padding: 4px 0;
}
.divScanDocs.laser-scan .scan-result-wrapper .scan-result-list .scan-result-name {
	width: 40%;
	text-align: right;
	padding-right: 20px;
	color: #00ced1;
}
.divScanDocs.laser-scan .scan-result-wrapper .scan-result-list .scan-result-value {
	width: 60%;
	padding-right: 5px;
}
.divScanDocs.laser-scan .scan-result-wrapper .scan-result-btn {
	text-align: center;
	position: absolute;
	bottom: 15px;
	width: calc(100% - 30px);
}
.divScanDocs.laser-scan .scan-result-wrapper .scan-result-btn button {
	display: inline;
	width: auto;
	padding: 8px;
	margin: 4px;
	background: #fff;
}
.divScanDocs.vin-laser-scan .no-camera {
	margin: 10px 0;
	text-align: center;
	padding: 40px 0;
	background: #000;
	color: #fff;
}
.divScanDocs.vin-laser-scan .no-camera img{
	max-width: 40%;
}

@media(max-width: 499px) {
	.divScanDocs.laser-scan, .divScanDocs.vin-laser-scan {
		margin-left: -15px;
		margin-right: -15px;
	}
	.divScanDocs.laser-scan .scan-result-wrapper {
		padding-top: 50px;
	}
	.divScanDocs.laser-scan .scan-result-wrapper .scan-result-title {
		margin: 20px;
	}
	.divScanDocs.laser-scan .scan-result-wrapper .scan-result-list>div {
		padding: 10px 0;
	}
	.scan-guide-text {
		position: absolute;
		top: 100px;
		left: 0;
		margin: 0 40px;
	}
	.scan-guide-text p{
		color: #50ff3c;
		border: 1px solid #50ff3c;
		padding: 6px 10px;
	}
	.divScanDocs.laser-scan .scan-result-wrapper .scan-result-title img {
		width: 15%;
	}
}
.vin-scan-guide, .vin-scan-msg {
	font-size: 0.9em;
}
.vin-scan-guide {
	font-size: 0.9em;
}
.vin-scan-msg {
	color: #e60404;
}
.loader {
	border: 2px solid #f3f3f3;
	border-radius: 50%;
	border-top: 2px solid #3498db;
	width: 14px;
	height: 14px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	display: inline-block;
	margin-left: 4px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
a.ui-link, a.ui-link:hover, a.ui-link:visited, a.ui-link:active, a.ui-link:focus {
	box-shadow: none !important;
	outline: none;
}
#divSubmitMessage >p {
	font-size: 0.9em;
	text-align: justify;
}
.bold {
	font-weight: bold;
}
.min-width-200 {
	min-width: 200px;
}
a.header_theme2.chevron-circle-right-before:before {
	content:"\f138";
	font-family: FontAwesome;
	padding-right: 4px;
}
a.header_theme2.chevron-circle-down-before:before {
	content:"\f13a";
	font-family: FontAwesome;
	padding-right: 4px;
}
a.header_theme2.plus-circle-before:before {
	content:"\f055";
	font-family: FontAwesome;
	padding-right: 4px;
}
a.header_theme2.minus-circle-before:before {
	content:"\f056";
	font-family: FontAwesome;
	padding-right: 4px;
}
.require-ico:after {
	content: "*";
	color: #E00000;
}
.guide-btn-wrapper {
	position: relative;
}
.guide-btn-wrapper a.guide-btn {
	position: absolute;
	top: -4px;
	right: 0;
	font-size: 1.4em;
	-webkit-transform: translate(0, 40%);
	-moz-transform: translate(0, 40%);
	-ms-transform: translate(0, 40%);
	-o-transform: translate(0, 40%);
	transform: translate(0, 40%);
	width: 30px;
	text-align: center;
}
.selected-roles-wrapper{
	position: relative;
}
.selected-roles-wrapper a.guide-btn{
	position: absolute;
	top: 14px;
	right: 4px;
	font-size: 1.4em;
	-webkit-transform: translate(0, 40%);
	-moz-transform: translate(0, 40%);
	-ms-transform: translate(0, 40%);
	-o-transform: translate(0, 40%);
	transform: translate(0, 40%);
}
.btn-close-dialog {
	position: absolute; 
	top:10px; 
	right: 10px;
}
.sa-app-info-page .scan-doc-wrapper, .ba-app-info-page .scan-doc-wrapper {
	margin-top: 2px;
	padding: 10px 0;
}
.sa-app-info-page .scan-doc-wrapper .img-btn, .ba-app-info-page .scan-doc-wrapper .img-btn {
	display: inline-block;
}
.addDivBtn, .removeDivBtn
{
    display:inline-block;
    float :left;
    width:50% ;
}
.addDivBtn a, .removeDivBtn a
{
    padding:10px!important;
    text-align :center!important;
    margin-right :3px!important;
    height:50px!important;
}
.distribute-btn-wrapper {
	text-align: center;
	padding: 20px 6px 8px;
}
.distribute-btn-wrapper a.distribute-btn.btn-header-theme
{
    /*text-align :center!important;
	width: 50%;
	margin: 0 auto;*/
	display: inline;
	padding: 12px 30px!important;
}
.beneficiaryLabel
{
    font-size:17px;
    font-weight :bold;
    padding-top :15px;
}
.beneficiaryCheckbox
{
    margin:0px 1% 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;  
    width:49%;
}
@media(max-width: 500px) {
	.hide-at-500px {
		display: none;
	}
	.show-at-500px {
		display: inline-block;
	}
}
@media(min-width: 500px) {
	.hide-at-500px {
		display: inline-block;
	}
	.show-at-500px {
		display: none;
	}
}
.beneficial-owner-item>p {
	margin-bottom: 4px;
}
.beneficial-owner-item>p:not(:first-child) {
	margin-left: 30px;
}
.toogle-beneficiary-btn:before {
	content: "\f055";
	font-family: FontAwesome;
	padding-right: 4px;
}
.toogle-beneficiary-btn[status="Y"]:before {
	content:"\f056";
	font-family: FontAwesome;
	padding-right: 4px;
}
.page-header-title {
	padding: 20px 0;
	font-size: 22px; 
	color: #fff; 
	font-weight: 400;
	text-align: center;
	margin: 0 60px;
	word-wrap: break-word;
}
.page-header-title + .ui-btn-right {
	margin-top:12px;
	margin-right:12px; 
	width: 40px;
	height: 40px;
}
.ui-header button.header-hidden-btn {
	top:10px; 
	left:10px; 
	-ms-opacity:0;
	opacity:0
}
input[placeholder]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b7b7b7;
    opacity: 1; /* Firefox */
}
input[placeholder]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b7b7b7;
}
input[placeholder]::-ms-input-placeholder { /* Microsoft Edge */
    color: #b7b7b7;
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}
div[data-role='dialog'] .dialog-content {
	font-size: 1.1em; 
	margin: 20px 0;
}
.centered-table-block{
	margin: 20px 0;
}
.centered-table-block.two-col span{
	width: 49%;
	display: inline-block;
	text-align: right;
	color: #333;
}
.centered-table-block.two-col span+span{
	text-align: left;
}
.fileupload-new.desktop-capture.active:hover {
	opacity: 1;
	cursor: default;
}
.desktop-capture .capture-stream {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	display: none;
	background-color: #000;
}
.desktop-capture.active .capture-stream {
	display: block;
}
.desktop-capture.active .capture-stream>video {
	width: 100%;
	height: 100%;
}
.desktop-capture.active .capture-stream>img {
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
}
.desktop-capture.active .capture-stream.captured>img {
	display: block;
}
.desktop-capture.active .capture-stream button{
	color: #fff;
	background: none;
	border: none;
}
.desktop-capture.active .capture-stream .close-btn{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 60px;
	margin: 0;
	padding: 0;
}
.desktop-capture.active .capture-stream .control-btns {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
}
.desktop-capture.active .capture-stream .control-btns>button {
	color: #fff;
	background: transparent;
	width: 110px;
	padding: 6px 0;
	cursor: pointer;
	display: none;
}
.desktop-capture.active .capture-stream.captured .control-btns>button {
	display: inline-block;
}
.desktop-capture.active .capture-stream .control-btns .continue-btn {
	border: 1px solid #fff;
	border-radius: 22px!important;
}

.desktop-capture.active .capture-stream .control-btns .continue-btn:hover, .desktop-capture.active .capture-stream .control-btns .continue-btn:focus {
	background: #fff;
	color: #000;
}
.desktop-capture.active .capture-stream .control-btns {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
}
.desktop-capture.active .capture-stream .control-btns .capture-btn{
	display: inline-block;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	width: 60px;
	height: 60px;
	color: #ffffff;
}
.desktop-capture.active .capture-stream.captured .control-btns .capture-btn {
	display: none;
}
.desktop-capture.active .capture-stream .control-btns .capture-btn>button {
	background: transparent;
	border: none;
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.desktop-capture.active .capture-stream .control-btns .capture-btn>button:after{
	content: '\f111';
	font-family: 'FontAwesome';
	font-size: 3.2em;
	line-height: 1em;
}
.du-selector-wrapper {
	margin: 100px 0;
	text-align: center;
}
.du-selector-wrapper>div.img-responsive {
	border: 1px solid #e6e6e6;
	border-radius: 12px;
	padding: 4px;
	margin: 10px 0;
	cursor: pointer;
}
.du-selector-wrapper .capture-stream {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	display: none;
	background-color: #000;
}
.du-selector-wrapper .capture-stream.active {
	display: block;
}

/*=========*/



.du-selector-wrapper .capture-stream.active>video {
	width: 100%;
	height: 100%;
}
.du-selector-wrapper .capture-stream.active>img {
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
}
.du-selector-wrapper .capture-stream.active.captured>img {
	display: block;
}
.du-selector-wrapper .capture-stream.active button{
	color: #fff;
	background: none;
	border: none;
}
.du-selector-wrapper .capture-stream.active .close-btn{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 60px;
	margin: 0;
	padding: 0;
}
.du-selector-wrapper .capture-stream.active .control-btns {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
}
.du-selector-wrapper .capture-stream.active .control-btns>button {
	color: #fff;
	background: transparent;
	width: 110px;
	padding: 6px 0;
	cursor: pointer;
	display: none;
}
.du-selector-wrapper .capture-stream.active.captured .control-btns>button {
	display: inline-block;
}
.du-selector-wrapper .capture-stream.active .control-btns .continue-btn {
	border: 1px solid #fff;
	border-radius: 22px!important;
}

.du-selector-wrapper .capture-stream.active .control-btns .continue-btn:hover, .du-selector-wrapper .capture-stream.active .control-btns .continue-btn:focus {
	background: #fff;
	color: #000;
}
.du-selector-wrapper .capture-stream.active .control-btns {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
}
.du-selector-wrapper .capture-stream.active .control-btns .capture-btn{
	display: inline-block;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	width: 60px;
	height: 60px;
	color: #ffffff;
}
.du-selector-wrapper .capture-stream.active.captured .control-btns .capture-btn {
	display: none;
}
.du-selector-wrapper .capture-stream.active .control-btns .capture-btn>button {
	background: transparent;
	border: none;
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.du-selector-wrapper .capture-stream.active .control-btns .capture-btn>button:after{
	content: '\f111';
	font-family: 'FontAwesome';
	font-size: 3.2em;
	line-height: 1em;
}

.ml-table {
	width: 100%;
	display: table;
}
.ml-table>div{
	padding: 0;
	display: table-row;
}
.ml-table>div>div{
	padding: 4px;
	display: table-cell;
}
.ml-table .separator-row {
	height: 20px;
}
#productDetail fieldset .ui-controlgroup-controls li {
    list-style: inherit;   
}
.masking-text >span {
	display: none;
}
.masking-text >span+span {
	display: inline-block;
	margin-left: 6px;
	font-weight: bold;
	cursor: pointer;
}
.masking-text >span+span:before {
	content: 'Show MMN';
}
.masking-text:before {
	content: '******';
}
.masking-text.reveal>span {
	display: inline-block;
}
.masking-text.reveal:before {
	content: '';
}
.masking-text.reveal >span+span:before {
	content: 'Hide MMN';
}

.product-selection-panel-v1 .ui-controlgroup .ui-checkbox {
    margin-bottom: 2px;
}
.product-selection-panel-v1 .pool-item-option-wrapper {
	position: relative;
	padding: 10px 0;
}
.product-selection-panel-v1 .pool-item-option-wrapper.required-prod, .product-selection-panel-v1 .pool-item-option-wrapper.available-prod, .product-selection-panel-v1 .pool-item-option-wrapper.selected-prod {
	border-bottom: 1px solid #eee;
	padding: 20px 0;
}
.product-selection-panel-v1 .pool-item-option-wrapper div.right-btn>em {
	position: absolute;
	top: -1px;
	left: 1px;
}
.product-selection-panel-v1 .pool-item-option-wrapper div.right-btn>em.fa-trash-o {
	left: 2px;
}
.product-selection-panel-v1 .pool-item-option-wrapper div.right-btn>em.fa-pencil-square-o {
	top: 1px;
}
.product-selection-panel-v1 .pool-item-option-wrapper div.right-btn.btn-edit, .product-selection-panel-v1 .pool-item-option-wrapper div.right-btn.btn-pinfo {
	right: 70px;
}
.product-selection-panel-v1 .pool-item-option-wrapper div.right-btn>span {
	background-position: center center;
	background-repeat: no-repeat; 
	width:30px; 
	height:30px;
	display:inline-block;
}
.product-selection-panel-v1 p.desc {
	margin: 0;
}
.product-selection-panel-v1 p.desc>span{
	margin-right: 20px;
	display: inline-block;
	padding-top: 6px;
}
@media (max-width: 414px) {
	.product-selection-panel-v1 p.desc span {
		display: block;
	}
	.product-selection-panel-v1 p.desc span+span{
		margin-left: 0;
	}	
	.product-selection-panel-v1 .pool-item-option-wrapper div.right-btn.btn-edit, .product-selection-panel-v1 .pool-item-option-wrapper div.right-btn.btn-pinfo {
		right: 50px;
	}
	.pool-item-option-wrapper .pool-item-option {
		margin-right: 85px;
	}
}
.product-selection-panel-v1 .cat-tbl {
	margin-top: 10px;
	width: 100%;
}
.product-selection-panel-v1 .cat-tbl tr+tr{
	visibility: collapse;
}
.product-selection-panel-v1 .btn-group .btn {
	padding: 10px 12px;
}
.product-selection-panel-v1 .cat-tbl tr.hide-category{
	visibility: collapse;
}
.product-selection-panel-v1 .cat-tbl tr.hide-category+tr {
	visibility: visible;
}

.ViewProductSelection {
	padding: 20px 10px;
}
.ViewProductSelection .pname {
	font-weight: bold;
	margin-bottom: 8px;
}
.ViewProductSelection>div>div {
	padding-bottom: 20px;
}
.ViewProductCustomQuestion>div {
	padding-bottom: 10px;
}
.ViewProductCustomQuestion > div>.row:first-child {
	padding-bottom: 6px;
}
.ViewProductCustomQuestion div.q-block {
	padding-bottom: 4px;
}
.ViewProductCustomQuestion div.q-block p {
	font-style: italic;
}
.assetContainer>div{
  padding-bottom: 15px;
}
.underline-text {
  text-decoration :underline ;
}
.pt-20{
  padding-top: 20px;
}
/*ADA compliance: add underline to all the links(exclude button links) in disclosure section*/
.ui-link:not(.ui-btn):not(.shadow-btn):not(.img-btn):not(.btn), .divfooter a {
    text-decoration: underline;
}
.hide-description {
    display: block;
}
.is-default.hide-description {
    display: none;
}