﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="WebMessagingView.aspx.vb" Inherits="cu_WebMessagingView" %>
<%@ Register TagPrefix="uc" TagName="pageHeader" Src="~/Inc/PageHeader.ascx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<title>Web Messaging View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<uc:pageHeader ID="ucPageHeader" ScriptFolder="cu" runat="server" />
</head>
<body>
	<form id="form1" runat="server">
	</form>
</body>
</html>
