﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SSOLogin.aspx.vb" Inherits="SSOLogin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>SSOLogin</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
    </div>
    </form>
</body>
</html>

