﻿.content-wrap{ box-sizing:border-box; }
.content-left
{
    width:35%;
    float:left;
    background:white; 
    border-right-style :solid;
    border-right-color: #b2b266;
    position:relative;
}
.content-right
{
    width:65%;
    float:right;
    background: #ebebe0;  
    position:relative;
}
.content-logo
{
    text-align:center;
    background :white;
}
.content-textarea { margin:40px 100px 40px 100px; }


.content-left .content-left-doc
{ 
    margin:25px;
    padding:25px;
    text-align:left;
    font-size :24px;
    position:relative;
    color:black;
}