﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="_Default" EnableViewState="false" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <div> <a href="pl/PersonalLoan.aspx?lenderref=11111153eed453b987367e26bd37d43&branchid=1c11d49a86454a8fa1f254df7f3f092a">Request a Personal Loan</a>
        <br />
        <%--<a href="he/HomeEquityLoan.aspx?lenderid=9031c7f53eed453b987367e26bd37d43">Apply for a Home Equity Loan</a>--%>
        <a href="he/HomeEquityLoan.aspx?lenderref=11111153eed453b987367e26bd37d43&branchid=1c11d49a86454a8fa1f254df7f3f092a">Apply for a Home Equity Loan</a>
        <br />
        <a href="vl/VehicleLoan.aspx?lenderref=11111153eed453b987367e26bd37d43&branchid=1c11d49a86454a8fa1f254df7f3f092a">Request a Vehicle Loan</a>
        <br />
        <a href="cc/CreditCard.aspx?lenderref=11111153eed453b987367e26bd37d43&branchid=1c11d49a86454a8fa1f254df7f3f092a">Request a CreditCard</a>
        <br />
        <a href="xa/xpressApp.aspx?lenderref=11111153eed453b987367e26bd37d43&branchid=1c11d49a86454a8fa1f254df7f3f092a&autofill=true">Xpress Application</a>

          <br />
       <%-- <a href="migrateConfig/migrateConfig.aspx">Migrate Configs</a>--%>
        <br />
        <a href="migrateConfig/editConfig.aspx">Edit Configs</a>
         <br />
        <a href ="zp/openAccount.aspx?lenderref=11111153eed453b987367e26bd37d43&branchid=1c11d49a86454a8fa1f254df7f3f092a">Open Account</a>
     
    </div>
</body>
</html>
