﻿<%@ Application Language="VB"  %>
<%@ Import Namespace="System.Web.Optimization" %>
<%@ Import Namespace="LPQMobile.Utils" %>
<%@ Import Namespace="System.Net" %>

<script runat="server">

    Private log As log4net.ILog = log4net.LogManager.GetLogger(Me.GetType)

    'Dynamically hook up HttpModules so it will only affect the root website but not the child or virtual directory
    'load QueryStringModule to do url encryption only for root website and applciation page
    'https://weblog.west-wind.com/posts/2007/apr/06/dynamically-hooking-up-httpmodules
    'Public Shared [Module] As New QueryStringModule()
    'Public Overrides Sub Init()
    '	MyBase.Init()
    '	[Module].Init(Me)
    'End Sub

    Sub Application_Start(ByVal sender As Object, ByVal e As EventArgs)
        ' Code that runs on application startup g

        log4net.GlobalContext.Properties("appname") = "LPQMobileWebsite"
        CBundleConfig.RegisterBundles(BundleTable.Bundles)
        Dim sLogConfigPath = Server.MapPath("~\log4net.xml")
        log4net.Config.XmlConfigurator.ConfigureAndWatch(New System.IO.FileInfo(sLogConfigPath))
        'The MSMQ Appender will internally default TimeToReach to 1 minute if we don't set it here
        'log4net.GlobalContext.Properties("timeToReachQueueSeconds") = common.SafeInteger(ConfigurationManager.AppSettings.Get("MSMQ_LOG_QUEUE_TIME_TO_REACH_QUEUE_SECONDS"))
        'log4net.GlobalContext.Properties("timeToBeReceivedSeconds") = SafeInteger(ConfigurationManager.AppSettings.Get("MSMQ_LOG_QUEUE_TIME_TO_BE_RECEIVED_SECONDS"))

        Dim sDomainName As String = LPQMobile.Utils.Common.LPQ_WEBSITE.ToLower.Replace("http://", "").Replace("https://", "").Trim(New Char() {"/"c, "\"c})
        If sDomainName.Contains(":") Then
            sDomainName = sDomainName.Substring(0, sDomainName.IndexOf(":"c))
        End If
        log4net.GlobalContext.Properties("DomainName") = sDomainName

        log4net.Config.XmlConfigurator.ConfigureAndWatch(New System.IO.FileInfo(Server.MapPath("~\log4net.xml")))

    End Sub

    Sub Application_End(ByVal sender As Object, ByVal e As EventArgs)
        ' Code that runs on application shutdown
    End Sub


    'CPBLogger is a shared class so need to update right before request
    Private Sub Global_BeginRequest(ByVal sender As Object, ByVal e As System.EventArgs) Handles Me.BeginRequest
        'log.Info("start Global_BeginRequest")
        QueryStringModule.context_BeginRequest(sender, e)


        'context = ip/lenderref
        Dim LenderRef As String = Request.Params("lenderref")
        Dim LenderID As String = Request.Params("lender_id")
        If String.IsNullOrEmpty(LenderID) Then LenderID = Request.Params("lenderid")
        If LenderRef <> "" Then
            UpdateContextWithLenderrefIP(LenderRef & "/" & Request.UserHostAddress)
        ElseIf LenderID <> "" Then
            UpdateContextWithLenderrefIP(LenderID & "/" & Request.UserHostAddress)
        Else
            UpdateContextWithLenderrefIP(Request.UserHostAddress)
        End If

        'file
        Dim sDecryptedQueryString As String = HttpContext.Current.Request.QueryString.ToString
        Dim sCompleteQueryString As String = If(sDecryptedQueryString <> "", "?" & sDecryptedQueryString, "")
        Dim sFileProperty As String = HttpContext.Current.Request.Url.AbsolutePath & sCompleteQueryString
        log4net.ThreadContext.Properties("File") = Logging.CAdaptivePropertyProvider.Create("File", sFileProperty)

        Net.ServicePointManager.SecurityProtocol = Net.SecurityProtocolType.Tls Or Net.SecurityProtocolType.Tls11 Or Net.SecurityProtocolType.Tls12
    End Sub

    Private Shared _dLastErrorLog As Date
    Sub Application_Error(ByVal sender As Object, ByVal e As EventArgs)
        'code from lpq/gui/cbasehttplicaiton/Global_Error

        'need to update context for log4net
        'this is already done in begin_request
        'UpdateContextWithLenderrefIP(Request.UserHostAddress)
        'file
        Dim sDecryptedQueryString As String = HttpContext.Current.Request.QueryString.ToString
        Dim sCompleteQueryString As String = If(sDecryptedQueryString <> "", "?" & sDecryptedQueryString, "")
        Dim sFileProperty As String = HttpContext.Current.Request.Url.AbsolutePath & sCompleteQueryString
        log4net.ThreadContext.Properties("File") = Logging.CAdaptivePropertyProvider.Create("File", sFileProperty)


        ' Code that runs when an unhandled error occurs
        ' Get the exception object.
        Dim objErr As Exception = Server.GetLastError

        ' Handle HTTP errors (avoid trapping HttpUnhandledException
        ' which is generated when a non-HTTP exception 
        ' such as the ones generated by buttons 1-3 in 
        ' Default.aspx is not handled at the page level).
        If (objErr.GetType Is GetType(HttpException)) Then
            ' The Complete Error Handling Example generates
            ' some errors using URLs with "NoCatch" in them;
            ' ignore these here to simulate what would happen
            ' if a global.asax handler were not implemented.
            If objErr.Message.Contains("NoCatch") Or objErr.Message.Contains("maxUrlLength") Then
                Return
            End If

            'Redirect HTTP errors to HttpError page
            'Server.Transfer("HttpErrorPage.aspx")
        End If

        If TypeOf objErr Is HttpUnhandledException And Not objErr.InnerException Is Nothing Then
            'if it's http unhandled exception, then it's probably masking the real exception, which is what we're after
            objErr = objErr.InnerException
        End If

        If TypeOf objErr Is System.OutOfMemoryException Then
            objErr = Server.GetLastError() 'the out of mem doesn't really contain any usefull info .. 
            'touch page to reset service and avoid server from completely crashing too long 
            Touch(Server.MapPath("~/web.config"))
        ElseIf TypeOf objErr Is System.TypeInitializationException AndAlso objErr.Message.IndexOf("CCryptoUtilsKMS") <> -1 Then
            'Catch these inexplicable error message and try to recover by recycle :T 
            'System.TypeInitializationException: The type initializer for 'LoansPQBO.Security.CCryptoUtilsKMS' threw an exception. ---> System.IO.FileLoadException: Loading this assembly would produce a different grant set from other instances. (Exception from HRESULT: 0x80131401)
            Touch(Server.MapPath("~/web.config"))
        End If


        If TypeOf objErr Is System.ArgumentException Then
            log.Warn("Global Page Error1: " & objErr.Message, objErr)
        Else
            Dim isSuppressKnownError As Boolean = objErr.Message.IndexOf("SessionCheck.aspx") <> -1 'issue on client side that keep looking for the file in the wrong location
            Dim isTooMany As Boolean = False
            If (DateDiff(DateInterval.Second, _dLastErrorLog, DateTime.Now) <= 120) Then  'reduce 1 error log/2min to reduce spaming the lol system
                _dLastErrorLog = DateTime.Now
                isTooMany = True
            Else
                _dLastErrorLog = DateTime.Now
            End If

            If False = LPQMobile.Utils.Common.LPQ_WEBSITE.ToLower.Contains("loanspq.com") Then 'keep all log for debug env
                isTooMany = False
            End If

            If Not isSuppressKnownError And Not isTooMany Then
                log.Error("Global Page Error2: " & objErr.Message, objErr)
            End If

            If isIgnoredClient() = False Then
                EmailError(objErr)  'this one has number of email per min
            End If
        End If

        ' Clear the error from the server
        Server.ClearError()
        'cleanup the objects 
        System.GC.Collect()

        Server.Transfer("~/GenericErrorPage.aspx")
    End Sub

    Sub Session_Start(ByVal sender As Object, ByVal e As EventArgs)
        ' Code that runs when a new session is started


    End Sub

    Sub Session_End(ByVal sender As Object, ByVal e As EventArgs)
        ' Code that runs when a session ends. 
        ' Note: The Session_End event is raised only when the sessionstate mode
        ' is set to InProc in the Web.config file. If session mode is set to StateServer 
        ' or SQLServer, the event is not raised.


    End Sub

    'This only work for integrated mode pool
    Private Sub Application_PreSendRequestHeaders()
        'Response.Headers.Remove("Server")
        'Response.Headers.Remove("X-AspNet-Version")
        'Response.Headers.Remove("X-AspNetMvc-Version")
    End Sub

    Private Shared _dLastEmailTime As Date

    Private Sub EmailError(ByVal poErr As Exception, Optional ByVal psLogName As String = "")

        If (DateDiff(DateInterval.Second, _dLastEmailTime, DateTime.Now) <= 120) Then   'no email more than once per X seconds
            _dLastEmailTime = DateTime.Now
            Return
        Else
            _dLastEmailTime = DateTime.Now
        End If

        'poErr.InnerException.ToString & "===" & poErr.InnerException.StackTrace
        Dim oMail As New System.Net.Mail.MailMessage()
        oMail.IsBodyHtml = True
        Dim currentUser = New SmAuthBL().GetCurrentUserFromContext(Context)
        Dim sEmail As String = "tonyn@meridianlink.com"
        oMail.To.Add(sEmail)
        oMail.From = New System.Net.Mail.MailAddress(sEmail)
        oMail.Subject = "LPQMobileError" & poErr.Message

        'oMail.Body = "ERROR: " & vbCrLf & "===" & vbCrLf & poErr.ToString
        'oMail.Body += "Username: " & User.Identity.Name & "<BR>"

        oMail.Body = "<B>System Error Captured</B>: <BR>" & poErr.ToString().Replace(Microsoft.VisualBasic.vbCrLf, "<BR>") & "<BR>"
        oMail.Body += "Username: " & currentUser.Email & "/" & Request.UserHostAddress & "<BR>"

        Try
            oMail.Body += "User Roles: " & CType(Context.User.Identity, System.Web.Security.FormsIdentity).Ticket.UserData & "<BR>"
        Catch ex As System.Exception
        End Try

        oMail.Body = "<font face=""Arial, Helvetica, Geneva, SunSans-Regular, sans-serif"" size=""-1"" >" & oMail.Body & "</font>"
        'If String.IsNullOrEmpty(psLogName) = False Then
        '	Dim oLog As New System.Net.Mail.Attachment(psLogName.Replace(".txt", "_Errors.txt"))
        '	oMail.Attachments.Add(oLog)
        'End If

        Dim bNotSent As Boolean = True
        Dim SMTPServer As String = "10.11.17.233"
        Dim smtp As System.Net.Mail.SmtpClient = New System.Net.Mail.SmtpClient(SMTPServer)
        Dim retrycount As Integer = 10

        While (bNotSent AndAlso retrycount > 0)
            Try
                smtp.Send(oMail)
                bNotSent = False
            Catch ex As Exception
                Console.WriteLine(ex.ToString())
                System.Threading.Thread.Sleep(10000)
                retrycount -= 1
            End Try
        End While

    End Sub



    Private Shared _dLastTime As Date

    ''' <summary>
    ''' "Touch" the file by updating its last write time
    ''' </summary>
    ''' <param name="psFilePath">Use something like server.mapPath("~/web.config") </param>
    ''' <param name="TouchThresholdSeconds">Default is  30 minutes.  If file has already been touched within
    ''' this timeframe, then it will not be touched again.</param>
    ''' <remarks></remarks>
    Protected Sub Touch(ByVal psFilePath As String, Optional ByVal TouchThresholdSeconds As Integer = 1800)
        Try
            SyncLock (GetType(HttpApplication))

                If (DateDiff(DateInterval.Second, _dLastTime, DateTime.Now) >= TouchThresholdSeconds) Then  'no touching more than once per X seconds

                    Dim att As System.IO.FileAttributes = System.IO.File.GetAttributes(psFilePath)
                    If ((att And System.IO.FileAttributes.ReadOnly) <> 0) Then

                        att = att Xor System.IO.FileAttributes.ReadOnly
                        System.IO.File.SetAttributes(psFilePath, att)
                    End If
                    System.IO.File.SetLastWriteTime(psFilePath, System.DateTime.Now)
                    _dLastTime = DateTime.Now
                End If
            End SyncLock

        Catch ex As System.Exception
            CPBLogger.logInfo("Unable to set last write time on file: " & psFilePath & " Error: " & ex.Message)
        End Try
    End Sub


    'handy function used to ignore certain pple.. ie: test pple
    Private Function isIgnoredClient() As Boolean

        Dim arrIgnoreIPs() As String = New String() {"192.168.111.8", "208.32.128.2"} ', "10.11.13.245", "127.0.0.1"
        'arrIgnoreIPs = oIgnore.GetAttribute("value").Split(","c)

        If IsNothing(HttpContext.Current) Then
            Return False
        End If

        Return Array.IndexOf(arrIgnoreIPs, Request.UserHostAddress) <> -1
    End Function


    ''' <summary>
    ''' This helper routine helps to update the context with actual login instead of just having an IP as provided at beginning of request.
    ''' </summary>
    Public Shared Sub UpdateContextWithLenderrefIP(ByVal psLenderrefIP As String)
        Dim oExistingContext = CType(log4net.ThreadContext.Properties("Context"), Logging.CAdaptivePropertyProvider(Of String))
        log4net.ThreadContext.Properties("Context") = Logging.CAdaptivePropertyProvider.Create("Context", psLenderrefIP & "/" & CStr(oExistingContext))
    End Sub

    Protected Sub Global_asax_PostAuthenticateRequest(ByVal sender As Object, ByVal e As System.EventArgs) Handles Me.PostAuthenticateRequest
        If Request.IsAuthenticated Then
            Dim roles As List(Of String) = New SmAuthBL().GetRolesOfCurrentUser(HttpContext.Current)
            If roles IsNot Nothing AndAlso roles.Any() Then
                HttpContext.Current.User = New System.Security.Principal.GenericPrincipal(HttpContext.Current.User.Identity, roles.ToArray())
                'log.Debug(roles.ToArray())
            End If
        Else
            Dim authCookie As HttpCookie = Request.Cookies(FormsAuthentication.FormsCookieName)
            If authCookie Is Nothing AndAlso Common.IsAjaxRequest(Request) AndAlso sender.Request.Path.ToUpper().EndsWith("SMHANDLER.ASPX") Then
                Response.StatusCode = 403 '' Forbidden
                Response.StatusDescription = "Authentication required"
                Response.SuppressFormsAuthenticationRedirect = True
                Response.End() '' Terminate all the rest processes
            End If
        End If
    End Sub

    Protected Sub Global_asax_AuthorizeRequest(ByVal sender As Object, ByVal e As System.EventArgs) Handles Me.AuthorizeRequest
        If sender.Request.Path.ToUpper().EndsWith("LOGIN.ASPX") AndAlso sender.Request.IsAuthenticated AndAlso sender.Request.QueryString("returnurl") <> "" Then
            sender.Response.Redirect("~/agent/")
            'If sender.Request.QueryString("returnurl") <> "" Then
            '	sender.Response.Redirect("~/noaccess.aspx")
            'Else
            '	sender.Response.Redirect("~/vendor/")
            'End If
        End If
    End Sub
</script>