﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="DefaultDesign.aspx.vb" Inherits="Sm_DefaultDesign" MasterPageFile="SiteManager.master" %>

<asp:Content runat="server" ContentPlaceHolderID="plBody">
	<h1>Design section.</h1>
	<h2>Some text to decribe this section here.Can also put things in general that not belongs to any sub categories of Design section</h2>
</asp:Content>