﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="DefaultConfig.aspx.vb" Inherits="Sm_DefaultConfig" MasterPageFile="SiteManager.master" %>

<asp:Content runat="server" ContentPlaceHolderID="plBody">
	<h1>Configuration section.</h1>
	<h2>Some text to decribe this section here.Can also put things in general that not belongs to any sub categories of Configuration section</h2>
</asp:Content>