﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Loading.aspx.vb" Inherits="Sm_Loading" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body onload="javascript: window.close();">
    <div>Loading...</div>
</body>
</html>
