﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SmHandler.aspx.vb" ValidateRequest="false" Inherits="Sm_SmHandler" %>
<%@ Reference Control="~/Sm/Uc/UserList.ascx" %>
<%@ Reference Control="~/Sm/Uc/LenderList.ascx" %>
<%@ Reference Control="~/Sm/Uc/AddUserForm.ascx" %>
<%@ Reference Control="~/Sm/Uc/RevisionList.ascx" %>
<%@ Reference Control="~/Sm/Uc/EditUserForm.ascx" %>
<%@ Reference Control="~/Sm/Uc/VendorList.ascx" %>
<%@ Reference Control="~/Sm/Uc/AuditLogs.ascx" %>
<%@ Reference Control="~/Sm/Uc/RevisionChanges.ascx" %>
<%@ Reference Control="~/Sm/Uc/AddLenderVendorForm.ascx" %>
<%@ Reference Control="~/Sm/Uc/EditLenderVendorForm.ascx" %>
<%@ Reference Control="~/Sm/Uc/LenderUserRoleList.ascx" %>
<%@ Reference Control="~/Sm/Uc/PortalUserRoleList.ascx" %>
<%@ Reference Control="~/Sm/Uc/VendorUserList.ascx" %>
<%@ Reference Control="~/Sm/Uc/AddVendorUserForm.ascx" %>
<%@ Reference Control="~/Sm/Uc/CloneLenderForm.ascx" %>
<%@ Reference Control="~/Sm/Uc/ClonePortalForm.ascx" %>
<%@ Reference Control="~/Sm/Uc/LandingPageList.ascx" %>
<%@ Reference Control="~/Sm/Uc/AddLandingPageForm.ascx" %>
<%@ Reference Control="~/Sm/Uc/EditLandingPageForm.ascx" %>
<%@ Reference Control="~/Sm/Uc/CloneLandingPageForm.ascx" %>
<%@ Reference Control="~/Sm/Uc/VendorGroupAdminList.ascx" %>
<%@ Reference Control="~/Sm/Uc/AddVendorGroupAdminForm.ascx" %>
<%@ Reference Control="~/Sm/Uc/EditVendorGroupAdminForm.ascx" %>
<%@ Reference Control="~/Sm/Uc/ActionLogList.ascx" %>
<%@ Reference Control="~/Sm/Uc/MortgageLoanSearchResult.ascx" %>