﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="DocuSignTracker.aspx.vb" Inherits="handler_DocuSignTracker" %>
<script>  
    window.onload= function DocusignTracker() {
     var currentUrl = window.location.protocol + "//" + window.location.host;
     window.parent.postMessage("DocuSignTrackerLoaded"+'<%=_status%>', currentUrl);
    }
</script>