﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SessionCheck.aspx.vb" Inherits="Inc_SessionCheck" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
          This page is intended to be blank.
    </div>
    </form>
</body>
</html>
