﻿html {font-size: 14px;}
body {
	background-color: #ebebeb;
	font-family: Arial;
}
body a, body a:visited, a:focus, body a:hover {
	text-decoration: none;
	cursor: pointer;
}
.bottom10 {
	margin-bottom: 10px;
}
.bottom20 {
	margin-bottom: 20px;
}
.bottom30 {
	margin-bottom: 30px;
}

.top30 {
	margin-top: 30px;
}
.margin-top-bottom-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.input-block {
	margin-bottom: 20px;		
}
input.sm-textbox {
	border: 1px solid #cecece;
	outline: none;
	max-width: 500px;
}
textarea.sm-textarea {
	width: 100%;
	-moz-resize: vertical;
	-ms-resize: vertical;
	-o-resize: vertical;
	resize: vertical;
	padding: 15px;
	border: 1px solid #cecece;
}
select.inline-select {
	width: auto;
	display: inline-block;
	margin-left: 4px;
}
select.form-control {
	border-radius: 3px;
}
/*override bootstrap tab*/
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #f7f7f7;
}
/*end override bootstrap tab*/
/*override ckeditor style*/
.cke_combo_text.cke_combo_inlinelabel {
	width: 120px;
}
.width300 {
	width: 300px;
}
/*end override ckeditor style*/

input.inline-textbox {
	width: auto;
	display: inline-block;
}
.form-group label.required-field:after {
	content: '*';
	color: red;
	margin-left: 6px;
}
.login-page, .account-request-page, .forgot-password-page, .reset-password-page, .no-access-page {
	margin-top: 100px;
}
.activation-page{
	margin-top: 40px;
}
.activation-page .main-form, .login-page .main-form, .account-request-page .main-form, .forgot-password-page .main-form, .reset-password-page .main-form, .no-access-page .main-form {
	background-color: #fff;
	padding: 20px;
}
.login-page .result-message, .forgot-password-page .result-message {
	color: red;
	font-size: 0.9em;
	font-style: italic;
}
.login-page .forgot-password-link {
	text-align: right;
}
.search-bar {
	margin: 10px 0;
	max-width: 700px;
}
.add-panel {
	max-width: 350px;
	margin: 10px 0;
}
.search-bar button,.search-bar button:hover {
	background-color: #0070b8;
	color: #fff;
}
.dialog-wrapper {
	max-height: 500px;
	overflow-y: auto;
}
.mb10 {
	margin-bottom: 10px;
}
.mt25 {
	margin-top: 25px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mr5 {
	margin-right: 5px;
}
.ml20 {
	margin-left: 20px;
}
label.error-msg {
	color: #ff4500;
}
label.success-msg {
	color: #299c0e;
}
.mt50 {
	margin-top: 50px;
}
.forgot-password-page #divMsg {
	margin: 10px 0;
	font-size: 0.9em;
	color: #d8082f;
}
.number {
	text-align: right;
}
.table .portal-row >td:nth-child(2) {
	padding-left: 20px;
}
.table .portal-row.row-title {
	font-weight: bold;
}
.table .lender-row {
	color: #299c0e;
}
.table .portal-row i.fa {
	color: #808080;
}
.inline-drop-menu .btn-dropdown {
	border: none;
	background: none;
	padding: 0;
	padding-bottom: 1px;
	padding-left: 8px;
}
.inline-drop-menu .btn-dropdown img{
	width: 8px;
	height: 8px;
	display: inline-block;
}
.inline-drop-menu .btn-dropdown i.fa {
	margin-right: 0;
	font-size: 0.6em;
}
.inline-drop-menu .btn-dropdown:active {
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}
.inline-drop-menu .inline-drop-menu {
	display: inline-block;
}
.inline-drop-menu .dropdown-menu a {
	color: #337ab7;
}

.inline-drop-menu .dropdown-menu a:hover {
	color: #ffffff;
	background-color: #337ab7;
	background-image: none;

}

.table .portal-row .btn-dropdown{
	color: #808080;
}
.table .lender-row .btn-dropdown {
	color: #299c0e;
}

.table.lender-list tr>th, .table.lender-list tr>td {
	padding: 4px;
}

 .dropzone {
	border: 2px dashed #ccc;
	border: 2px dashed rgba(0, 0, 0, 0.3);
}

.dropzone .dz-preview .dz-image {
	width: 200px;
	height: auto;
	min-height: 100px;
	border-radius: 0;
}
.dropzone .dz-preview .dz-image img {
	margin: 0 auto;
}
.dropzone .dz-preview .dz-remove, .dropzone .dz-preview .dz-remove:hover, .dropzone .dz-preview .dz-remove:visited, .dropzone .dz-preview .dz-remove:focus {
	text-decoration: none;
}

@media (max-width: 540px) {
	.no-access-page h2, .account-request-page h2 {
		font-size: 22px;
	}
}
.no-padding {
	padding: 0!important;
}
.no-margin {
	margin: 0!important;
}
.min-height-300 {
	min-height: 300px;	 
}

.main-color {
	color: #2a6be3;
}
.green-color {
	color: #5cb85c;
}
a.disabled, a.disabled:hover, a.disabled:focus {
	cursor: default;
	color: gray;
}
.min-height-300 {
	min-height: 300px;
}
.fixed-table-audit-log          { overflow-y: auto; max-height: 400px }
.fixed-table-audit-log thead th { position: sticky; top: 0; }
.fixed-table-audit-log thead th:nth-child(1){
	min-width: 150px;
}
.fixed-table-audit-log thead th:nth-child(2){
	min-width: 170px;
}
.fixed-table-audit-log thead th span.filter-icon:after{
	content: "\f0b0";
	color: black;
	font-family: FontAwesome;
    padding-left: 5px;
    cursor: pointer;
}
.fixed-table-audit-log thead th.activeHeader span.filter-icon:after{
	content: "\f0b0";
	color: #337ab7;
	font-family: FontAwesome;
    padding-left: 5px;
    cursor: pointer;
}
.sort-ascending img.ascending{
	display: none;
}
.sort-ascending:after {
    content: "\f15d";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    padding-left: 5px;
}
.sort-descending img.descending{
	display: none;
}
.sort-descending:after {
	content: "\f15e";
    font-family: FontAwesome;
    padding-left: 5px;
}
.history-search-header {
    display: flex;
}
.history-search-header > .search-bar {
    min-width: 500px;
    padding-left: 10px;
}
.link-clear-search {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.pt20{
	padding-top: 20px;
}
.pt15{
	padding-top: 15px;
}
.dateFilter {
	padding: 10px;
	background: white;
}

.clearUserFilter {
	background: white;
	padding: 10px;
	text-align: left;
}

.table > thead > tr > th {
	background: white;
}
.table .div_checklist {
	height: auto;
	max-height: 500px;
	padding: 10px;
}
.table div.popUpFilter {
	position: fixed;
}