﻿.navbar-fix-left {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1030;
	width: 100px;
	height: 100%;
	background-color: #2a6be3;
	padding-top: 30px;
}

.navbar-fix-left a {
	text-transform: uppercase;
	/*color: #ffffff;*/
	text-align: center;
	padding-top: 14px;
	padding-bottom: 10px;
	cursor: pointer;
}
.navbar-fix-left a {
	font-size: 0.9em;
	color: #d0c9c9;
	display: block;
}
.navbar-fix-left a:hover, .navbar-fix-left a.active {
	background-color: #1b53bb;
	color: #ffffff;
	font-weight: bold;
}
.navbar-fix-left a:before {
	background-repeat: no-repeat;
	background-position: center;
	-ms-background-size: 30px 30px;
	background-size: 30px 30px;
	width: 100px;
	height: 30px;
	content: "";
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
}
.navbar-fix-left a.menu-home:before{
	background-image: url("/sm/content/images/home_ico.png");
}
.navbar-fix-left a.menu-home:hover::before, .navbar-fix-left a.menu-home.active:before {
	background-image: url("/sm/content/images/home_ico_w.png");
}
.navbar-fix-left a.menu-design:before {
	background-image: url("/sm/content/images/pencil_ico.png");
}
.navbar-fix-left a.menu-design:hover::before, .navbar-fix-left a.menu-design.active:before {
	background-image: url("/sm/content/images/pencil_ico_w.png");
}
.navbar-fix-left a.menu-config:before {
	background-image: url("/sm/content/images/config_ico.png");
}
.navbar-fix-left a.menu-config:hover::before, .navbar-fix-left a.menu-config.active:before {
	background-image: url("/sm/content/images/config_ico_w.png");
}
.navbar-fix-left a.menu-support:before {
	background-image: url("/sm/content/images/wrench_ico.png");
}
.navbar-fix-left a.menu-support:hover::before, .navbar-fix-left a.menu-support.active:before {
	background-image: url("/sm/content/images/wrench_ico_w.png");
}
.navbar-fix-left a.menu-accounting:before {
	background-image: url("/sm/content/images/calculator_ico.png");
}
.navbar-fix-left a.menu-accounting:hover::before, .navbar-fix-left a.menu-accounting.active:before {
	background-image: url("/sm/content/images/calculator_ico_w.png");
}
.navbar-fix-left a.menu-report:before {
	background-image: url("/sm/content/images/report_ico.png");
}
.navbar-fix-left a.menu-report:hover::before, .navbar-fix-left a.menu-report.active:before {
	background-image: url("/sm/content/images/report_ico_w.png");
}
.navbar-fix-left a.menu-manage:before {
	background-image: url("/sm/content/images/manage_ico.png");
}
.navbar-fix-left a.menu-manage:hover::before, .navbar-fix-left a.menu-manage.active:before {
	background-image: url("/sm/content/images/manage_ico_w.png");
}
.navbar-fix-left a.menu-user:before {
	background-image: url("/sm/content/images/user_ico.png");
}
.navbar-fix-left a.menu-user:hover::before, .navbar-fix-left a.menu-user.active:before {
	background-image: url("/sm/content/images/user_ico_w.png");
}
.navbar-fix-left a.menu-history:before {
	background-image: url("/sm/content/images/history_ico.png");
}
.navbar-fix-left a.menu-history:hover::before, .navbar-fix-left a.menu-history.active:before {
	background-image: url("/sm/content/images/history_ico_w.png");
}
.navbar-fix-left a.menu-rescue:before {
	background-image: url("/sm/content/images/rescue_ico.png");
}
.navbar-fix-left a.menu-rescue:hover::before, .navbar-fix-left a.menu-rescue.active:before {
	background-image: url("/sm/content/images/rescue_ico_w.png");
}
.navbar-fix-left a.menu-lender:before {
	background-image: url("/sm/content/images/lenderlist_ico.png");
}
.navbar-fix-left a.menu-lender:hover::before, .navbar-fix-left a.menu-lender.active:before {
	background-image: url("/sm/content/images/lenderlist_ico_w.png");
}
.navbar-fix-left a.menu-mlu:before {
	background-image: url("/sm/content/images/mlu_ico.png");
}
.navbar-fix-left a.menu-mlu:hover::before, .navbar-fix-left a.menu-mlu.active:before {
	background-image: url("/sm/content/images/mlu_ico_w.png");
}

.navbar-fix-left a.menu-legacy:before {
	background-image: url("/sm/content/images/duplicate_ico.png");
}
.navbar-fix-left a.menu-legacy:hover::before, .navbar-fix-left a.menu-legacy.active:before {
	background-image: url("/sm/content/images/duplicate_ico_w.png");
}
.navbar-sub-fix-left {
	display: block;
	/*float: left;*/
	/*width: 260px;*/
	height: 100%;
	background-color: #ffffff;
	border-right: 1px solid #ccc;
	position: fixed;
	top: 0;
	z-index: 1000;
	margin-left: 100px;
}

.sub-menu-design .sub-menu-title:before {
	background-image: url("/sm/content/images/pencil_ico_b.png");
}
.sub-menu-manage .sub-menu-title:before {
	background-image: url("/sm/content/images/manage_ico_b.png");
}
.sub-menu-config .sub-menu-title:before {
	background-image: url("/sm/content/images/config_ico_b.png");
}
.sub-menu-support .sub-menu-title:before {
	background-image: url("/sm/content/images/wrench_ico_b.png");
}
.sub-menu-report .sub-menu-title:before {
	background-image: url("/sm/content/images/report_ico_b.png");
}
.sub-menu-user .sub-menu-title:before {
	background-image: url("images/user_ico_b.png");
}
.sub-menu-history .sub-menu-title:before {
	background-image: url("/sm/content/images/history_ico_b.png");
}
.sub-menu-rescue .sub-menu-title:before {
	background-image: url("/sm/content/images/rescue_ico_b.png");
}
.sub-menu-lender .sub-menu-title:before {
	background-image: url("/sm/content/images/lenderlist_ico_b.png");
}


.sm-menu {
	display: none;
}
.sm-menu.active{
	display: block;
	width: 260px;
}
.sub-menu-title {
	width: 90%;
	font-size: 1.6em;
	margin: 30px 0 0px;
	line-height: 60px;
	margin-left: 20px;
}
.sub-menu-title:before {
	background-repeat: no-repeat;
	background-position: center;
	-ms-background-size: 20px 20px;
	background-size: 20px 20px;
	width: 40px;
	height: 57px;
	content: " ";
	display: inline-block;
	float: left;
}
.sub-menu-title > span {
	height: 70px;
	display: table-cell;
	color: #887e7e;
}
.sub-menu-section-title {
	border-bottom: 1px solid #cecece;
	padding-bottom: 4px;
	margin: 0 20px 10px;
	font-size: 1.1em;
	color: #000;
	font-weight: bold;
}
.sub-menu-section-title p {
	color: #8c8989;
	font-size: 0.8em;
	line-height: 1.3em;
	margin-bottom: 0;
	font-weight:100;
}
.sub-menu-item {
	color: #333;
	font-size: 1.1em;
	padding: 10px 20px;
	cursor: pointer;
}
.sub-menu-item p {
	color: #8c8989;
	font-size: 0.8em;
	line-height: 1.3em;
	margin-bottom: 0;
}
.sub-menu-item.active, .sub-menu-item:hover {
	background-color: #efeded;
}
.sm-container {
	float: left;
	margin-top: 60px;
	margin-left: 360px;
	width: calc(100% - 360px);
	color: #6a6a6a;
}
.sm-container.hide-submenu {
	margin-left: 100px;
	width: calc(100% - 100px);
}
.sm-container .sm-header {
	position: fixed;
	height: 60px;
	top: 0;
	width: calc(100% - 360px);
	border-bottom: 1px solid #ccc;
	background-color: #ffffff;
	z-index: 999;
}
.sm-container.hide-submenu .sm-header {
	width: calc(100% - 100px);
}
.sm-header .top-notify-block {
	float: left;
	width: 150px;
	line-height: 20px;
	padding: 10px 5px;
	color: #5cb85c;
	font-weight: bold;
}
.sm-header .profile-block {
	float: right;
    margin-right:15px;
    border-left: 1px solid #ccc;
}

.sm-header .profile-block > div {
	float: left;
}
.sm-header .profile-block .profile-desc p {
	margin: 10px 0 0;
}


/*.sm-header .profile-block .circle {
	line-height: 0;
	display: inline-block;
	margin: 5px;
	border: 2px solid rgba(42, 107, 227,0.7);
	border-radius: 50%;
	transition: linear 0.25s;
	height: 48px;
	width: 48px;
}
.sm-header .profile-block .circle img {
	margin: inherit;
	border-radius: 50%;
}
.sm-header .profile-block .circle:hover {
	transition: ease-out 0.2s;
	border: 2px solid #2a6be3;
	-webkit-transition: ease-out 0.2s;
}*/
.sm-header .top-action-button {
    font-size: 1em;
	height: 100%;
    color: #2a6be3;
    display: inline-block;
    border-right: 1px solid #ccc;
	padding: 6px 30px;
    float: left;
	text-align: center;
	position: relative;
}
.sm-header .top-action-button.pull-right {
	border-left: 1px solid #ccc;
	border-right: none;
}

.sm-header .top-action-button:hover {
	background-color: #2a6be3;
	color: #fff;
	cursor: pointer;
}
.sm-header .top-action-button:before {
	background-repeat: no-repeat;
	background-position: center;
	-ms-background-size: 25px 25px;
	background-size: 25px 25px;
	width: 25px;
	height: 25px;
	content: " ";
	display: inline-block;
}
.sm-header .top-action-button > span {
	display: table-cell;
}
.sm-header .top-action-button>span+i.fa {
	color: red;
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 3px;
	width: 20px;
	height: 20px;
}
.sm-header .top-action-button.save-draft-btn:before,.sm-header .top-action-button.save-changes-btn:before {
	background-image: url("/sm/content/images/save_ico.png");
}
.sm-header .top-action-button.preview-btn:before {
	background-image: url("/sm/content/images/preview_ico.png");
}
.sm-header .top-action-button.mlu-btn {
	float: right;
}
.sm-header .top-action-button.mlu-btn:before {
	background-image: url("/sm/content/images/mlu_ico_blue.png");
}
.sm-header .top-action-button.publish-btn:before {
	background-image: url("/sm/content/images/publish_ico.png");
}
.sm-header .top-action-button.clean-draft-btn:before {
	background-image: url("/sm/content/images/undo_ico.png");
}
.sm-header .top-action-button.save-draft-btn:hover::before,.sm-header .top-action-button.save-changes-btn:hover::before {
	background-image: url("/sm/content/images/save_ico_w.png");
}
.sm-header .top-action-button.preview-btn:hover::before {
	background-image: url("/sm/content/images/preview_ico_w.png");
}
.sm-header .top-action-button.mlu-btn:hover::before {
	background-image: url("/sm/content/images/mlu_ico_w.png");
}
.sm-header .top-action-button.publish-btn:hover::before {
	background-image: url("/sm/content/images/publish_ico_w.png");
}
.sm-header .top-action-button.clean-draft-btn:hover::before {
	background-image: url("/sm/content/images/undo_ico_w.png");
}
.in-branch-host {
	color: red;
	position: fixed;
	z-index:1000;
	top: 1px;
	left: 110px;
	opacity: 0.35;
}