﻿.page-header {
	font-size: 2em;
	margin: 0;
	padding: 0;
	border: none;
}
.page-header + p {
	border-bottom: 1px solid #cecece;
	padding-bottom: 2px;
	margin-bottom: 50px;
}

h2.section-title {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	border: none;
}
h2.section-title + p {
	padding-bottom: 2px;
	margin-bottom: 20px;
}
.section-wrapper > p:first-child {
	text-transform: uppercase;
	font-size: 1.4em;
}
.section-heading-btn h2.section-title + p, .section-heading-btn h3.section-title + p {
	clear: left;
	margin-bottom: 10px;
}
.section-heading-btn .buttons {
	margin-top: 10px;
}

.btn.btn-primary, .btn.btn-secondary {
	background: none;
	background-color: #0070b8;
	color: #ffffff;
	text-shadow: none;
	box-shadow: none;
	border: 1px solid transparent;
	padding: 6px 32px;
}
.btn.btn-primary:focus, .btn.btn-secondary:focus, .btn.btn-primary:hover, .btn.btn-secondary:hover {
	border: 1px solid #4d90fe;
	opacity: 0.8;
}
.text-italic {
	font-style: italic;
}
.text-bold {
	font-weight: bold;
}
button>i.fa{
	margin-right: 6px;
}
.no-item{
	background-color: #f5f5f5;
	width: 100%;
	height: 200px;
	padding: 10px;
	text-align: center;
	-ms-border-radius: 4px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.no-item i.fa{
	font-size: 4em;
}
.no-item p{
	margin: 10px;
}
.link-btn {
	color: #337ab7;
	cursor: pointer;
}

h3.property-title {
	font-size: 1.1em;
	font-weight: bold;
}
h3.property-title + input, h3.property-title + label {
	margin-top: 8px;
}
.input-block .form-control {
	width: 350px;
}
.sm-main {
	padding: 20px 40px 20px 40px;
}
.sm-main section {
	margin: 40px auto;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #cecece;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #cecece;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #cecece;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #cecece;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #cecece;
}

.dynamic-key-panel {
	margin-top: 2px;
}
.dynamic-key-panel > span {
	display: inline-block;
	padding: 6px 12px;
	border: 1px solid #ccc;
	color: #2a6be3;
	cursor: pointer;
	background-color: #f9f9f9;
	margin-bottom: 2px;
}
.dynamic-key-panel > span i.fa {
	font-size: 0.8em;
	margin-right: 4px;
}

.disclosure-commands{
	margin: 2px 0px 20px;
	text-align: right;
}
.html-editor {
	min-height: 100px;
	border: 1px solid #cecece;
	background-color: #fff;
	overflow: auto;
	max-height: 300px;
	padding: 10px;
}
.checkbox-btn-wrapper {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	line-height: 24px;
}
.checkbox-btn-wrapper:hover {
	background-color: #e2e2e2;
}
.checkbox-btn-wrapper:first-of-type {
	border-top: 1px solid #ccc;
}
.checkbox-btn-wrapper span:first-child {
	display: inline-block;
	width: 90%;
	padding-right: 20px;
	/*text-transform: uppercase;*/
}
.checkbox-btn-wrapper.custom-question span:first-child {
	width: 60%;
}
.checkbox-btn-wrapper.category-included span:first-child {
	width: 40%;
}

.checkbox-btn-wrapper.category-included {
	line-height: 33px;
	height: 53px;
}
.checkbox-btn-wrapper.category-included .toggle-btn {
	margin-top: 5px;
	margin-bottom: 0px;
}
.checkbox-btn-wrapper.category-included select {
	height: auto;
}
.display-page-ddl{
	margin-right: 20px;
	width: 200px;
}
.toggle-btn {
	width: 50px;
	height: 24px;
	position: relative;
	min-height: 24px;
	cursor: pointer;
	margin: 0;
}
.toggle-btn.disabled {
	cursor: default;
}
.toggle-btn:before, .toggle-btn:after {
	top: 1px;
	width: 25px;
	font-size: 10px;
	position: absolute;
	line-height: 24px;
	text-align: center;
	z-index: 1;
}
.toggle-btn:before {
	left: 1px;
	content: attr(data-on);
}
.toggle-btn:after {
	right: 1px;
	content: attr(data-off);
}
.toggle-btn>input[type="checkbox"] {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	outline: none !important;
	opacity: 0;
}
.toggle-btn > span.button-checkbox {
	border: 1px solid #ccc;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 3px;
}
.toggle-btn>input[type="checkbox"]:checked + .button-checkbox {
	border-color: #66c796;
}
.toggle-btn>input[type="checkbox"] + .button-checkbox:after {
	content: '';
	position: absolute;
	z-index: 2;
	display: block;
	top: 1px;
	bottom: 1px;
	left: 1px;
	width: 23px;
	background-color: #ccc;
	transition: all;
	transition-duration: 0.2s;
}
.toggle-btn > input[type="checkbox"]:checked + .button-checkbox:after {
	background-color: #66c796;
	left: 24px;
}

.toggle-btn + div.button-caption, select + div.button-caption {
	display: inline-block;
	position: absolute;
	line-height: 24px;
	margin-left: 4px;
}

select.inline-select + div.button-caption {
	display: inline-block;
	position: absolute;
	line-height: 34px;
	margin-left: 10px;
}

section .tab-content {
	border: 1px solid #ddd;
	border-top: none;
}
section .tab-content .tab-pane {
	padding: 30px;
	background-color: #fff;
	min-height: 400px;
}
.tab-content .group-heading {
	font-size: 1.2em;
}
.tab-content h3.property-title {
	margin-top: 10px;
	margin-bottom: 4px;
}

.tab-pane h2.section-title {
	margin-bottom: 20px;
}

.app-field-item {
	padding: 10px;
	line-height: 34px;
	border: 1px solid #cecece;
	margin-bottom: 5px;
	border-radius: 3px;
	border-left-width: 5px;
	border-left-color: #299c0e;
}
.app-field-item:hover {
	background-color: #f5f5f5;
}
.manage-btn {
	color: #0070b8;
	cursor: pointer;
}
.app-field-item .manage-btn{
	margin-right: 6px;
	display: none;
}
.toggle-btn + .manage-btn {
	position: absolute;
	margin-top: 2px;
	margin-left: 8px;
	display: none;
}
.toggle-btn + div.hint-content {
	display: none;
	margin-top: 10px;
}
.toggle-btn.checked + div.hint-content {
	display: block;
}

.app-field-item.hidden-field{
	border-left-color: #cecece;
}
.app-field-item.required-field {
	border-left-color: #ef4a4a;
	border-left-color: rgba(239, 74, 74,0.6);
}

.app-field-item.hidden-field .manage-btn, .manage-btn.enabled {
	display: inline-block;
}
.manage-btn + div {
	margin-top: 10px;
	display: none;
}

.manage-btn.enabled + div {
	display: block;
}

.manage-btn >i.fa{
	margin-right: 2px;
}
.select-switch-pane {
	display: none;
}
.select-switch-pane.active {
	display: block;
}
ul.sm-tab-strip {
	margin: 10px 0;
	min-width: 800px;
	list-style: none;
	padding: 0;
}
ul.sm-tab-strip li {
	display: inline;
	margin: 0 15px 0 0;
}
ul.sm-tab-strip li:hover, ul.sm-tab-strip li:active{
	color: #0070b8;
}
ul.sm-tab-strip li a {
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	padding-bottom: 2px;
}
ul.sm-tab-strip li:hover a, ul.sm-tab-strip li.active a {
	border-bottom-color: #0070b8;
	color: inherit;
}
.field-customization select.inline-select.pull-right {
	width: 110px;
}
section.design-theme-section {
	top: 20px;
	left: 360px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.design-theme-section .preview-panel {
	min-width: 400px;
	width: 51%; 
	/*border: 1px solid #d0d0d0;*/
	position: absolute;
	top: 0;
	bottom: -30px;
	margin-top: 50px;
}
.design-theme-section .preview-panel.expanded-navigation-buttons {
	width: 60%;
}
.switch-btn-panel {
	position: absolute;
	width: 100%;
	background-color: #ebebeb;
	text-align: center;
	height: 50px;
	border-bottom: 1px solid #dddddd;
}
.design-theme-section .preview-panel .switch-btn-panel {
	top: -50px;
}
.switch-btn-panel .btn-group {
	margin-top: 5px;
	background-color: #fff;
}
.switch-btn-panel .btn-group .btn.active {
	background: #0070b8;
	color: #fff;
	border-color: #0070b8;
}
.collapse-able.switch-btn-panel>div.preview-url-ddl {
	display: none;
}
.collapse-able.switch-btn-panel > div.preview-url-ddl select {
	width: 250px;
}

@media(max-width: 1365px) {
	.collapse-able.switch-btn-panel > div.preview-url-ddl {
		display: block;
		margin: 8px;
	}
	.collapse-able.switch-btn-panel .btn-group {
		display: none;
	}
}
.design-theme-section .design-panel {
	width: 48%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: -40px;
	overflow-y: auto;
	padding-right: 20px;
}
.design-theme-section .design-panel.expanded-navigation-buttons {
	width: 40%;
}
.design-theme-section .page-header {
	margin-top: 20px;
}
.design-theme-section .page-header + p {
	margin-bottom: 40px;
}
.logo-upload-zone {
	background-color: #fff;
	border-radius: 4px;
	margin: auto;
	text-align: center;
	min-height: 200px;
	cursor: pointer;
}

.logo-upload-zone .dz-default.dz-message p {
	font-style: italic;
}
.logo-upload-zone .dz-default.dz-message p:first-child {
	font-size: 1.4em;
	font-style: normal;
}
.preview-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.preview-panel .frame-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ebebeb;
}

.design-theme-section.two-row-button .design-panel, .design-theme-section.two-row-button .preview-panel {
	margin-top: 90px;
}
.design-theme-section.two-row-button .switch-btn-panel {
	height: 90px;
}
.design-theme-section.two-row-button .btn-group:after {
	display: block;
}
@media(max-width: 1365px) {
	.design-theme-section.two-row-button .design-panel, .design-theme-section.two-row-button .preview-panel {
	margin-top: 50px;
}
.design-theme-section.two-row-button .switch-btn-panel {
	height: 50px;
}
}
.spinner {
	margin: 100px auto 0;
	width: 60px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}
.spinner + p {
	text-align: center;
	font-size: 1.5em;
}

.spinner > div {
	background-color: #ccc;
	height: 100%;
	width: 6px;
	margin: 0 1px;
	display: inline-block;
  
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% { 
			transform: scaleY(1.0);
			-webkit-transform: scaleY(1.0);
		}
}
.color-picker-block {
	width: 180px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 20px;
}
.color-picker-block input.form-control {
	float: left;
	display: inline-block;
	width: 60%;
	color: #6a6a6a!important;
}
.color-picker-block input.basic {
	float: left;
}
.color-picker-block .sp-replacer.sp-light {
	margin: 2px 4px 0;
	border-color: #cccccc;
	border-radius: 3px;
}
.table {
	font-size: 14px;
	background-color: #fff;

}
.table > tbody > tr > td {
     vertical-align: middle;
	border-color: #eee;
}
.table > tbody > tr > td p i.fa {
	width: 20px;
}
.table > thead > tr > th.center, .table > tbody > tr > td.center {
	text-align: center;
}
.table > thead > tr > th:first-child, .table > tbody > tr > td:first-child {
	text-align: center;
}
.table tfoot>tr {
	height: 50px;
}
.table td.toggle-btn-container {
	padding-top: 10px;
	padding-bottom: 0;
}
.grid .paging-info {
	margin: 10px 0 0 10px;
}
.grid .pagination-wrapper {
	text-align: right;
}
.grid .pagination-wrapper ul.pagination {
	margin: 2px 10px 0;
}
.datepicker {
	z-index:1151 !important;
}
#dashboard .search-bar {
	max-width: 350px;
}
#dashboard .add-panel {
	max-width: 350px;
	margin: 10px 0;
}
#dashboard .add-panel button, #dashboard .add-panel button:hover, #dashboard .add-panel button:focus {
	background-color: #0070b8;
	color: #fff;
}

.homepage .main-section-wrapper{
	text-align:center;
}
.homepage .main-section-wrapper .main-section {
	margin-left: 0px;	
	text-align:left;
	display:inline-block;
	color: #0070b8;
}
.homepage .top-section {
	background: #fff;
	height: 360px;
	text-align: center;
	margin: -20px -60px 0;	
}
.homepage.operator-context .top-section {
	background-color: #ebebeb;
}
.homepage .top-section > div {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.homepage .top-section img {
	width: 80px;
}
.homepage .top-section h1 {
	color: #0070b8;
	margin: 20px 0;
}
.homepage .top-section img h1 + p {
	margin: 20px;
}

.homepage .section-title {
	padding-top: 10px;
	clear: left;
}
.homepage .section-title h3{
	margin-bottom: 4px;
}
.homepage .section-title h3.wizard-ico{
	position: relative;
	line-height: 50px;
	padding-left: 44px;
}
.homepage .section-title h3.wizard-ico::before {
	content: '';
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2739px%27%20height%3D%2740px%27%20viewBox%3D%270%200%2069%2070%27%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%3E%3Ctitle%3EWizard%20Wand%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cg%20id%3D%27LPQ-APM-Icons%27%20stroke%3D%27none%27%20stroke-width%3D%271%27%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Cg%20id%3D%27Wizard-Wand%27%20fill%3D%27%230070b8%27%3E%3Cpath%20d%3D%27M24.9302083%2C37.8247917%20L1.71208333%2C61.0414583%20C-0.27125%2C63.0233333%20-0.27125%2C66.255%201.71208333%2C68.236875%20C2.67458333%2C69.199375%203.95354167%2C69.7258333%205.31270833%2C69.7258333%20C6.67041667%2C69.7258333%207.94645833%2C69.199375%208.9075%2C68.236875%20L32.2495833%2C44.8933333%20C33.0822917%2C43.54875%2033.7735417%2C41.251875%2031.2754167%2C38.75375%20C28.6766667%2C36.1535417%2026.2645833%2C36.9775%2024.9302083%2C37.8247917%27%20id%3D%27Fill-16%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M52.3527083%2C28.6504167%20C51.5958333%2C27.7535417%2051.3377083%2C26.1391667%2051.7854167%2C25.0527083%20L55.7535417%2C15.4291667%20C56.2027083%2C14.3470833%2055.6864583%2C13.8264583%2054.6%2C14.2697917%20L44.9720833%2C18.2466667%20C43.8870833%2C18.6885417%2042.27125%2C18.4347917%2041.3802083%2C17.679375%20L33.4541667%2C10.92%20C32.5602083%2C10.1660417%2031.9025%2C10.4970833%2031.994375%2C11.6666667%20L32.795%2C22.0485417%20C32.8883333%2C23.21375%2032.143125%2C24.6764583%2031.1427083%2C25.2875%20L22.273125%2C30.743125%20C21.2741667%2C31.3541667%2021.3908333%2C32.0847917%2022.5297917%2C32.3604167%20L32.650625%2C34.803125%20C33.788125%2C35.0802083%2034.9475%2C36.2366667%2035.2260417%2C37.3741667%20L37.6702083%2C47.499375%20C37.9458333%2C48.6383333%2038.6735417%2C48.7520833%2039.283125%2C47.7545833%20L44.7358333%2C38.880625%20C45.355625%2C37.883125%2046.8125%2C37.1452083%2047.97625%2C37.2327083%20L58.3639583%2C38.0333333%20C59.5291667%2C38.1266667%2059.863125%2C37.4660417%2059.101875%2C36.5779167%20L52.3527083%2C28.6504167%27%20id%3D%27Fill-17%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M24.4854167%2C22.3504167%20C26.0633333%2C22.3504167%2027.3466667%2C21.065625%2027.3466667%2C19.4847917%20C27.3466667%2C17.9097917%2026.0633333%2C16.625%2024.4854167%2C16.625%20C22.9060417%2C16.625%2021.62125%2C17.9097917%2021.62125%2C19.4847917%20C21.62125%2C21.065625%2022.9060417%2C22.3504167%2024.4854167%2C22.3504167%27%20id%3D%27Fill-18%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M10.5670833%2C15.3270833%20C11.6433333%2C15.3270833%2012.52125%2C14.455%2012.52125%2C13.37875%20C12.52125%2C12.3010417%2011.6433333%2C11.4275%2010.5670833%2C11.4275%20C9.49375%2C11.4275%208.614375%2C12.3010417%208.614375%2C13.37875%20C8.614375%2C14.455%209.49375%2C15.3270833%2010.5670833%2C15.3270833%27%20id%3D%27Fill-19%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M47.1902083%2C11.1620833%20C49.6635417%2C11.1620833%2051.66875%2C9.15979167%2051.66875%2C6.68354167%20C51.66875%2C4.20729167%2049.6635417%2C2.20354167%2047.1902083%2C2.20354167%20C44.716875%2C2.20354167%2042.7102083%2C4.20729167%2042.7102083%2C6.68354167%20C42.7102083%2C9.15979167%2044.716875%2C11.1620833%2047.1902083%2C11.1620833%27%20id%3D%27Fill-20%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M65.7154167%2C21.564375%20C63.9202083%2C21.564375%2062.4647917%2C23.016875%2062.4647917%2C24.8179167%20C62.4647917%2C26.6102083%2063.9202083%2C28.0641667%2065.7154167%2C28.0641667%20C67.510625%2C28.0641667%2068.9675%2C26.6102083%2068.9675%2C24.8179167%20C68.9675%2C23.016875%2067.510625%2C21.564375%2065.7154167%2C21.564375%27%20id%3D%27Fill-21%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M65.1816667%2C13.2766667%20C65.1816667%2C11.935%2064.0879167%2C10.8427083%2062.74625%2C10.8427083%20C61.403125%2C10.8427083%2060.31375%2C11.935%2060.31375%2C13.2766667%20C60.31375%2C14.616875%2061.403125%2C15.7135417%2062.74625%2C15.7135417%20C64.0879167%2C15.7135417%2065.1816667%2C14.616875%2065.1816667%2C13.2766667%27%20id%3D%27Fill-22%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M58.0708333%2C0.274166667%20C56.8954167%2C0.274166667%2055.9402083%2C1.225%2055.9402083%2C2.40333333%20C55.9402083%2C3.58020833%2056.8954167%2C4.53833333%2058.0708333%2C4.53833333%20C59.24625%2C4.53833333%2060.2029167%2C3.58020833%2060.2029167%2C2.40333333%20C60.2029167%2C1.225%2059.24625%2C0.274166667%2058.0708333%2C0.274166667%27%20id%3D%27Fill-23%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M65.33625%2C7.75104167%20C66.08875%2C7.75104167%2066.70125%2C7.135625%2066.70125%2C6.38020833%20C66.70125%2C5.62770833%2066.08875%2C5.01666667%2065.33625%2C5.01666667%20C64.579375%2C5.01666667%2063.9697917%2C5.62770833%2063.9697917%2C6.38020833%20C63.9697917%2C7.135625%2064.579375%2C7.75104167%2065.33625%2C7.75104167%27%20id%3D%27Fill-24%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M35.2479167%2C6.033125%20C36.6639583%2C6.033125%2037.8145833%2C4.87666667%2037.8145833%2C3.45916667%20C37.8145833%2C2.04020833%2036.6639583%2C0.891041667%2035.2479167%2C0.891041667%20C33.8275%2C0.891041667%2032.6739583%2C2.04020833%2032.6739583%2C3.45916667%20C32.6739583%2C4.87666667%2033.8275%2C6.033125%2035.2479167%2C6.033125%27%20id%3D%27Fill-25%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M24.8339583%2C13.37875%20C25.956875%2C13.37875%2026.866875%2C12.46%2026.866875%2C11.3414583%20C26.866875%2C10.2170833%2025.956875%2C9.305625%2024.8339583%2C9.305625%20C23.7125%2C9.305625%2022.798125%2C10.2170833%2022.798125%2C11.3414583%20C22.798125%2C12.46%2023.7125%2C13.37875%2024.8339583%2C13.37875%27%20id%3D%27Fill-26%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M15.9541667%2C19.6802083%20C16.708125%2C19.6802083%2017.3177083%2C19.06625%2017.3177083%2C18.3108333%20C17.3177083%2C17.556875%2016.708125%2C16.9472917%2015.9541667%2C16.9472917%20C15.19875%2C16.9472917%2014.58625%2C17.556875%2014.58625%2C18.3108333%20C14.58625%2C19.06625%2015.19875%2C19.6802083%2015.9541667%2C19.6802083%27%20id%3D%27Fill-27%27%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	position: absolute;
	top: 0;
	left: 0;
	width: 39px;
	height: 40px;
}

.homepage h3.video-ico{
	position: relative;
	line-height: 50px;
	padding-left: 60px;
}
.homepage h3.howto-ico{
	position: relative;
	line-height: 50px;
	padding-left: 50px;
}
.homepage h3.info-ico{
	position: relative;
	line-height: 50px;
	padding-left: 40px;
}
.homepage h3.video-ico::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 46px;
	height: 40px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2760px%27%20height%3D%2744px%27%20viewBox%3D%270%200%2078%2057%27%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%3E%3Ctitle%3EVideo%20Player%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cg%20id%3D%27LPQ-APM-Icons%27%20stroke%3D%27none%27%20stroke-width%3D%271%27%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Cg%20id%3D%27Video-Player%27%20fill%3D%27%230070b8%27%3E%3Cpath%20d%3D%27M22.8544444%2C14.0333333%20C22.5566667%2C13.8922222%2022.3133333%2C14.0488889%2022.3133333%2C14.3755556%20L22.3133333%2C29.8144444%20C22.3133333%2C30.1422222%2022.5566667%2C30.2988889%2022.8544444%2C30.1577778%20L39.3633333%2C22.3488889%20C39.6611111%2C22.21%2039.6611111%2C21.9777778%2039.3633333%2C21.8388889%20L22.8544444%2C14.0333333%27%20id%3D%27Fill-116%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M56.1%2C7.07111111%20C56.1%2C7.39888889%2055.83%2C7.66777778%2055.5022222%2C7.66777778%20L51.2088889%2C7.66777778%20C50.8822222%2C7.66777778%2050.6111111%2C7.39888889%2050.6111111%2C7.07111111%20L50.6111111%2C4.30666667%20C50.6111111%2C3.97888889%2050.8822222%2C3.70777778%2051.2088889%2C3.70777778%20L55.5022222%2C3.70777778%20C55.83%2C3.70777778%2056.1%2C3.97888889%2056.1%2C4.30666667%20L56.1%2C7.07111111%20Z%20M56.1%2C15.3522222%20C56.1%2C15.68%2055.83%2C15.9488889%2055.5022222%2C15.9488889%20L51.2088889%2C15.9488889%20C50.8822222%2C15.9488889%2050.6111111%2C15.68%2050.6111111%2C15.3522222%20L50.6111111%2C12.5855556%20C50.6111111%2C12.2577778%2050.8822222%2C11.9888889%2051.2088889%2C11.9888889%20L55.5022222%2C11.9888889%20C55.83%2C11.9888889%2056.1%2C12.2577778%2056.1%2C12.5855556%20L56.1%2C15.3522222%20Z%20M56.1%2C23.6277778%20C56.1%2C23.9555556%2055.83%2C24.2266667%2055.5022222%2C24.2266667%20L51.2088889%2C24.2266667%20C50.8822222%2C24.2266667%2050.6111111%2C23.9555556%2050.6111111%2C23.6277778%20L50.6111111%2C20.8622222%20C50.6111111%2C20.5344444%2050.8822222%2C20.2655556%2051.2088889%2C20.2655556%20L55.5022222%2C20.2655556%20C55.83%2C20.2655556%2056.1%2C20.5344444%2056.1%2C20.8622222%20L56.1%2C23.6277778%20Z%20M56.1%2C31.9066667%20C56.1%2C32.2366667%2055.83%2C32.5055556%2055.5022222%2C32.5055556%20L51.2088889%2C32.5055556%20C50.8822222%2C32.5055556%2050.6111111%2C32.2366667%2050.6111111%2C31.9066667%20L50.6111111%2C29.1433333%20C50.6111111%2C28.8144444%2050.8822222%2C28.5444444%2051.2088889%2C28.5444444%20L55.5022222%2C28.5444444%20C55.83%2C28.5444444%2056.1%2C28.8144444%2056.1%2C29.1433333%20L56.1%2C31.9066667%20Z%20M56.1%2C40.1855556%20C56.1%2C40.5133333%2055.83%2C40.7822222%2055.5022222%2C40.7822222%20L51.2088889%2C40.7822222%20C50.8822222%2C40.7822222%2050.6111111%2C40.5133333%2050.6111111%2C40.1855556%20L50.6111111%2C37.4188889%20C50.6111111%2C37.0911111%2050.8822222%2C36.82%2051.2088889%2C36.82%20L55.5022222%2C36.82%20C55.83%2C36.82%2056.1%2C37.0911111%2056.1%2C37.4188889%20L56.1%2C40.1855556%20Z%20M46.7511111%2C35.6711111%20C46.7511111%2C36.3288889%2046.2122222%2C36.8677778%2045.5544444%2C36.8677778%20L14.4444444%2C36.8677778%20C13.7877778%2C36.8677778%2013.2488889%2C36.3288889%2013.2488889%2C35.6711111%20L13.2488889%2C8.77333333%20C13.2488889%2C8.11555556%2013.7877778%2C7.57666667%2014.4444444%2C7.57666667%20L45.5544444%2C7.57666667%20C46.2122222%2C7.57666667%2046.7511111%2C8.11555556%2046.7511111%2C8.77333333%20L46.7511111%2C35.6711111%20Z%20M9.39222222%2C7.07111111%20C9.39222222%2C7.39888889%209.12222222%2C7.66777778%208.79333333%2C7.66777778%20L4.49666667%2C7.66777778%20C4.16888889%2C7.66777778%203.89888889%2C7.39888889%203.89888889%2C7.07111111%20L3.89888889%2C4.30666667%20C3.89888889%2C3.97888889%204.16888889%2C3.70777778%204.49666667%2C3.70777778%20L8.79333333%2C3.70777778%20C9.12222222%2C3.70777778%209.39222222%2C3.97888889%209.39222222%2C4.30666667%20L9.39222222%2C7.07111111%20Z%20M9.39222222%2C15.3522222%20C9.39222222%2C15.68%209.12222222%2C15.9488889%208.79333333%2C15.9488889%20L4.49666667%2C15.9488889%20C4.16888889%2C15.9488889%203.89888889%2C15.68%203.89888889%2C15.3522222%20L3.89888889%2C12.5855556%20C3.89888889%2C12.2577778%204.16888889%2C11.9888889%204.49666667%2C11.9888889%20L8.79333333%2C11.9888889%20C9.12222222%2C11.9888889%209.39222222%2C12.2577778%209.39222222%2C12.5855556%20L9.39222222%2C15.3522222%20Z%20M9.39222222%2C23.6277778%20C9.39222222%2C23.9555556%209.12222222%2C24.2266667%208.79333333%2C24.2266667%20L4.49666667%2C24.2266667%20C4.16888889%2C24.2266667%203.89888889%2C23.9555556%203.89888889%2C23.6277778%20L3.89888889%2C20.8622222%20C3.89888889%2C20.5344444%204.16888889%2C20.2655556%204.49666667%2C20.2655556%20L8.79333333%2C20.2655556%20C9.12222222%2C20.2655556%209.39222222%2C20.5344444%209.39222222%2C20.8622222%20L9.39222222%2C23.6277778%20Z%20M9.39222222%2C31.9066667%20C9.39222222%2C32.2366667%209.12222222%2C32.5055556%208.79333333%2C32.5055556%20L4.49666667%2C32.5055556%20C4.16888889%2C32.5055556%203.89888889%2C32.2366667%203.89888889%2C31.9066667%20L3.89888889%2C29.1433333%20C3.89888889%2C28.8144444%204.16888889%2C28.5444444%204.49666667%2C28.5444444%20L8.79333333%2C28.5444444%20C9.12222222%2C28.5444444%209.39222222%2C28.8144444%209.39222222%2C29.1433333%20L9.39222222%2C31.9066667%20Z%20M9.39222222%2C40.1855556%20C9.39222222%2C40.5133333%209.12222222%2C40.7822222%208.79333333%2C40.7822222%20L4.49666667%2C40.7822222%20C4.16888889%2C40.7822222%203.89888889%2C40.5133333%203.89888889%2C40.1855556%20L3.89888889%2C37.4188889%20C3.89888889%2C37.0911111%204.16888889%2C36.82%204.49666667%2C36.82%20L8.79333333%2C36.82%20C9.12222222%2C36.82%209.39222222%2C37.0911111%209.39222222%2C37.4188889%20L9.39222222%2C40.1855556%20Z%20M56.9311111%2C0.595555556%20L3.06777778%2C0.595555556%20C1.42333333%2C0.595555556%200.0777777778%2C1.94111111%200.0777777778%2C3.58666667%20L0.0777777778%2C40.8566667%20C0.0777777778%2C42.5033333%201.42333333%2C43.8488889%203.06777778%2C43.8488889%20L56.9311111%2C43.8488889%20C58.5755556%2C43.8488889%2059.9222222%2C42.5033333%2059.9222222%2C40.8566667%20L59.9222222%2C3.58666667%20C59.9222222%2C1.94111111%2058.5755556%2C0.595555556%2056.9311111%2C0.595555556%20Z%27%20id%3D%27Fill-117%27%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.homepage h3.howto-ico::before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 39px;
	height: 40px;
	background-image: url("data:image/svg xml;charset=UTF-8,%3Csvg%20width%3D%2767px%27%20height%3D%2760px%27%20viewBox%3D%270%200%20113%20101%27%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%3E%3Ctitle%3EPoint%20in%20Book%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cg%20id%3D%27LPQ-APM-Icons%27%20stroke%3D%27none%27%20stroke-width%3D%271%27%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Cg%20id%3D%27Point-in-Book%27%20fill%3D%27%230070b8%27%3E%3Cpath%20d%3D%27M66.18863%2C58.8413272%20L64.3015408%2C52.2829709%20C64.5352016%2C51.5045575%2064.7354823%2C50.7619333%2064.857876%2C50.1468078%20L57.5298278%2C24.5217975%20C57.3273217%2C23.794831%2056.5862831%2C23.3586511%2055.8563712%2C23.5510176%20C54.6680391%2C23.8552251%2051.7350395%2C23.4100979%2048.8999549%2C22.9694444%20C43.9040641%2C22.1955047%2037.868939%2C20.9898587%2033.863325%2C22.6540528%20C33.3381445%2C22.8822084%2033.1156104%2C23.0768118%2033.1156104%2C23.0768118%20C33.1156104%2C23.0768118%2032.8953016%2C22.8822084%2032.3678958%2C22.6540528%20C31.769279%2C22.4057657%2031.110578%2C22.2380042%2030.425173%2C22.103795%20C30.2115402%2C22.4572126%2029.9200206%2C22.7904988%2029.4415722%2C23.0678645%20C28.9030397%2C23.3787825%2028.2910709%2C23.5375967%2027.6256939%2C23.5375967%20C26.817895%2C23.5375967%2026.0390256%2C23.3116779%2025.3536206%2C22.9761549%20L25.3536206%2C24.0162762%20C28.3956619%2C23.7322%2031.1662116%2C23.8977247%2032.7462038%2C25.4277096%20C32.8552455%2C25.535077%2033.0132447%2C25.6827071%2033.1156104%2C25.7788904%20C33.2202014%2C25.6827071%2033.3782006%2C25.535077%2033.4872424%2C25.4277096%20C36.3712844%2C22.6316846%2043.1852789%2C24.3361414%2048.4793654%2C25.1570544%20C51.2076336%2C25.5798134%2053.5041857%2C25.9533623%2055.1932196%2C25.8661263%20L61.406372%2C49.0105032%20C59.5103813%2C48.9769509%2056.6196632%2C48.5810337%2053.6087767%2C48.1157752%20C46.5344173%2C47.0219702%2038.0736704%2C46.154084%2033.1156104%2C49.2476061%20C28.1597757%2C46.154084%2019.6990288%2C47.0219702%2012.6268948%2C48.1157752%20C9.61378289%2C48.5810337%206.72306478%2C48.9769509%204.82929949%2C49.0105032%20L11.0402265%2C25.8661263%20C11.3228449%2C25.8773104%2011.6477447%2C25.8661263%2011.9615178%2C25.8571791%20C11.8702788%2C25.7475749%2011.7656877%2C25.6513916%2011.6878008%2C25.5328401%20C10.5617782%2C25.4992878%209.60710686%2C24.9311356%208.96620862%2C24.0207498%20C8.85049088%2C24.1661431%208.7592519%2C24.3316678%208.70361837%2C24.5217975%20L1.37557008%2C50.1468078%20C1.4957385%2C50.7619333%201.70046988%2C51.5045575%201.92968002%2C52.2829709%20L0.0448160947%2C58.8413272%20C-0.137661877%2C59.4810578%200.253998159%2C60%200.912699129%2C60%20L65.3229723%2C60%20C65.9838986%2C60%2066.371108%2C59.4810578%2066.18863%2C58.8413272%20Z%20M60.2291665%2C56.1012227%20L37.0566895%2C56.1012227%20C36.061962%2C55.4458344%2034.6688985%2C54.8799189%2033.1156104%2C54.8799189%20C31.5645476%2C54.8799189%2030.1714841%2C55.4458344%2029.1767566%2C56.1012227%20L6.0042796%2C56.1012227%20C5.57256342%2C55.2937307%204.89160904%2C53.7145357%204.63346947%2C51.7729759%20C6.77424762%2C51.822186%209.64048698%2C51.3792956%2013.0430335%2C50.8491693%20C19.9972245%2C49.7754956%2028.6515761%2C48.42893%2032.4724868%2C51.5067943%20C32.5147683%2C51.5448203%2033.1156104%2C51.983237%2033.1156104%2C51.983237%20C33.1156104%2C51.983237%2033.7186778%2C51.5448203%2033.7631847%2C51.5067943%20C37.5840953%2C48.42893%2046.2362216%2C49.7754956%2053.1881872%2C50.8491693%20C56.5929591%2C51.3792956%2059.4591985%2C51.822186%2061.5999767%2C51.7729759%20C61.3462878%2C53.7145357%2060.6608827%2C55.2937307%2060.2291665%2C56.1012227%20Z%27%20id%3D%27Fill-44%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M30.0448574%2C17.359143%20C29.701062%2C16.7487165%2029.3461043%2C15.7022711%2029.0067737%2C14.6916016%20C28.4598264%2C13.0772136%2027.8950195%2C11.4091618%2026.9797199%2C10.0653291%20C26.4193779%2C9.24248312%2025.7206248%2C8.50013296%2024.8901578%2C7.85393056%20C24.702633%2C7.49840744%2024.4838541%2C7.14512031%2024.2293561%2C6.80748515%20C24.0619233%2C5.5329683%2023.892258%2C4.25621546%2023.7225927%2C2.98393461%20C23.5797167%2C1.91065727%2022.6220007%2C0.792660038%2021.5816845%2C0.586948547%20C17.7039395%2C-0.195649516%2013.7078753%2C-0.195649516%209.83013032%2C0.586948547%20C8.78758172%2C0.794896032%207.83209821%2C1.90842128%207.68922217%2C2.98393461%20C7.44588642%2C4.80403411%207.2047831%2C6.6263696%206.96591222%2C8.45317707%20C6.96144735%2C8.49118898%206.97484198%2C8.52025691%206.97260954%2C8.55603282%20C6.5194246%2C9.61813019%206.25822934%2C10.7294194%206.06177479%2C11.5701534%20C5.33399996%2C14.7005456%205.42552993%2C20.5387272%205.51259501%2C21.7484002%20C5.71351444%2C24.4002896%207.42579447%2C26.3858527%209.68278941%2C26.7078359%20C10.5690673%2C27.7945292%2011.8817409%2C28.5189914%2013.3618474%2C28.6240831%20C13.971303%2C29.3015895%2014.7571212%2C29.8158682%2015.6433992%2C30.0976035%20L15.6433992%2C32.4722296%20C15.6433992%2C35.1911989%2017.8512805%2C37.4025974%2020.5681576%2C37.4025974%20C23.2805699%2C37.4025974%2025.4906837%2C35.1911989%2025.4906837%2C32.4722296%20L25.4906837%2C23.7205473%20C25.9349389%2C23.825639%2026.3948211%2C23.9262588%2026.8614007%2C23.9262588%20C27.7365164%2C23.9262588%2030.0314628%2C23.5327237%2030.348469%2C23.1660206%20C31.3017201%2C22.0681474%2031.683467%2C20.2748798%2030.0448574%2C17.359143%20Z%20M27.805722%2C21.5337447%20C27.5244348%2C21.6947363%2027.2029637%2C21.7685241%2026.8614007%2C21.7685241%20C25.8545711%2C21.7685241%2024.6847735%2C21.1491536%2023.9391392%2C20.4000955%20C23.657852%2C20.1228322%2023.1622507%2C19.4632138%2022.5885141%2C18.6403679%20L22.5885141%2C32.4722296%20C22.5885141%2C33.5902268%2021.6821443%2C34.4958046%2020.5681576%2C34.4958046%20C19.4497061%2C34.4958046%2018.5455687%2C33.5902268%2018.5455687%2C32.4722296%20L18.5455687%2C27.0119311%20C18.1682867%2C27.2735425%2017.7128693%2C27.4345341%2017.2195005%2C27.4345341%20C16.029611%2C27.4345341%2015.0607328%2C26.5334283%2014.9357163%2C25.3751832%20C14.5829911%2C25.5965466%2014.1677576%2C25.7284703%2013.7235024%2C25.7284703%20C12.4487802%2C25.7284703%2011.4151614%2C24.6887329%2011.4151614%2C23.414216%20L11.4151614%2C23.41198%20C11.1338742%2C23.6802994%2010.7766841%2C23.845763%2010.3324289%2C23.845763%20C9.21620984%2C23.845763%208.50629452%2C22.8350935%208.40806724%2C21.5337447%20C8.32100216%2C20.3509036%208.2763534%2C14.8593012%208.89027388%2C12.2297717%20C9.14030694%2C11.1587304%209.37917782%2C10.3247044%209.63814064%2C9.69191801%20C13.9534435%2C8.79304823%2018.4138549%2C8.82658815%2022.7046009%2C9.86408958%20C23.3720999%2C10.3224684%2024.0529935%2C10.923951%2024.5798489%2C11.702077%20C25.8367116%2C13.5490085%2026.4595618%2C16.9074721%2027.515505%2C18.7857075%20C28.183004%2C19.9730206%2028.7210216%2C21.003814%2027.805722%2C21.5337447%20Z%27%20id%3D%27Fill-45%27%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.homepage h3.info-ico::before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 39px;
	height: 40px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2755px%27%20height%3D%2760px%27%20viewBox%3D%270%200%2093%20101%27%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%3E%3Ctitle%3EBooks%20stacked%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cg%20id%3D%27LPQ-APM-Icons%27%20stroke%3D%27none%27%20stroke-width%3D%271%27%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Cg%20id%3D%27Books-stacked%27%20fill%3D%27%230070b8%27%3E%3Cpath%20d%3D%27M28.1198068%2C0.654124331%20C28.0554642%2C-0.320027498%2024.5579841%2C-0.144771211%2024.560282%2C0.774755281%20C24.560282%2C0.813448228%2024.560282%2C0.85441723%2024.5648779%2C0.895386232%20C24.5694738%2C0.968220014%2024.9417417%2C6.44668602%2025.1301737%2C10.6369045%20C24.6889672%2C11.3857268%2022.8138399%2C12.0844759%2019.998851%2C12.0844759%20C17.1861601%2C12.0844759%2015.3110328%2C11.3857268%2014.8675284%2C10.6369045%20C15.0559603%2C6.44896208%2015.4305262%2C0.968220014%2015.4351221%2C0.895386232%20C15.43742%2C0.85441723%2015.439718%2C0.813448228%2015.439718%2C0.774755281%20C15.439718%2C-0.144771211%2011.9445358%2C-0.320027498%2011.8778953%2C0.654124331%20C11.8595117%2C0.934079179%2011.2551508%2C10.7279467%2011.2873221%2C10.941896%20C11.2344693%2C12.2005548%2011.2%2C13.3363066%2011.2%2C14.1534105%20L11.2%2C55.0564071%20C11.2%2C55.3067732%2011.2505549%2C55.5412069%2011.3447709%2C55.7551562%20C12.0318579%2C58.365792%2015.2673717%2C60%2019.998851%2C60%20C24.7303303%2C60%2027.9681421%2C58.365792%2028.6552291%2C55.7551562%20C28.7471471%2C55.5412069%2028.8%2C55.3067732%2028.8%2C55.0564071%20L28.8%2C14.1534105%20C28.8%2C13.3363066%2028.7655307%2C12.2005548%2028.7126779%2C10.941896%20C28.7448492%2C10.7279467%2028.1404883%2C0.934079179%2028.1198068%2C0.654124331%20Z%20M19.998851%2C56.4698376%20C16.866745%2C56.4698376%2014.7641206%2C55.5503112%2014.7641206%2C54.6876861%20L14.7641206%2C14.7383568%20C16.1727641%2C15.3005426%2017.9421857%2C15.6146383%2019.998851%2C15.6146383%20C22.0578143%2C15.6146383%2023.8272359%2C15.3005426%2025.2335814%2C14.7383568%20L25.2335814%2C54.6876861%20C25.2335814%2C55.545759%2023.2320668%2C56.4698376%2019.998851%2C56.4698376%20Z%27%20id%3D%27Fill-1%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M10.7832386%2C11.0350779%20L8.99222047%2C17.1559783%20C8.98994761%2C17.1628224%208.99222047%2C17.1719479%208.98994761%2C17.1833547%20C8.98767474%2C17.1879174%208.98540187%2C17.1924802%208.98312901%2C17.1993243%20C8.92630737%2C17.4114911%208.03761693%2C18.0411477%205.82384585%2C18.0411477%20C4.67377586%2C18.0411477%203.97600613%2C17.8791708%203.62371196%2C17.7445703%20L5.5101904%2C11.1856479%20C5.7806614%2C10.2457258%202.16680512%2C10.1681595%201.89406125%2C11.1103629%20L0.121226095%2C17.1559783%20C0.116680364%2C17.1673852%200.11895323%2C17.1833547%200.114407498%2C17.1970429%20C-0.01514584%2C17.6761294%20-0.0333287646%2C18.1529345%200.0530401276%2C18.6023633%20L0.0530401276%2C56.6327063%20C0.0530401276%2C56.80609%200.105316036%2C56.9612227%200.150773348%2C57.1209182%20C0.621256524%2C59.2699634%203.1191358%2C60%206.24887171%2C60%20C9.38088049%2C60%2011.8833055%2C59.2699634%2012.3537887%2C57.1209182%20C12.399246%2C56.9612227%2012.4515219%2C56.80609%2012.4515219%2C56.6327063%20L12.4515219%2C17.8997031%20L14.3857305%2C11.1856479%20C14.6539286%2C10.2457258%2011.0559824%2C10.0928744%2010.7832386%2C11.0350779%20Z%20M8.9240345%2C45.3924243%20C8.84221134%2C45.6547812%207.90124499%2C46.3437533%206.24887171%2C46.3437533%20C4.5987713%2C46.3437533%203.65553208%2C45.6502185%203.58052751%2C45.4106753%20L3.58052751%2C32.9042361%20C4.3873948%2C33.1802812%205.2851767%2C33.3422581%206.24887171%2C33.3422581%20C7.21711245%2C33.3422581%208.11716722%2C33.1802812%208.9240345%2C32.9042361%20L8.9240345%2C45.3924243%20Z%27%20id%3D%27Fill-2%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M22.4%2C53.2860102%20C21.1001713%2C53.7046633%2019.6998287%2C53.7046633%2018.4%2C53.2860102%20C18.4%2C48.8573402%2018.4%2C44.4286701%2018.4%2C40%20C19.6998287%2C40.418653%2021.1001713%2C40.418653%2022.4%2C40%20C22.4%2C44.4286701%2022.4%2C48.8573402%2022.4%2C53.2860102%27%20id%3D%27Fill-3%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M22.4%2C25.2872872%20C21.1001713%2C25.7042376%2019.6998287%2C25.7042376%2018.4%2C25.2872872%20C18.4%2C23.7907736%2018.4%2C22.2942599%2018.4%2C20.8%20C19.6998287%2C21.2146966%2021.1001713%2C21.2146966%2022.4%2C20.8%20C22.4%2C22.2942599%2022.4%2C23.7907736%2022.4%2C25.2872872%27%20id%3D%27Fill-4%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M54.3412304%2C53.1177504%20L44.3504859%2C15.2607866%20C44.3138058%2C15.1299367%2044.2656632%2C15.0036779%2044.201473%2C14.884306%20L39.9121929%2C6.80145053%20C39.4536915%2C5.92911737%2035.8407009%2C6.62468829%2036.2992022%2C7.49702145%20L40.6526725%2C15.7750041%20C40.6870601%2C15.9265146%2040.6778901%2C16.036704%2040.5976524%2C16.1790321%20C40.297334%2C16.702432%2039.2290259%2C17.4622801%2037.1313822%2C18.0224098%20C33.9791854%2C18.8649%2032.2941929%2C18.300179%2032.2185402%2C18.0109317%20L29.7311704%2C8.71828789%20C29.4767021%2C7.76560824%2026.1594448%2C8.97998784%2026.4139131%2C9.92807625%20L28.7797801%2C18.9337684%20L28.7820726%2C18.9337684%20L39.0249927%2C57.2177163%20C39.0914754%2C57.463347%2039.2175633%2C57.6699522%2039.3665763%2C57.8581925%20C40.2102187%2C59.2470387%2041.9525239%2C60%2044.2954658%2C60%20C45.4669367%2C60%2046.7851281%2C59.8117597%2048.2133598%2C59.4306878%20C50.1734531%2C58.9072879%2051.7002626%2C58.1658047%2052.7548157%2C57.2360812%20C53.8483414%2C56.2604455%2054.393958%2C55.0805001%2054.3779105%2C53.8385731%20C54.4145906%2C53.6044205%2054.4077131%2C53.3587899%2054.3412304%2C53.1177504%20Z%20M41.3220845%2C35.3359275%20C39.4261814%2C35.8455537%2037.3996055%2C34.4222733%2036.7920912%2C32.1565027%20C36.1845769%2C29.8930277%2037.22996%2C27.6433264%2039.1304481%2C27.1359958%20C41.0240586%2C26.6240739%2043.0506346%2C28.04965%2043.6558564%2C30.3154206%20C44.2633707%2C32.5788956%2043.2202801%2C34.8308925%2041.3220845%2C35.3359275%20Z%27%20id%3D%27Fill-5%27%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}


.homepage .quick-link-container>a {
	float: left;
	width: 110px;
	height: 110px;
	background: #fff;
	margin: 0 5px;
	padding: 6px 0;
	border: 1px solid #0070b8;
	-ms-border-radius: 10px;
	border-radius: 14px;
	text-align: center;
}
.homepage .quick-link-container > a:hover, .homepage .quick-link-container > a:active, .homepage .quick-link-container > a:visited {
	color: #0070b8;
}

.homepage .quick-link-container > a:first-child {
	margin-left: 0px;
}
.homepage .quick-link-container>a p {
	margin: 0;
	position: relative;
	padding-top: 72px;
}
	.homepage .quick-link-container > a p.edit-ico::before {
		content: '';
		position: absolute;
		top: 16px;
		left: 36px;
		width: 40px;
		height: 40px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2740px%27%20height%3D%2740px%27%20viewBox%3D%270%200%2068%2068%27%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%3E%3Ctitle%3EPencil%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cg%20id%3D%27LPQ-APM-Icons%27%20stroke%3D%27none%27%20stroke-width%3D%271%27%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Cg%20id%3D%27Pencil%27%20transform%3D%27translate%28-1.000000%2C%20-1.000000%29%27%20fill%3D%27%230070b8%27%3E%3Cpath%20d%3D%27M49.0143182%2C32.4704545%20L37.5311364%2C20.9920455%20L35.1702273%2C11.8729545%20L8.76909091%2C38.2756818%20L1.52568182%2C67.2684091%20C1.29659091%2C68.1577273%201.84863636%2C68.7018182%202.74113636%2C68.4775%20L31.7227273%2C61.2404545%20L58.1365909%2C34.8313636%20L49.0143182%2C32.4704545%20Z%20M14.0827273%2C61.3056818%20C12.985%2C60.8872727%2011.8570455%2C60.1809091%2010.8325%2C59.1659091%20C9.84772727%2C58.1795455%209.15409091%2C57.0770455%208.72772727%2C56.0047727%20L11.1236364%2C47.3979545%20L22.5988636%2C58.8795455%20L14.0827273%2C61.3056818%20Z%27%20id%3D%27Fill-6%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M68.5268182%2C24.4315909%20L66.1738636%2C15.3125%20L54.6970455%2C3.83409091%20L45.5684091%2C1.47318182%20L38.9072727%2C8.13431818%20L41.2681818%2C17.2518182%20L52.7497727%2C28.735%20L61.8720455%2C31.0943182%20L68.5268182%2C24.4315909%20Z%20M55.0931818%2C14.9147727%20C53.0584091%2C12.8895455%2052.2406818%2C10.4220455%2053.2540909%2C9.41181818%20C54.2643182%2C8.39840909%2056.7318182%2C9.21613636%2058.7570455%2C11.2445455%20C60.7870455%2C13.2713636%2061.6047727%2C15.7356818%2060.5913636%2C16.7475%20C59.5779545%2C17.7609091%2057.1168182%2C16.9368182%2055.0931818%2C14.9147727%20Z%27%20id%3D%27Fill-7%27%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	}
	.homepage .quick-link-container > a p.eyeball-ico::before {
		content: '';
		position: absolute;
		top: 20px;
		left: 14px;
		width: 80px;
		height: 40px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2780px%27%20height%3D%2740px%27%20viewBox%3D%270%200%2080%2048%27%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%3E%3Ctitle%3EEyeball%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cg%20id%3D%27LPQ-APM-Icons%27%20stroke%3D%27none%27%20stroke-width%3D%271%27%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Cg%20id%3D%27Eyeball%27%20transform%3D%27translate%280.000000%2C%20-1.000000%29%27%20fill%3D%27%230070b8%27%3E%3Cpath%20d%3D%27M40.1046154%2C14.3476923%20C34.4384615%2C14.3476923%2029.8430769%2C18.9430769%2029.8430769%2C24.6184615%20C29.8430769%2C30.2923077%2034.4384615%2C34.8830769%2040.1046154%2C34.8830769%20C45.7692308%2C34.8830769%2050.3630769%2C30.2923077%2050.3630769%2C24.6184615%20C50.3630769%2C18.9430769%2045.7692308%2C14.3476923%2040.1046154%2C14.3476923%20Z%20M38.9123077%2C23.1153846%20C37.1123077%2C24.9123077%2034.6461538%2C25.3692308%2033.4076923%2C24.1307692%20C32.1661538%2C22.8846154%2032.6230769%2C20.42%2034.4230769%2C18.62%20C36.2261538%2C16.8153846%2038.6892308%2C16.3615385%2039.9276923%2C17.6%20C41.1661538%2C18.8430769%2040.7092308%2C21.3107692%2038.9123077%2C23.1153846%20Z%20M46.1476923%2C30.3569231%20C45.1707692%2C31.3369231%2043.8738462%2C31.6261538%2043.2538462%2C31.0061538%20C42.6353846%2C30.3907692%2042.9261538%2C29.0953846%2043.9030769%2C28.1123077%20C44.8830769%2C27.1307692%2046.1815385%2C26.8415385%2046.7969231%2C27.4646154%20C47.4153846%2C28.08%2047.1276923%2C29.3784615%2046.1476923%2C30.3569231%20Z%27%20id%3D%27Fill-42%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M40.1076923%2C1.06615385%20C24.1523077%2C1.06615385%209.92615385%2C10.2076923%200.856923077%2C24.6061538%20C9.92615385%2C39.0076923%2024.1523077%2C48.1646154%2040.1076923%2C48.1646154%20C56.0523077%2C48.1646154%2070.2830769%2C39.0076923%2079.3538462%2C24.6061538%20C70.2830769%2C10.2076923%2056.0523077%2C1.06615385%2040.1076923%2C1.06615385%20Z%20M40.1046154%2C41.9569231%20C30.5492308%2C41.9569231%2022.78%2C34.1769231%2022.78%2C24.6153846%20C22.78%2C15.0538462%2030.5492308%2C7.27230769%2040.1046154%2C7.27230769%20C49.66%2C7.27230769%2057.4307692%2C15.0538462%2057.4307692%2C24.6153846%20C57.4307692%2C34.1769231%2049.66%2C41.9569231%2040.1046154%2C41.9569231%20Z%27%20id%3D%27Fill-43%27%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	}
	.homepage .quick-link-container > a p.megaphone-ico::before {
		content: '';
		position: absolute;
		top: 14px;
		left: 28px;
		width: 60px;
		height: 50px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2763px%27%20height%3D%2752px%27%20viewBox%3D%270%200%2080%2065%27%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%3E%3Ctitle%3EMegaphone%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cg%20id%3D%27LPQ-APM-Icons%27%20stroke%3D%27none%27%20stroke-width%3D%271%27%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Cg%20id%3D%27Megaphone%27%20fill%3D%27%230070b8%27%3E%3Cpath%20d%3D%27M14.5314815%2C37.5238889%20C13.777037%2C37.8635185%2012.9512963%2C37.5044444%2012.6946296%2C36.7214815%20C12.4405556%2C35.945%2012.8009259%2C34.9442593%2013.497037%2C34.4957407%20L48.1885185%2C12.2694444%20L51.1142593%2C21.1737037%20L14.5314815%2C37.5238889%20Z%20M34.5981481%2C50.9275926%20C34.5981481%2C51.485%2034.1275926%2C51.9555556%2033.5701852%2C51.9555556%20L23.2918519%2C51.9555556%20C22.7344444%2C51.9555556%2022.2625926%2C51.485%2022.2625926%2C50.9275926%20L22.2625926%2C47.4768519%20L34.5981481%2C47.4872222%20L34.5981481%2C50.9275926%20Z%20M69.7264815%2C45.4792593%20L55.5125926%2C2.24777778%20C54.8553704%2C0.257962963%2052.885%2C-0.438148148%2051.1272222%2C0.711666667%20L48.7705556%2C2.24777778%20C47.4042593%2C3.14222222%2046.5655556%2C4.89351852%2046.5655556%2C6.56444444%20L10.3509259%2C33.3135185%20C7.68574074%2C33.4651852%203.70092593%2C33.7387037%201.00592593%2C34.007037%20C0.092037037%2C34.1016667%20-0.176296296%2C34.7083333%200.378518519%2C35.3875926%20C4.02759259%2C39.9518519%205.9137037%2C45.6814815%205.68425926%2C51.5225926%20C5.63888889%2C52.3988889%206.21703704%2C52.7281481%207.00777778%2C52.2614815%20C9.31%2C50.8951852%2012.4483333%2C48.907963%2014.6572222%2C47.4690741%20L17.3366667%2C47.4716667%20L17.3366667%2C50.9275926%20C17.3366667%2C54.2111111%2020.0083333%2C56.8801852%2023.2918519%2C56.8801852%20L33.5701852%2C56.8801852%20C36.855%2C56.8801852%2039.5253704%2C54.2111111%2039.5253704%2C50.9275926%20L39.5253704%2C47.4898148%20L60.1014815%2C47.5040741%20C61.1138889%2C48.7472222%2062.7472222%2C49.5677778%2064.2988889%2C49.4822222%20L67.1092593%2C49.3201852%20C69.2066667%2C49.2009259%2070.3811111%2C47.4716667%2069.7264815%2C45.4792593%20Z%27%20id%3D%27Fill-75%27%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	}
	.homepage .quick-link-container > a p.paintroller-ico::before {
		content: '';
		position: absolute;
		top: 14px;
		left: 30px;
		width: 71px;
		height: 71px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2770px%27%20height%3D%2771px%27%20viewBox%3D%270%200%20100%20102%27%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%3E%3Ctitle%3EPaint%20Roller%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cg%20id%3D%27LPQ-APM-Icons%27%20stroke%3D%27none%27%20stroke-width%3D%271%27%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Cg%20id%3D%27Paint-Roller%27%20transform%3D%27translate%280.000000%2C%20-1.000000%29%27%20fill%3D%27%230070b8%27%3E%3Cpath%20d%3D%27M68.4045833%2C32.7629167%20L37.8247917%2C2.18604167%20C36.4%2C0.756875%2034.0622917%2C0.756875%2032.6345833%2C2.18604167%20L18.2627083%2C16.559375%20C16.8335417%2C17.9827083%2016.8335417%2C20.3233333%2018.2627083%2C21.748125%20L48.8425%2C52.3308333%20C50.2629167%2C53.755625%2052.6079167%2C53.755625%2054.0283333%2C52.3279167%20L68.4104167%2C37.9516667%20C69.8308333%2C36.5239583%2069.8308333%2C34.1935417%2068.4045833%2C32.7629167%27%20id%3D%27Fill-9%27%3E%3C%2Fpath%3E%3Cpath%20d%3D%27M60.5747917%2C50.9177083%20L52.285625%2C59.2054167%20C52.075625%2C59.4125%2051.813125%2C59.513125%2051.5170833%2C59.5189583%20C51.2283333%2C59.513125%2050.964375%2C59.408125%2050.7616667%2C59.2141667%20L34.37875%2C42.826875%20C33.1625%2C41.601875%2031.5379167%2C40.99375%2029.946875%2C40.99375%20C28.3602083%2C40.99375%2026.7327083%2C41.601875%2025.5179167%2C42.8327083%20L25.0279167%2C43.3241667%20L24.6852083%2C42.984375%20C23.68625%2C41.986875%2021.98875%2C41.9227083%2020.9197917%2C42.8429167%20L1.36791667%2C59.6020833%20C0.296041667%2C60.52375%200.239166667%2C62.0914583%201.238125%2C63.091875%20L9.23416667%2C71.089375%20C10.2302083%2C72.086875%2011.799375%2C72.0314583%2012.7225%2C70.958125%20L29.4816667%2C51.4047917%20C30.4047917%2C50.334375%2030.3391667%2C48.6383333%2029.343125%2C47.6422917%20L28.686875%2C46.9860417%20L29.1885417%2C46.48875%20C29.3941667%2C46.2772917%2029.65375%2C46.1810417%2029.9439583%2C46.1752083%20C30.24%2C46.1810417%2030.5097917%2C46.2772917%2030.7139583%2C46.48875%20L47.0954167%2C62.86875%20C48.3102083%2C64.0835417%2049.9275%2C64.6960417%2051.5170833%2C64.6960417%20C51.5258333%2C64.6960417%2051.52875%2C64.701875%2051.52875%2C64.6960417%20C53.1139583%2C64.6960417%2054.7327083%2C64.0879167%2055.9489583%2C62.86875%20L64.2454167%2C54.5708333%20C65.45875%2C53.3502083%2066.0741667%2C51.7372917%2066.0741667%2C50.1491667%20C66.0770833%2C48.899375%2065.6833333%2C47.639375%2064.9322917%2C46.563125%20L60.5747917%2C50.9177083%27%20id%3D%27Fill-10%27%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	}
/*.homepage .quick-link-container > a p:first-child {
	font-weight: bold;
}*/
.homepage .faq-container {
	width: 860px;
}
.homepage .faq-container>div {
	/*background: #fff;*/
	margin-bottom: 6px;
	padding: 10px 14px;
	position: relative;
}
.homepage .faq-container>div>a {
	display: block;
	margin: 12px 0;
}
.homepage .faq-container>div>a:hover, .homepage .faq-container>div>a:visited, .homepage .faq-container>div>a:active{
	color: #0070b8;
}
.homepage .faq-container label.question-line {
	margin: 2px 22px 4px 0;
	display: block;
	cursor: pointer;
}
.homepage .faq-container label.question-line>input[type="checkbox"] {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	outline: none !important;
	opacity: 0;
}
.homepage .faq-container label.question-line>span:last-child:after {
	content: '\f078';
	font-family: FontAwesome;
	float: right;
	color: #0070b8;
	position: absolute;
	right: 12px;
	top: 12px;
}

.homepage .faq-container label.question-line input[type="checkbox"]:checked+span:after {
	content: '\f054';
}

.homepage .faq-container label.question-line>span:first-child {
	font-weight: bold;
	color: #0070b8;
	font-size: 15px;
	line-height: 20px;
	display: inline;
	width: calc(100% - 20px);
}
.homepage .faq-container label.question-line+p {
	margin: 0;
}
.homepage .faq-container label.question-line.collapsed-question + p {
	display: none;
}
.homepage .quick-access-panel {
	margin: 10px 0;
}
.homepage .quick-access-panel > a {
	float: left;
	width: 100px;
	height: 100px;
	background-color: #fff;
	border: 2px solid #36a6ef;
	text-align: center;
	margin-left: 10px;
	padding: 8px;
	cursor: pointer;
}
.homepage .quick-access-panel > a img {
	width: 60px;
}
.homepage .quick-access-panel > a img+p {
	color: #0070b8;
	text-transform: uppercase;
}
.design-panel .table > thead > tr > th:first-child,.design-panel .table > tbody > tr > td:first-child {
	text-align: left;
}
.design-panel .table > tbody > tr.no-row > td {
	text-align: center;
}
.dialog-content {
	margin:10px 20px;
}
.dialog-content .option-item {
	border: 1px solid #ccc;
	padding: 8px;
	margin: 8px 0;
	border-radius: 4px;
	height: 40px;
}
div.btn-rename {
	text-align: right;
	height: 17px;
}
div.btn-rename>div {
	float: right;
	background: #ff8c00;
	border-radius: 6px 6px 0 0;
	padding: 4px 0;
	margin-right: 4px;
}
div.btn-rename > div img {
	margin: 0 5px;
	cursor: pointer;
}
.renameable-item span.separator {
	margin: 0 4px;
}
.btn {
	outline: none!important;
}
.tab-pane .checkbox-btn-wrapper:first-of-type {
	border-top-color: #efefef;
}
.tab-pane .checkbox-btn-wrapper {
	border-bottom-color: #efefef;
	display: flex;
	min-height: 100%;
	align-items: center;
}
.checkbox-group {
	margin-bottom: 30px;
	margin-top: 20px
}
.checkbox-group p {
	margin-bottom: 6px;
}
.checkbox-group p span {
	font-size: 1.1em;
}
.checkbox-group p i.fa {
	margin-right: 6px;
}
.checkbox-group .checkbox-btn-wrapper {
	margin-left: 10px;
}
.checkbox-group .checkbox-btn-wrapper:hover {
	background-color: #f9f9f9;
}

.checkbox-group div.checkbox-group-header, .checkbox-bypass {
	padding: 10px;
	background: #f3f3f3;
}
.checkbox-group div.checkbox-group-header .checkbox.checkbox-inline {
	margin-right: 50px;
}
.checkbox-group div.tooltip + div.checkbox.checkbox-inline{
	margin-left: 10px;
}

.checkbox-group.vendor-type-lst {
	margin: 0;
}
.checkbox-group.vendor-type-lst div.checkbox-group-header {
	background: none;
	padding: 4px 0 0;
}
.checkbox-group.vendor-type-lst div.checkbox-group-header .checkbox.checkbox-inline {
	margin-right: 15px;
	margin-left: 0;
}
section.advanced-logics div.logic-item-container {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 30px;
	position: relative;
}
section.advanced-logics div.logic-item-container .logical-item:last-child{
	display: none;
}
section.advanced-logics div.logic-item-container .remove-btn:after {
	content: '\f1f8';
	font-family: FontAwesome;
	margin-right: 6px;
	font-size: 1.6em;
	color: #299c0e;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}
section.advanced-logics div.logic-item-container .custom-question-title {
	font-size: 1.1em;
	border-bottom: 1px solid #ccc;
	padding-bottom: 6px;
	margin-bottom: 6px;
	padding-right: 20px;
}
section.advanced-logics div.logic-item-container .expression-text {
	font-weight: bold;
	padding: 6px 0 0;
	text-transform: lowercase;
	color: #299c0e;
}
section.advanced-logics div.logic-item-container .expression-text:before {
	content: 'Expression:';
	font-family: Arial;
	color: #6a6a6a;
	padding-right: 10px;
	font-weight: normal;
	text-transform: capitalize;
}
section.advanced-logics div.logic-item-container .expression-text span {
	color: #0070b8;
	text-transform: uppercase;
}

section.advanced-logics div.logic-item-container .custom-question-title .target-item {
	font-weight: bold;
}
section.advanced-logics div.logic-item-container .custom-question-title .target-item:before {
	content: attr(data-target-type);
	font-family: Arial;
	margin-right: 6px;
	color: #ffffff;
	background: #299c0e;
	padding: 2px 4px;
}
section.advanced-logics div.logic-item-container .condition-item {
	padding: 6px 16px;
	background: #efefef;
}
section.advanced-logics div.logic-item-container .condition-item .target-item{
	font-weight: bold;
}
section.advanced-logics div.logic-item-container .logical-item {
	padding: 6px 2px;
	color: #299c0e;
	font-size: 1.1em;
}
section.advanced-logics div.logic-item-container .logical-item a {
	margin-left: 20px;
}
section.advanced-logics div.logic-item-container .add-new-condition-panel {
	padding: 8px 0 0;
}
section.advanced-logics div.logic-item-container .add-new-condition-panel:before {
	content: '\f055';
	font-family: FontAwesome;
	margin-right: 6px;
	color: #299c0e;
}
section.advanced-logics div.logic-item-container .logical-item.indent0, section.advanced-logics div.logic-item-container .condition-item.indent0 {
	margin-left: 0px;
}
section.advanced-logics div.logic-item-container .logical-item.indent1, section.advanced-logics div.logic-item-container .condition-item.indent1 {
	margin-left: 20px;
}
section.advanced-logics div.logic-item-container .logical-item.indent2, section.advanced-logics div.logic-item-container .condition-item.indent2 {
	margin-left: 40px;
}
section.advanced-logics div.logic-item-container .logical-item.indent3, section.advanced-logics div.logic-item-container .condition-item.indent3 {
	margin-left: 60px;
}
section.advanced-logics div.logic-item-container .logical-item.indent4, section.advanced-logics div.logic-item-container .condition-item.indent4 {
	margin-left: 80px;
}
section.advanced-logics div.logic-item-container .logical-item.indent5, section.advanced-logics div.logic-item-container .condition-item.indent5 {
	margin-left: 100px;
}
section.advanced-logics div.logic-item-container .logical-item.indent6, section.advanced-logics div.logic-item-container .condition-item.indent6 {
	margin-left: 120px;
}
.dialog-content .form-group .custom-question-title {
	background: #efefef;
	padding: 6px;
}
.dialog-content .form-group .custom-question-title p {
	margin: 0;
}
.dialog-content .form-group .custom-question-title p.target-item {
	font-weight: bold;
}
.dialog-content .form-group .custom-question-title p.target-item:before {
	content: attr(data-target-type);
	font-family: Arial;
	margin-right: 6px;
	color: #ffffff;
	background: #299c0e;
	padding: 2px 4px;
}
.loan-list {
	padding: 20px;
}
.loan-list>div {
	margin: 20px 0;
	width: 100%;
	border: 1px solid #0070b8;
	padding: 10px;
	font-weight: bold;
	text-align: center;
	color:#337ab7;
	cursor: pointer;
	position: relative;
}
.loan-list > div:hover {
	color: #fff;	
	background: #337ab7;
}
.loan-list > div:after {
	content: '\f054';
	font-family: FontAwesome;
	right: 16px;
	color: #337ab7;
	position: absolute
}
.loan-list > div:hover:after {
	color: #fff;	
}
label.toggle-btn.Y-flag {
	color: #22c13c;
}
label.toggle-btn.N-flag {
	color: #ec3434;
}
section.migrate-settings .checkbox-group p:first-child span {
	font-weight: bold;
}

/**use by ckEditor*/
.sub_section_header {
    padding-top: 0px;
	font-family: Roboto-light, sans-serif;
	font-weight: lighter;
}
.sub_section_header .section-title {
	margin-left: 0px;
	font-size: 26px;
	padding-top: 5px;
}
.MemLabel-Indent {
	margin-left: 25px;
}
.CheckMark:before {
  text-indent:each-line;
  margin-right: .3em;
  text-align: center;
  content: '✔';
  color: green;
}
/****/
.user-list .user-info {
	display: flex;
}
.user-list .user-info>div {
	margin: auto 0;
}
.user-list .user-info div p {
	margin-bottom: 6px;
}
.user-list .user-info div p:first-child {
	font-weight: bold;
}
.user-list .user-info div p:last-child {
	margin-bottom: 0;
}
.avatar-wrapper {
	margin: 4px 10px;
	border: 1px solid #ccc;
	padding: 4px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
}
.avatar-wrapper .avatar {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-position: top center;
	border-radius: 25px;
	background-size: cover;
}
.profile-img .avatar-wrapper {
	width: 52px;
	height: 52px;
}
.profile-img .avatar-wrapper .avatar {
	width: 42px;
	height: 42px;
}
span.item-inline {
	display: inline-block;
	padding: 2px 6px;
	background: #ccc;
	margin: 2px auto;
	color: #fff;
}
span.item-inline.color-cc {
	background-color: #e6a667;
}
span.item-inline.color-pl {
	background-color: #289c17;
}
span.item-inline.color-vl {
	background-color: #3593e0;
}
.broadcast-section .html-editor {
	margin-bottom: 8px;
}
.broadcast-section .html-editor + div {
	text-align: right;
}
.broadcast-section .viewer {
	border: 1px solid #cecece;
	background: #fff;
	overflow: auto;
	padding: 10px 20px;
}
.rules-group-container .btn.btn-primary {
	padding: 1px 5px;
	background: initial;
	background-color: #ccc;
}
.rules-group-container .btn.btn-primary.active {
	background-color: #004e7f;
}
.table.ml-app-table > thead > tr > th:first-child, .table.ml-app-table > tbody > tr > td:first-child {
	text-align: left;
}
.table.ml-app-table tr>td {
	padding: 20px 20px 0;
}
.table.ml-app-table tr.row-info + tr>td {
	border-top: none;
}
.table.ml-app-table tr.row-info>td div {
	color: #bdbdbd;
	margin-bottom: 6px;
}
.table.ml-app-table tr.row-info>td div+div {
	color: #000;
}
.table.ml-app-table tr.app-lnk-container > td {
	padding: 10px 20px 20px;
	word-break: break-all;
}

.table.simple-table > thead > tr > th, .table.simple-table > tbody > tr > td {
	text-align: left;
}
.table.simple-table > tbody > tr > td {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.table.ips-table > thead > tr > th, .table.ips-table > tbody > tr > td {
	padding: 20px 0;
}
.table.ips-table > tbody > tr > td:first-child {
	width: 300px;
}
.table.ips-table > tbody > tr > td.no-comments {
	font-style: italic;
	color: #9e9d9d;
}
.table.ips-table > tbody > tr > td:nth-child(3), .table.ips-table > tbody > tr > td:nth-child(4) {
	text-align: center;
	width: 80px;
}
.table.ips-table > tbody > tr:nth-child(1n+6) {
	visibility: collapse;
	opacity: 0;
	transition: visibility 50ms linear 100ms, opacity 200ms;
}
.table.ips-table.show-all > tbody > tr{
	visibility: visible;
	opacity: 1;
	transition: visibility 50ms linear 100ms, opacity 200ms;
}
.table.ips-table+a:before {
	content: "View All IP Addresses"
}
.table.ips-table.show-all+a:before {
	content: "Hide IP Addresses"
}
.custom-list-rules-wrapper .custom-list-rule-item {
	padding: 8px 0 16px;
	margin: 4px 0 40px;
	border-bottom: 1px solid #eee;
}
.custom-list-rules-wrapper .custom-list-rule-item .form-group {
	margin-bottom: 10px;
}
.custom-list-rules-wrapper .custom-list-rule-item>div {
	position: relative;
	padding-right: 250px;
}
.custom-list-rules-wrapper .custom-list-rule-item .list-name {
	font-weight: 600;
}
.custom-list-rules-wrapper .custom-list-rule-item p {
	margin: 0;
}
.custom-list-rules-wrapper .custom-list-rule-item > div + p {
	margin: 8px 0;
}
.custom-list-rules-wrapper .custom-list-rule-btn {
	position: absolute;
	right: 0;
	top: calc(50% - 12px);
}
.custom-list-rules-wrapper .custom-list-rule-btn>p,.custom-list-rules-wrapper .custom-list-rule-btn>div {
	float: left;
}
.custom-list-rules-wrapper .custom-list-rule-btn>div {
	padding-top: 2px;
	text-transform: uppercase;
	margin: 0 12px 0 0;
}
.custom-list-rules-wrapper .custom-list-rule-item table {
	width: 100%;
	margin: 20px 0;
	table-layout: fixed;
}
.custom-list-rules-wrapper .custom-list-rule-item table th {
	text-align: center;
	background: #eeeeee;
}
.custom-list-rules-wrapper .custom-list-rule-item table th, .custom-list-rules-wrapper .custom-list-rule-item table td {
	padding: 6px 8px;
	border: 1px solid #ddd;
	word-break: break-word;
	word-wrap: break-word;/*for MS-Edge*/
}

.clr-template-list > .row {
	border-top: 1px solid #ddd;
	padding: 20px 0 10px;
	margin: 0 -20px;
}
.clr-template-list > .row:nth-child(even) {
	background-color: #ebebec;
}
.clr-template-list table {
	width: 80%;
}
.clr-template-list table th {
	background-color: #ddd;
}
.clr-template-list table th, .clr-template-list table td {
	padding: 6px 8px;
	border: 1px solid #ccc;
}
.clr-toggle-list-btn {
	margin-bottom: 4px;
}
.country-access-lst.scrollbar-outer {
	max-height: 300px;
	background-color: #f8f8f8;
	padding: 0 20px;
}
.form-group.ip-address >label {
	display: block;
} 
.form-group.ip-address >span {
	display: inline-block;
	font-weight: bold;
} 
.form-group.ip-address >input {
	width: 80px;
	display: inline-block;
}
.red {
	color: #ff0000;
}
.editor-nav-button {
	padding: 4px;
}
.editor-nav-button a {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.editor-nav-button .fa {
	font-size: 3em;
}
.editor-nav-button span {
	white-space: nowrap;
	font-size: 11px;
}
.require-ico:after {
	content: "*";
	color: red;
}
.form-group.clr-form-group>label:first-child+div {
	margin-top: -5px;
	margin-bottom: 5px;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-align-baseline {
	align-items: baseline;
}
.flex-spacer {
	flex-grow: 1;
}

.custom-application-scenarios-wrapper .custom-application-scenarios-item {
	padding: 8px 0 16px;
	margin: 4px 0 20px;
	border-bottom: 1px solid #eee;
}
.custom-application-scenarios-wrapper .custom-application-scenarios-item>div {
	position: relative;
	padding-right: 250px;
	margin: 4px 0;
}
.custom-application-scenarios-wrapper .custom-application-scenarios-item > div.collapse-able-area {
	padding-right: 0;
}
.custom-application-scenarios-wrapper .custom-application-scenarios-item > div.collapse-able-area>div {
	margin-top: 20px;
}
.custom-application-scenarios-wrapper .custom-application-scenarios-item > div.collapse-able-area>div p {
	color: #aeaeae;
}
.custom-application-scenarios-wrapper .custom-application-scenarios-item > div.collapse-able-area>div div {
	font-size: 0.95em;
	font-weight: 600;
}
.collapsed div.collapse-able-area {
	display: none;
}
.custom-application-scenarios-wrapper .custom-application-scenarios-item .scenario-name {
	font-weight: 600;
}
.collapse-btn>span {
	background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3C%21DOCTYPE%20svg%20%20PUBLIC%20%27-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%27%20%20%27http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%27%3E%3Csvg%20height%3D%2218px%22%20id%3D%22Layer_1%22%20style%3D%22enable-background%3Anew%200%200%20512%20512%3B%22%20version%3D%221.1%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%2218px%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpath%20d%3D%22M98.9%2C184.7l1.8%2C2.1l136%2C156.5c4.6%2C5.3%2C11.5%2C8.6%2C19.2%2C8.6c7.7%2C0%2C14.6-3.4%2C19.2-8.6L411%2C187.1l2.3-2.6%20%20c1.7-2.5%2C2.7-5.5%2C2.7-8.7c0-8.7-7.4-15.8-16.6-15.8v0H112.6v0c-9.2%2C0-16.6%2C7.1-16.6%2C15.8C96%2C179.1%2C97.1%2C182.2%2C98.9%2C184.7z%22%20fill%3D%22%236a6a6a%22%2F%3E%3C%2Fsvg%3E');
	background-position: center center;
	background-repeat: no-repeat;
	width: 20px;
	height: 8px;
	display: inline-block;
	cursor: pointer;
	margin-left: 4px;
}
.collapsed .collapse-btn>span {
	background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3C%21DOCTYPE%20svg%20%20PUBLIC%20%27-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%27%20%20%27http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%27%3E%3Csvg%20height%3D%2218px%22%20id%3D%22Layer_1%22%20style%3D%22enable-background%3Anew%200%200%20512%20512%3B%22%20version%3D%221.1%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%2218px%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpath%20d%3D%22M413.1%2C327.3l-1.8-2.1l-136-156.5c-4.6-5.3-11.5-8.6-19.2-8.6c-7.7%2C0-14.6%2C3.4-19.2%2C8.6L101%2C324.9l-2.3%2C2.6%20%20C97%2C330%2C96%2C333%2C96%2C336.2c0%2C8.7%2C7.4%2C15.8%2C16.6%2C15.8v0h286.8v0c9.2%2C0%2C16.6-7.1%2C16.6-15.8C416%2C332.9%2C414.9%2C329.8%2C413.1%2C327.3z%22%20fill%3D%22%236a6a6a%22%2F%3E%3C%2Fsvg%3E');
	height: 10px;
}
.custom-application-scenarios-wrapper .custom-application-scenarios-btn {
	position: absolute;
	right: 0;
	top: calc(50% - 12px);
}
.custom-application-scenarios-wrapper .custom-application-scenarios-btn > div {
	float: left;
	padding-top: 2px;
	text-transform: uppercase;
	margin: 0 12px 0 0;
}
.custom-application-scenarios-wrapper .custom-application-scenarios-item .scenario-url {
	display: flex;
}
.custom-application-scenarios-wrapper .custom-application-scenarios-item .scenario-url >span {
	background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20height%3D%2216%22%20viewBox%3D%220%200%201792%201792%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M768%201664h896v-640h-416q-40%200-68-28t-28-68v-416h-384v1152zm256-1440v-64q0-13-9.5-22.5t-22.5-9.5h-704q-13%200-22.5%209.5t-9.5%2022.5v64q0%2013%209.5%2022.5t22.5%209.5h704q13%200%2022.5-9.5t9.5-22.5zm256%20672h299l-299-299v299zm512%20128v672q0%2040-28%2068t-68%2028h-960q-40%200-68-28t-28-68v-160h-544q-40%200-68-28t-28-68v-1344q0-40%2028-68t68-28h1088q40%200%2068%2028t28%2068v328q21%2013%2036%2028l408%20408q28%2028%2048%2076t20%2088z%22%20fill%3D%22%236a6a6a%22%2F%3E%3C%2Fsvg%3E');
	background-position: center center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
}
.form-group.cas-form-group {
	margin: 8px 0 15px 0;
}
.form-group.cas-form-group>label:first-child+div {
	margin-top: 0;
	margin-bottom: 10px;
}
.form-group.cas-form-group .inline-control-group .radio-inline {
	margin-right: 20px;
	line-height: 36px;
}
.form-group.cas-form-group .inline-control-group .radio-inline>input {
	margin-right: 20px;
	top: 8px;
}
.form-group.cas-form-group .inline-control-group .select-inline {
	display: inline-block;
	width: auto;
}
.custom-application-scenarios-modal .preselected-products-wrapper .edit-btn, .custom-application-scenarios-modal .required-products-wrapper .edit-btn, .custom-application-scenarios-modal .available-products-wrapper .edit-btn {
	display: inline;
}
.custom-application-scenarios-modal .preselected-products-wrapper .add-btn, .custom-application-scenarios-modal .required-products-wrapper .add-btn, .custom-application-scenarios-modal .available-products-wrapper .add-btn {
	display: none;
}
.custom-application-scenarios-modal .preselected-products-wrapper.no-product-selected .edit-btn, .custom-application-scenarios-modal .required-products-wrapper.no-product-selected .edit-btn, .custom-application-scenarios-modal .available-products-wrapper.no-product-selected .edit-btn {
	display: none;
}
.custom-application-scenarios-modal .preselected-products-wrapper.no-product-selected .add-btn, .custom-application-scenarios-modal .required-products-wrapper.no-product-selected .add-btn, .custom-application-scenarios-modal .available-products-wrapper.no-product-selected .add-btn {
	display: inline-block;
}
.custom-application-scenarios-preview-wrapper {
	padding: 0 20px; 
	margin-top: 20px;
}
.custom-application-scenarios-preview-wrapper>div {
	border-top: 1px solid #ddd;
	padding: 20px 0 20px;
	margin: 0 -20px;
	position: relative;
}
.custom-application-scenarios-preview-wrapper > div > div {
	margin-right: 150px;
	margin-left: 20px;
}
.custom-application-scenarios-preview-wrapper p {
	margin: 0;
}
.custom-application-scenarios-preview-wrapper > div > a {
	position: absolute;
	height: 34px;
	top: calc(50% - 16px);
	right: 20px;
}
.custom-application-scenarios-preview-wrapper>div:nth-child(even) {
	background-color: #ebebec;
}

.custom-application-scenarios-preview-wrapper p {
	font-weight: 600;
}
