﻿/* -----------------------------------------
   Pace loader
----------------------------------------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #29b6d8;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29b6d8, 0 0 5px #29b6d8;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 75px;
  right: 25px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #29b6d8;
  border-left-color: #29b6d8;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}
@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*boostrap snipped*/

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
	  line-height: 18px;
	  outline: none;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; 
}
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
	outline: none;
}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; 
}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); 
}
.radio input[type="radio"] {
	opacity: 0;
	outline: none;
}
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
	outline: none;
}
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); 
}
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; 
}
.radio input[type="radio"]:disabled + label::before {
	cursor: not-allowed; 
}
.radio.radio-inline {
	margin-top: 0; 
}
.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }
.radio-md label {
	padding-left: 10px;
}
.radio-md label::before{
	width: 24px;
	height: 24px;
	top: -2px;
}
.radio-md label::after{
	width: 18px;
	height: 18px;
	top: 1px;
}


.tooltip-inner {
	padding: 8px;
}



/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
	overflow: hidden !important;
	padding: 0 !important;
	position: relative;
}

	.scroll-wrapper > .scroll-content {
		border: none !important;
		box-sizing: content-box !important;
		height: auto;
		left: 0;
		margin: 0;
		max-height: none;
		max-width: none !important;
		overflow: scroll !important;
		padding: 0;
		position: relative !important;
		top: 0;
		width: auto !important;
	}

		.scroll-wrapper > .scroll-content::-webkit-scrollbar {
			height: 0;
			width: 0;
		}

.scroll-element {
	display: none;
}

	.scroll-element, .scroll-element div {
		box-sizing: content-box;
	}

		.scroll-element.scroll-x.scroll-scrollx_visible,
		.scroll-element.scroll-y.scroll-scrolly_visible {
			display: block;
		}

		.scroll-element .scroll-bar,
		.scroll-element .scroll-arrow {
			cursor: default;
		}

.scroll-textarea {
	border: 1px solid #cccccc;
	border-top-color: #999999;
}

	.scroll-textarea > .scroll-content {
		overflow: hidden !important;
	}

		.scroll-textarea > .scroll-content > textarea {
			border: none !important;
			box-sizing: border-box;
			height: 100% !important;
			margin: 0;
			max-height: none !important;
			max-width: none !important;
			overflow: scroll !important;
			outline: none;
			padding: 2px;
			position: relative !important;
			top: 0;
			width: 100% !important;
		}

			.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
				height: 0;
				width: 0;
			}




/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10;
}

	.scrollbar-inner > .scroll-element div {
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
	}

	.scrollbar-inner > .scroll-element.scroll-x {
		bottom: 2px;
		height: 8px;
		left: 0;
		width: 100%;
	}

	.scrollbar-inner > .scroll-element.scroll-y {
		height: 100%;
		right: 2px;
		top: 0;
		width: 8px;
	}

	.scrollbar-inner > .scroll-element .scroll-element_outer {
		overflow: hidden;
	}

	.scrollbar-inner > .scroll-element .scroll-element_outer,
	.scrollbar-inner > .scroll-element .scroll-element_track,
	.scrollbar-inner > .scroll-element .scroll-bar {
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}

	.scrollbar-inner > .scroll-element .scroll-element_track,
	.scrollbar-inner > .scroll-element .scroll-bar {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
		opacity: 0.4;
	}

	.scrollbar-inner > .scroll-element .scroll-element_track {
		background-color: #e0e0e0;
	}

	.scrollbar-inner > .scroll-element .scroll-bar {
		background-color: #c2c2c2;
	}

	.scrollbar-inner > .scroll-element:hover .scroll-bar {
		background-color: #919191;
	}

	.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
		background-color: #919191;
	}


	/* update scrollbar offset if both scrolls are visible */

	.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
		left: -12px;
	}

	.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
		top: -12px;
	}


	.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
		left: -12px;
	}

	.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
		top: -12px;
	}

/*************** SIMPLE OUTER SCROLLBAR ***************/

.scrollbar-outer > .scroll-element,
.scrollbar-outer > .scroll-element div {
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10;
}

.scrollbar-outer > .scroll-element {
	background-color: #ffffff;
}

	.scrollbar-outer > .scroll-element div {
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
	}

	.scrollbar-outer > .scroll-element.scroll-x {
		bottom: 0;
		height: 12px;
		left: 0;
		width: 100%;
	}

	.scrollbar-outer > .scroll-element.scroll-y {
		height: 100%;
		right: 0;
		top: 0;
		width: 12px;
	}

	.scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer {
		height: 8px;
		top: 2px;
	}

	.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
		left: 2px;
		width: 8px;
	}

	.scrollbar-outer > .scroll-element .scroll-element_outer {
		overflow: hidden;
	}

	.scrollbar-outer > .scroll-element .scroll-element_track {
		background-color: #eeeeee;
	}

	.scrollbar-outer > .scroll-element .scroll-element_outer,
	.scrollbar-outer > .scroll-element .scroll-element_track,
	.scrollbar-outer > .scroll-element .scroll-bar {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}

	.scrollbar-outer > .scroll-element .scroll-bar {
		background-color: #d9d9d9;
	}

		.scrollbar-outer > .scroll-element .scroll-bar:hover {
			background-color: #c2c2c2;
		}

	.scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar {
		background-color: #919191;
	}


/* scrollbar height/width & offset from container borders */

.scrollbar-outer > .scroll-content.scroll-scrolly_visible {
	left: -12px;
	margin-left: 12px;
}

.scrollbar-outer > .scroll-content.scroll-scrollx_visible {
	top: -12px;
	margin-top: 12px;
}

.scrollbar-outer > .scroll-element.scroll-x .scroll-bar {
	min-width: 10px;
}

.scrollbar-outer > .scroll-element.scroll-y .scroll-bar {
	min-height: 10px;
}


/* update scrollbar offset if both scrolls are visible */

.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
	left: -14px;
}

.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
	top: -14px;
}

.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
	left: -14px;
}

.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
	top: -14px;
}

.rule-value-container input[type='number'] {
	max-width: 170px;	
}
.query-builder .rule-container .rule-filter-container {
	margin-bottom: 8px;
	max-width: 100%;
}
.query-builder .rule-container .rule-filter-container>* {
	max-width: 90%;
}
.closable-dialog .modal-header {
	line-height: 25px;	
}
.closable-dialog .bootstrap-dialog-header .bootstrap-dialog-close-button {
	width: 25px;
	height: 25px;
	background-color: #5cb85c;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-ms-opacity: 1;
	opacity: 1;
}

.closable-dialog .bootstrap-dialog-header .bootstrap-dialog-close-button .close {
	margin-top: 1px;
	width: 100%;
	color: #fff;
	-ms-opacity: 1;
	opacity: 1;
}