﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="AgentHandler.aspx.vb" Inherits="agent_AgentHandler" %>
<%@ Reference Control="~/agent/uc/LoanList.ascx" %>
<%@ Reference Control="~/agent/uc/AgentList.ascx" %>
<%@ Reference Control="~/agent/uc/AddAgentForm.ascx" %>
<%@ Reference Control="~/agent/uc/EditProfileForm.ascx" %>
<%@ Reference Control="~/agent/uc/ChangePasswordForm.ascx" %>